<!-- Link Page -->
<!-- <div class="path">
    <span>{{langs.get('title')[selectlang]}}</span>
    <div>
        <i></i>
        <a routerLink="/attendance/policy">{{langs.get('policy')[selectlang]}}</a>
        <i></i>
        <small>{{langs.get('diligence')[selectlang]}}</small>
    </div>
</div> -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>
<!-- ---------END Link Page----------- -->
<hr>
<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items"></p-menubar>
</div>
<!-- ----------------END MENU----------------- -->
<div class="tabledata">
    <!-- Table Show Data Year Period -->
    <div #TABLE>
        <p-table #dt2 [value]="diligence_list" selectionMode="single" [(selection)]="diligences"
            (onRowSelect)="onRowSelect($event)" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            currentPageReportTemplate="{{langs.get('showing')[selectlang]}} {first} {{langs.get('to')[selectlang]}} {last} {{langs.get('of')[selectlang]}}  {totalRecords} {{langs.get('entries')[selectlang]}}"
            [globalFilterFields]="['year_code','year_name_en','modified_by','modified_date']" responsiveLayout="stack"
            [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable">
                    <div>

                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{langs.get('search')[selectlang]}}" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header">
                <tr>
                    <th>{{langs.get('no')[selectlang]}}</th>
                    <th>{{langs.get('code')[selectlang]}}</th>
                    <th>{{langs.get('description')[selectlang]}}</th>
                    <th>{{langs.get('modified_by')[selectlang]}}</th>
                    <th>{{langs.get('modified_date')[selectlang]}}</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex">
                <tr [pSelectableRow]="data">
                    <td><span>{{langs.get('no')[selectlang]}}</span>{{i+1}}</td>
                    <td><span>{{langs.get('code')[selectlang]}}</span>{{data.diligence_code}}</td>
                    <td><span>{{langs.get('description')[selectlang]}}</span>{{selectlang=="EN"?data.diligence_name_en:data.diligence_name_th}}
                    </td>
                    <td><span>{{langs.get('modified_by')[selectlang]}}</span>{{data.modified_by}}</td>
                    <td><span>{{langs.get('modified_date')[selectlang]}}</span>{{data.modified_date |
                        date:'dd/MM/yyyy'}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- -----------------------END Table-------------------------- -->

    <!-- Form input or Edit Data Year Period -->
    <form (ngSubmit)="Save()" #Form="ngForm">
        <p-dialog [(visible)]="new_data" position="right" (onHide)="close()">
            <div style="display: flex;justify-content: center;" *ngIf="new_data">
                <div class="formatt">
                    <i (click)="close()"></i>

                    <label>{{langs.get('code')[selectlang]}}<span style="color: red;"> *</span></label>
                    <input pInputText type="text" [(ngModel)]="diligences.diligence_code" maxlength="10"
                        disabled="{{edit_data}}" name="code" #code="ngModel" required />
                    <p>{{diligences.diligence_code.length}}/10</p>

                    <label>{{langs.get('description')[selectlang]}} (Eng.)<span style="color: red;"> *</span></label>
                    <textarea [(ngModel)]="diligences.diligence_name_en" pInputTextarea [autoResize]="true"
                        name="diligence_name_en" #diligence_name_en="ngModel" required></textarea>

                    <label>{{langs.get('description')[selectlang]}} (Thai)<span style="color: red;"> *</span></label>
                    <textarea [(ngModel)]="diligences.diligence_name_th" pInputTextarea [autoResize]="true"
                        name="diligence_name_th" #diligence_name_th="ngModel" required></textarea>
                    <div class="inputincheckbox">
                        <div class="inputcheckbox">
                            <input type="checkbox" value="N" [(ngModel)]="diligences.diligence_passpro"
                                name="diligence_passpro" #diligence_passpro="ngModel">
                              <label>{{langs.get('passpro')[selectlang]}}</label>
                        </div>
                    </div>

                    <div class="inputincheckbox">
                        <div class="inputcheckbox">
                            <input type="checkbox" value="N" [(ngModel)]="diligences.diligence_punchcard"
                                name="diligence_punchcard" #diligence_punchcard="ngModel">
                              <label>{{langs.get('punchcard')[selectlang]}}</label>
                        </div>
                        <div class="inputvalue">
                            <div>
                                <label>{{langs.get('times')[selectlang]}}</label>
                                <p-inputNumber [(ngModel)]="diligences.diligence_punchcard_times" [useGrouping]="false"
                                    [disabled]="!diligences.diligence_punchcard" name="diligence_punchcard_times"
                                    #diligence_punchcard_times="ngModel"></p-inputNumber>
                            </div>
                            <div>
                                <label>{{langs.get('permonth')[selectlang]}}</label>
                                <p-inputNumber [(ngModel)]="diligences.diligence_punchcard_timespermonth"
                                    [useGrouping]="false" [disabled]="!diligences.diligence_punchcard"
                                    name="diligence_punchcard_timespermonth"
                                    #diligence_punchcard_timespermonth="ngModel"></p-inputNumber>
                            </div>
                        </div>
                    </div>
                    <div class="inputincheckbox">
                        <div class="inputcheckbox">
                            <input type="checkbox" value="N" [(ngModel)]="diligences.diligence_late"
                                name="diligence_lates" #diligence_lates="ngModel">
                              <label>{{langs.get('late')[selectlang]}}</label>
                        </div>
                        <div class="inputvalue">
                            <div>
                                <label>{{langs.get('times')[selectlang]}}</label>
                                <p-inputNumber [(ngModel)]="diligences.diligence_late_times" [useGrouping]="false"
                                    [disabled]="!diligences.diligence_late" name="diligence_late_times"
                                    #diligence_late_times="ngModel"></p-inputNumber>
                            </div>
                            <div>
                                <label>{{langs.get('minute')[selectlang]}}</label>
                                <p-inputNumber [(ngModel)]="diligences.diligence_late_acc" [useGrouping]="false"
                                    [disabled]="!diligences.diligence_late" name="diligence_late"
                                    #diligence_late="ngModel"></p-inputNumber>
                            </div>
                            <div>
                                <label>{{langs.get('permonth')[selectlang]}}</label>
                                <p-inputNumber [(ngModel)]="diligences.diligence_late_timespermonth"
                                    [useGrouping]="false" [disabled]="!diligences.diligence_late"
                                    name="diligence_late_timespermonth"
                                    #diligence_late_timespermonth="ngModel"></p-inputNumber>
                            </div>
                        </div>
                    </div>

                    <div class="inputincheckbox">
                        <div class="inputcheckbox">
                            <input type="checkbox" value="N" [(ngModel)]="diligences.diligence_ba" name="diligence_ba"
                                #diligence_ba="ngModel">
                              <label>{{langs.get('inout')[selectlang]}}</label>
                        </div>
                        <div class="inputvalue">
                            <div>
                                <label>{{langs.get('before')[selectlang]}}</label>
                                <p-inputNumber [(ngModel)]="diligences.diligence_before_min" [useGrouping]="false"
                                    [disabled]="!diligences.diligence_ba" name="diligence_before_min"
                                    #diligence_before_min="ngModel"></p-inputNumber>
                            </div>
                            <div>
                                <label>{{langs.get('after')[selectlang]}}</label>
                                <p-inputNumber [(ngModel)]="diligences.diligence_after_min" [useGrouping]="false"
                                    [disabled]="!diligences.diligence_ba" name="diligence_after_min"
                                    #diligence_after_min="ngModel"></p-inputNumber>
                            </div>
                        </div>
                    </div>
                    <div class="radiorole">
                        <label>{{langs.get('violate')[selectlang]}}</label>
                        <div class="radioroledata">
                            <div>
                                  <input type="radio" name="roel" value="1"
                                    [(ngModel)]="diligences.diligence_wrongcondition" name="diligence_wrongcondition1"
                                    #diligence_wrongcondition1="ngModel">
                                  <label>{{langs.get('downandpay')[selectlang]}}</label>
                            </div>
                            <div>
                                  <input type="radio" name="roel" value="2"
                                    [(ngModel)]="diligences.diligence_wrongcondition" name="diligence_wrongcondition2"
                                    #diligence_wrongcondition2="ngModel">
                                  <label>{{langs.get('downandnotpay')[selectlang]}}</label>
                            </div>
                            <div>
                                  <input type="radio" name="roel" value="3"
                                    [(ngModel)]="diligences.diligence_wrongcondition" name="diligence_wrongcondition3"
                                    #diligence_wrongcondition3="ngModel">
                                  <label>{{langs.get('beforeandpay')[selectlang]}}</label>
                            </div>
                            <div>
                                  <input type="radio" name="roel" value="4"
                                    [(ngModel)]="diligences.diligence_wrongcondition" name="diligence_wrongcondition4"
                                    #diligence_wrongcondition4="ngModel">
                                  <label>{{langs.get('beforeandnotpay')[selectlang]}}</label>
                            </div>
                            <div>
                                  <input type="radio" name="roel" value="5"
                                    [(ngModel)]="diligences.diligence_wrongcondition" name="diligence_wrongcondition5"
                                    #diligence_wrongcondition5="ngModel">
                                  <label>{{langs.get('start')[selectlang]}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="inputincheckbox">
                        <div class="inputcheckbox">
                            <input type="checkbox" value="N" [(ngModel)]="diligences.diligence_someperiod"
                                name="diligence_someperiod" #diligence_someperiod="ngModel">
                              <label>{{langs.get('someperiod')[selectlang]}}</label>
                        </div>
                        <div class="inputvalue">
                              <input type="radio" name="someperiod" value="Y"
                                [(ngModel)]="diligences.diligence_someperiod_first" name="diligence_someperiod_first"
                                #diligence_someperiod_first="ngModel">
                              <label>{{langs.get('firstperiod')[selectlang]}}</label>

                              <input type="radio" name="someperiod" value="N"
                                [(ngModel)]="diligences.diligence_someperiod_first" name="diligence_someperiod_first2"
                                #diligence_someperiod_first2="ngModel">
                              <label>{{langs.get('secondperiod')[selectlang]}}</label>
                        </div>
                    </div>
                    <div #TABLELIST>
                        <p-accordion>
                            <p-accordionTab header="{{langs.get('step')[selectlang]}}">
                                <p-menubar [model]="itemsstep"></p-menubar>
                                <p-table [value]="diligences.steppay_data" styleClass="p-datatable-sm"
                                    (onRowSelect)="onRowSelectList($event)" [scrollable]="true" scrollHeight="220px"
                                    [virtualScroll]="true" selectionMode="single" [(selection)]="diligencestep">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <!-- <th>No.</th> -->
                                            <th>{{langs.get('step')[selectlang]}}</th>
                                            <th>{{langs.get('type')[selectlang]}}</th>
                                            <th>{{langs.get('amount')[selectlang]}}</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-data let-i="rowIndex">
                                        <tr [pSelectableRow]="data">
                                            <!-- <td>{{i+1}}</td> -->
                                            <td>{{data.steppay_step}}</td>
                                            <td>{{data.steppay_type == "1"?"Amount":data.steppay_type ==
                                                "2"?"Percent":data.steppay_type == "3"?"Miniute/Day":null}}</td>
                                            <td>{{data.steppay_amount}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </p-accordionTab>
                        </p-accordion>
                    </div>
                    <button *ngIf="!edit_data" pRipple pButton type="submit" label="{{langs.get('save')[selectlang]}}"
                        icon="pi pi-check" [disabled]="!Form.form.valid" class="p-button-secondary"></button>
                    <button *ngIf="edit_data" pRipple pButton type="submit" label="{{langs.get('save')[selectlang]}}"
                        icon="pi pi-check"
                        [disabled]="(!Form.form.valid == this.accessData.accessdata_edit)|| !this.accessData.accessdata_edit"
                        class="p-button-secondary"></button>
                    <button *ngIf="edit_data" pRipple pButton type="button" label="{{langs.get('delete')[selectlang]}}"
                        (click)="Delete()" icon="pi pi-trash" [disabled]="!this.accessData.accessdata_delete"
                        class="p-button-secondary btndel"></button>
                </div>
            </div>
        </p-dialog>

        <div *ngIf="new_data" style="z-index: 1084;"
            class="p-component-overlay p-sidebar-mask p-component-overlay-enter" (click)="close()"></div>
    </form>
    <!-- --------------End form Input Data ------------------ -->
</div>





<p-dialog header="{{langs.get('step')[selectlang]}}" [(visible)]="displayaddstep" [maximizable]="true"
    (onHide)="closedispaly()">
    <div class="formatt">
        <label>{{langs.get('step')[selectlang]}}</label>
        <p-inputNumber [(ngModel)]="diligencestep.steppay_step" [useGrouping]="false"></p-inputNumber>
        <div>
              <input type="radio" name="fav_language" value="1" [(ngModel)]="diligencestep.steppay_type">
              <label>{{langs.get('amount')[selectlang]}}</label>

              <input type="radio" name="fav_language" value="2" [(ngModel)]="diligencestep.steppay_type">
              <label>{{langs.get('percent')[selectlang]}}</label>

              <input type="radio" name="fav_language" value="3" [(ngModel)]="diligencestep.steppay_type">
              <label>{{langs.get('md')[selectlang]}}</label>
        </div>
        <label>{{langs.get('amount')[selectlang]}}</label>
        <p-inputNumber [(ngModel)]="diligencestep.steppay_amount" [useGrouping]="false"></p-inputNumber>
    </div>
    <ng-template pTemplate="footer">
        <button *ngIf="displayeditstep" pButton type="button" label="{{langs.get('delete')[selectlang]}}"
            icon="pi pi-trash" class="p-button-danger" (click)="Deletestep()"></button>
        <button pButton type="button" label="{{langs.get('save')[selectlang]}}" icon="pi pi-check"
            (click)="Savestep()"></button>
    </ng-template>
</p-dialog>

<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="{{langs.get('upload')[selectlang]}}" [(visible)]="displayUpload">
    <label class="drop-container">
        <span class="drop-title">{{langs.get('dropfile')[selectlang]}}</span>
        <input type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            required (change)="handleFileInput($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="Uploadfile()" label="{{langs.get('upload')[selectlang]}}"></p-button>
    </ng-template>
</p-dialog>

<!-- -----------------End Dialog Choose File-------------------- -->


<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<!-- ----------------------END Confirm and Toast------------------------ -->