<span style="font-size: 20px;">{{title_payroll[initial_current.Language]}}</span>&nbsp;
<i class="pi pi-angle-right"></i>&nbsp; <small>{{title_page[initial_current.Language]}}</small>
<hr>


<table style="width: 600px;">
    <tr>
        <td>
            <i class="pi pi-angle-left" style="font-size: 2rem" (click)="doBackWorker()"></i>
        </td>
        <td>
            <input id="lastname2" type="text" [value]="worker_code" name="worker_code" style="text-align: center;"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </td>
        <td>
            <i class="pi pi-angle-right" style="font-size: 2rem" (click)="doNextWorker()"></i>
        </td>
        <td>
            <i class="pi pi-search"></i>
        </td>
        <td style="width: 300px;">
            <input id="lastname2" type="text" [value]="worker_name" style="width: 300px;"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </td>
    </tr>
</table>
<p></p>

<div class="grid">
    <div class="col-12 ">

        <div class="formgrid grid">
            <div class="field col-12">
                <p-table #dt2 styleClass="p-datatable-sm" [tableStyle]="{'min-width': '100%'}" [scrollable]="true"
                    [value]="payitemINList" scrollHeight="200px" [virtualScroll]="true" selectionMode="single"
                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="false"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{title_income[initial_current.Language]}}</th>
                            <th>{{title_incomename[initial_current.Language]}}</th>
                            <th>{{title_amount[initial_current.Language]}}</th>
                            <th>{{title_quantity[initial_current.Language]}}</th>
                            <th>{{title_modified_by[initial_current.Language]}}</th>
                            <th>{{title_modified_date[initial_current.Language]}}</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td>{{data.item_code}}</td>
                            <td>{{data.item_detail}}</td>
                            <td>{{data.payitem_amount | number}}</td>
                            <td>{{data.payitem_quantity | number}}</td>
                            <td>{{data.modified_by}}</td>
                            <td>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="field col-12">
                <p-table #dt2 styleClass="p-datatable-sm" [tableStyle]="{'min-width': '100%'}" [scrollable]="true"
                    [value]="payitemDEList" scrollHeight="200px" [virtualScroll]="true" selectionMode="single"
                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="false"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{title_deduct[initial_current.Language]}}</th>
                            <th>{{title_deductname[initial_current.Language]}}</th>
                            <th>{{title_amount[initial_current.Language]}}</th>
                            <th>{{title_quantity[initial_current.Language]}}</th>
                            <th>{{title_modified_by[initial_current.Language]}}</th>
                            <th>{{title_modified_date[initial_current.Language]}}</th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td>{{data.item_code}}</td>
                            <td>{{data.item_detail}}</td>
                            <td>{{data.payitem_amount | number}}</td>
                            <td>{{data.payitem_quantity | number}}</td>
                            <td>{{data.modified_by}}</td>
                            <td>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="field col-12">
                <p-table #dt17 styleClass="p-datatable-sm" [tableStyle]="{'min-width': '150rem'}" [scrollable]="true"
                    scrollHeight="200px" [virtualScroll]="true" selectionMode="single" [rows]="10"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>เงินได้คำนวณภาษี</th>
                            <th>เงินได้ไม่คำนวณภาษี</th>
                            <th>เงินหักคำนวณภาษี</th>
                            <th>เงินหักไม่คำนวณภาษี</th>
                            <th>40(1)</th>
                            <th>40(1) ร้อยละ 3</th>
                            <th>40(1)(2)</th>
                            <th>40(2)</th>
                            <th>ภาษี 40(1)</th>
                            <th>ภาษี 40(1) ร้อยละ 3</th>
                            <th>ภาษี 40(1)(2)</th>
                            <th>ภาษี 40(2)</th>
                            <th>ประกันสังคมสะสม</th>
                            <th>ประกันสังคมสมทบ</th>
                            <th>กองทุนฯสะสม</th>
                            <th>กองทุนฯสมทบ</th>
                            <th>{{title_modified_by[initial_current.Language]}}</th>
                            <th>{{title_modified_date[initial_current.Language]}}</th>
                        </tr>

                    </ng-template>
                </p-table>
            </div>

        </div>

    </div>
</div>