<h4>Genaral system</h4>
<br>

<span>Links</span>
<p></p>
<div class="grid">


    <div class="col-12 md:col-3">
        <b>Genaral</b>
        <a routerLink="../../system/system-reason">Reason</a>
        <!-- <a routerLink="../../system/emp-id">แก้Structure code</a> -->
        <a>Structure code</a>
        <a routerLink="../../system/system-organization-level">Level</a>
        <a routerLink="../../system/bank">Bank</a>
        <a routerLink="../../system/system-card-type">Card Type</a>
        <a routerLink="../../system/system-family-type">Family Type</a>
        <a routerLink="../../system/system-address-type">Address Type</a>
        <a routerLink="../../system/system-province">Province</a>
        <a routerLink="../../system/system-religion">Religion</a>
        <a routerLink="../../system/system-ethnicity">Ethnicity</a>
        <a routerLink="../../system/system-bloodtype">Bloodtype</a>
        <a routerLink="../../system/system-hospital">Hospital</a>
        <a routerLink="../../system/system-location">Location</a>
        <a routerLink="../../system/system-reduce">Reduce</a>
        <a routerLink="../../system/system-yearperiod">Year</a>

        <!-- <a >EmpID Structure</a>
        <a >Organization Level</a>
        <a >Bank</a>
        <a >Card Type</a>
        <a >Family Type</a>
        <a >Address Type</a>
        <a >Province</a>
        <a >Religion</a>
        <a  routerLink="../../system/bank">Bank</a> -->

    </div>

    <div class="col-12 md:col-3">
        <b>การฝึกอบรม</b>

        <a routerLink="../../system/course">Course</a>
        <a routerLink="../../system/institute">Institute</a>
        <!-- ////// -->
        <b>การศึกษา</b>
        <!-- <a routerLink="../../system/institute">Institute</a> -->
        <a routerLink="../../system/faculty">Faculty</a>
        <a routerLink="../../system/major">Major</a>
        <a routerLink="../../system/qualification">Qualification</a>
    </div>

    <div class="col-12 md:col-3">
        <b>Rounding</b>
        <a>Round Decimal</a>
        <a>Round Time</a>
        <a>Set Policy</a>
    </div>


    <div class="col-12 md:col-3">
        <!-- <b>Payroll</b>
        <a >Income / Deduct</a>
        <a >Period</a>
        <a >GL Account</a> -->
    </div>


</div>