.table_summary_{
    border-collapse: collapse;
}

.table_summary_ td{
    padding: 5px;
    border: 0px solid #ccc;
}


.main_div {
    text-align:left;
    position: relative;
    padding: 5px;
    height: 100px;
    width: 100px;
    background-color: #152047;
}
.sub_div {
    position: absolute;
    bottom: 5px;
}

.spn_value{
    color: #FFFFFF;
    font-size: 16px;
}

.spn_title{
    color: #FFFFFF;
    font-size: 12px;    
}

small{
    font-size: 15px;
}

th{
    background-color: #152047;
    font-weight: 400;
    padding: 3px;
    color: #FFFFFF;
}

.table_fillter td{
    padding: 3px;
    text-align: left;
   
}

.table_fillters td{
    padding: 3px;
    text-align: right;
    background-color: rgb(252, 19, 19);
}

.checkselect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    gap: 10px;
    padding: 10px;

    .select {
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: column;
        display: grid;
        grid-template-columns: 145px 1fr;
        gap: 5px;
        // align-self: center;s
    }

    .resign {
        align-self: center;
        display: flex;
    }
}