.gray-button {
    background-color: #73737333;
     border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  .center {
    margin: auto; 
    width: 40%;  
    // border: 3px solid blue;   
    padding: 5%;  
 }
 
.custom-height input {
    height: 40px;  
    width: 100%;
}


  
  
 

 

   
 
