<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<!-- Link Page -->
<!-- <div class="path">
    <span>{{title_emp[initial_current.Language]}}</span>
    <div>
        <i></i>
        <a routerLink="/employee/policy">{{title_policy[initial_current.Language]}}</a>
        <i></i>
        <small>{{title_empstatus[initial_current.Language]}}</small>
    </div>
</div> -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>
<!-- ---------END Link Page----------- -->
<hr>
<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items">
    </p-menubar>
</div>
<!-- ----------------END MENU----------------- -->


<div class="tabledata">
    <!-- Table Show Data -->
    <div #TABLE>
        <p-table #dt2 [value]="status_list" selectionMode="single" [(selection)]="selectedStatus"
            (onRowSelect)="onRowSelectStatus($event)" [rows]="12" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[12,25,50]" [paginator]="true"
            currentPageReportTemplate="{{title_page_from}} {first} {{title_page_to}} {last} {{title_page_total}} {totalRecords} {{title_page_record}}"
            [globalFilterFields]="['status_code','status_name_en','status_name_th','modied_by','modied_date']"
            responsiveLayout="stack" [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{title_search}}" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>{{title_code}}</th>
                    <th>{{title_name_th}}</th>
                    <th>{{title_name_en}}</th>
                    <th>{{title_modified_by}}</th>
                    <th>{{title_modified_date}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td><span>{{title_code}}</span>{{data.status_code}}</td>
                    <td><span>{{title_name_th}}</span>{{data.status_name_th}}</td>
                    <td><span>{{title_name_en}}</span>{{data.status_name_en}}</td>
                    <td><span>{{title_modified_by}}</span>{{data.modified_by}}</td>
                    <td><span>{{title_modified_date}}</span>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- -----------------------END Table-------------------------- -->

    <form #Form="ngForm">
        <p-dialog [(visible)]="displayManage" [style]="{ height:'65vh',width:'30vw', 'overflow-y': 'hidden' }"
            [position]="position">
            <!-- Form input or Edit Data -->
            <div class="formgrid grid align-items-end" *ngIf="new_data==true">
                <div class="field col-12" style="display:flex;flex-direction: column;">
                    <label>{{title_code}} <span style="color: red;"> *</span></label>
                    <input pInputText type="text" [(ngModel)]="selectedStatus.status_code" maxlength="5" name="code"
                        #code="ngModel" required />
                    <p>{{selectedStatus.status_code.length}}/5</p>
                </div>

                <div class="field col-12" style="display:flex;flex-direction: column;">
                    <label>{{title_name_th}} <span style="color: red;"> *</span></label>
                    <textarea [(ngModel)]="selectedStatus.status_name_th" pInputTextarea [autoResize]="true"
                        name="name_th" #name_th="ngModel" required></textarea>
                </div>
                <div class="field col-12" style="display:flex;flex-direction: column;">
                    <label>{{title_name_en}} <span style="color: red;"> *</span></label>
                    <textarea [(ngModel)]="selectedStatus.status_name_en" pInputTextarea [autoResize]="true"
                        name="name_en" #name_en="ngModel" required></textarea>
                </div>
                <br>
                <div class="field col-12" style=" text-align: right;">
                    <button *ngIf="!edit_data" pRipple pButton type="submit" label="{{ title_save }}" icon="pi pi-save"
                        (click)="confirmRecord()" [disabled]="!Form.form.valid" class="button-size"></button>

                    <button *ngIf="edit_data" pRipple pButton type="submit" (click)="confirmRecord()"
                        label="{{ title_save }}" icon="pi pi-save"
                        [disabled]="(!Form.form.valid == this.accessData.accessdata_edit)|| !this.accessData.accessdata_edit"
                        class="button-size " ></button>
                    <!-- <p-button label="{{title_save}}" icon="pi pi-save" (onClick)="confirmRecord()"
                        [disabled]="!Form.form.valid"></p-button> -->
                    &nbsp;
                    <button *ngIf="edit_data" pButton pRipple type="button" label="{{title_delete}}"
                        class="p-button-secondary  button-size btndel"  [disabled]="!this.accessData.accessdata_delete" (click)="confirmDelete()"></button>
                </div>
            </div>
        </p-dialog>
        <div *ngIf="displayManage" style="z-index: 1084;"
            class="p-component-overlay p-sidebar-mask p-component-overlay-enter"></div>
    </form>
</div>

<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="{{title_upload}}" [(visible)]="displayUpload">
    <label class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            required (change)="handleFileInput($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="doUploadStatus()" label="{{title_upload}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- -----------------End Dialog Choose File-------------------- -->

<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"
    key="myDialog"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->