.leaveform {
    display: flex;
    gap: 10px;

    div {
        width: 100%;
    }

}

.checkoption {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

    div {
        display: flex;
    }

    input {
        cursor: pointer;
        width: 18px;
        height: 18px;

    }
}

:host ::ng-deep {
    .p-accordion-tab:not(.p-accordion-tab-active) {
        .p-toggleable-content {
            height: 0;
            overflow: hidden;
        }
    }

    .p-accordion-tab.p-accordion-tab-active {
        .p-toggleable-content {
            height: auto !important;
            overflow: auto !important;
        }
    }
}