.path {
    display: flex;
    gap: 5px;
    align-items: center;

    span {
        font-size: 24px
    }

    div {
        display: flex;
        align-items: center;
        font-size: 18px;
        gap: 5px;
        transform: translate(0, 22%);

        i:before {
            content: "\e932";
        }
    }


}


td {
    text-align: center !important;
}

th {
    text-align: center !important;
}

.searchtable {
    display: flex;
    justify-content: flex-end;
}

.tablelocation {
    display: grid;
    grid-template-columns: 1fr 0.0fr;
    flex-wrap: wrap;
}

@media(max-width: 744px) {
    .tablelocation {
        display: grid;
        grid-template-columns: 1fr;
        flex-wrap: wrap;
    }

}


.formatt {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 1vw;
    max-width: 25vw;
    min-width: 350px;

    i:before {
        content: "\e90b";
        display: flex;
        flex-direction: row-reverse;
        color: red;
        font-size: 20px;
        cursor: pointer;
    }

    div {
        display: flex;
    }
    p{
        display: flex;
        flex-direction: row-reverse;
    }
}
