<p-menubar [model]="toolbar_menu"></p-menubar>
<p-card header="Apply work" [style]="{'margin-top': '0px','margin-bottom': '2em' }">
    <div class="grid">
        <div class="col-12 md:col-9">
            <p-tabView >
                <p-tabPanel >
                    <ng-template pTemplate = "header">
                        <i class="pi pi-cog"></i>&nbsp;&nbsp;
                        <span>ข้อมูลทั่วไป</span>
                    </ng-template>

                    <div class="formgrid grid align-items-end">

                        <div class="field col-12 md:col-3">
                            <p-image src="../../../../assets/images/people.png" alt="Image" width="150" height="150"></p-image>
                        </div>
                        <div class="field col-12 md:col-3">
                            <p-button label="Upload Images"></p-button>
                        </div>
                        <div class="field col-12 md:col-6">
                            
                        </div>

                        <div class="field col-12 md:col-3">
                            <label for="lastname2">คำนำหน้า :</label><br>
                            <p-dropdown placeholder="นาย" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="lastname2">ชื่อ</label>
                            <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>
                        <div class="field col-12 md:col-5">
                            <label for="lastname2">นามสกุล</label>
                            <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div> 

                        <div class="field col-12 md:col-3">
                            <label for="lastname2">Initial :</label><br>
                            <p-dropdown placeholder="Mr." optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="lastname2">Firstname</label>
                            <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>
                        <div class="field col-12 md:col-5">
                            <label for="lastname2">Lastname</label>
                            <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div> 
                        
                        

                        <div class="field col-3">
                            <label for="lastname2">วันเกิด :</label><br>
                            <p-dropdown placeholder="01/01/2022" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                        </div>

                        <div class="field col-3">
                            <label for="lastname2">วันที่พร้อมเริ่มงาน :</label><br>
                            <p-dropdown placeholder="01/01/2022" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                        </div>

                        <div class="field col-6"></div>

                        
                        <div class="field col-12"><p-divider>สถานที่ต้องการปฎิบัติงาน</p-divider></div>
                        
                        <div class="field col-12">
                        <p-menubar [model]="items"></p-menubar>
                            <p-table #dt12  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '60rem'}" [scrollable]="true" scrollHeight="120px" [virtualScroll]="true" selectionMode="single"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                                    [paginator]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"           
                                    >                                      
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>อันดับ</th>  
                                                <th>หน่วยงาน</th>  
                                                <th>ชื่องาน</th>       
                                                <th>ค่าจ้างที่ต้องการ</th>                        
                                                <th>ผู้ทำรายการ</th>   
                                                <th>วันที่ทำรายการ</th>                                                                                          
                                            </tr>	
                                            
                                        </ng-template>
                            </p-table>
                        </div>

                        <div class="field col-12"><p-divider>ผู้แนะนำ</p-divider></div>

                        <div class="field col-12">
                            <p-menubar [model]="items"></p-menubar>
                                <p-table #dt12  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '50rem'}" [scrollable]="true" scrollHeight="120px" [virtualScroll]="true" selectionMode="single"
                                        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                                        [paginator]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"           
                                        >                                      
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>รหัสพนักงาน</th>  
                                                    <th>ชื่อ-นามสกุล</th>                                                                
                                                    <th>ตำแหน่งงาน</th>                                                                        
                                                    <th>ผู้ทำรายการ</th>   
                                                    <th>วันที่ทำรายการ</th>                                                                                          
                                                </tr>	
                                                
                                            </ng-template>
                                </p-table>
                        </div>
                                          
                                                                        
                               

                    </div>

                </p-tabPanel>

                <p-tabPanel >
                    <ng-template pTemplate = "header">
                        <i class="pi pi-user"></i>&nbsp;&nbsp;
                        <span>ข้อมูลส่วนตัว</span>
                    </ng-template>

                    <div class="formgrid grid">
                        <div class="field col-6">
                            <label for="lastname2">ศาสนา :</label><br>
                            <p-dropdown placeholder="--" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                        </div>

                        <div class="field col-6">
                            <label for="lastname2">กรุ๊ปเลือด :</label><br>
                            <p-dropdown placeholder="--" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                        </div>

                        <div class="field col-6">
                            <label for="firstname2">ส่วนสูง</label>
                            <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>

                        <div class="field col-6">
                            <label for="firstname2">นํ้าหนัก</label>
                            <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>

                        <div class="field col-12">
                            <p-accordion>
                                <p-accordionTab header="ที่อยู่" >
                                    <p-menubar [model]="items"></p-menubar>
                                    <p-table #dt2  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '80rem'}" [scrollable]="true" scrollHeight="200px" [virtualScroll]="true" selectionMode="single"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                                    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"           
                                    >
                                        <ng-template pTemplate="caption">
                                            <div class="flex">
                                                <span class="p-input-icon-left ml-auto">
                                                    <i class="pi pi-search"></i>
                                                    <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width:9%">ประเภท</th>                       
                                                <th style="width:10%">เลขที่</th>
                                                <th style="width:10%">ถนน</th>
                                                <th>อำเภอ</th>   
                                                <th>ตำบล</th>
                                                <th>จังหวัด</th>   
                                                <th>รหัสไปรษณีย์</th>
                                                <th>เบอร์โทรศัพท์</th>
                                                <th>อีเมล์</th>     
                                                <th>ผู้ทำรายการ</th>   
                                                <th>วันที่ทำรายการ</th>                                             
                                            </tr>	
                                            
                                        </ng-template>
                                    </p-table>
                                </p-accordionTab>
                            </p-accordion>
                        </div>

                        <div class="field col-12">
                            <p-accordion>
                                <p-accordionTab header="ข้อมูลบัตร" >
                                    <p-menubar [model]="items"></p-menubar>
                                    <p-table #dt3  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '60rem'}" [scrollable]="true" scrollHeight="200px" [virtualScroll]="true" selectionMode="single"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                                    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"           
                                    >
                                        <ng-template pTemplate="caption">
                                            <div class="flex">
                                                <span class="p-input-icon-left ml-auto">
                                                    <i class="pi pi-search"></i>
                                                    <input pInputText type="text" (input)="dt3.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>ประเภทบัตร</th>                       
                                                <th>รหัสบัตร</th>
                                                <th>วันที่เปิดบัตร</th>
                                                <th>วันที่หมดอายุ</th>
                                                <th>ผู้ทำรายการ</th>   
                                                <th>วันที่ทำรายการ</th>                                                                                          
                                            </tr>	
                                            
                                        </ng-template>
                                    </p-table>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                                                
                        <div class="field col-12">
                            <p-accordion>
                                <p-accordionTab header="ข้อมูลพนักงานต่างด้าว" ></p-accordionTab>
                            </p-accordion>
                        </div>   
                    </div>

                </p-tabPanel>

                <p-tabPanel >
                    <ng-template pTemplate = "header">
                        <i class="pi pi-history"></i>&nbsp;&nbsp;
                        <span>ข้อมูลประวัติ</span>
                    </ng-template>

                    <div class="formgrid grid">
                        

                        

                        <div class="field col-12">
                            <p-accordion>
                                <p-accordionTab header="ประวัติการศึกษา" >
                                    <p-menubar [model]="items"></p-menubar>
                                    <p-table #dt10  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '80rem'}" [scrollable]="true" scrollHeight="200px" [virtualScroll]="true" selectionMode="single"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                                    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"           
                                    >
                                        <ng-template pTemplate="caption">
                                            <div class="flex">
                                                <span class="p-input-icon-left ml-auto">
                                                    <i class="pi pi-search"></i>
                                                    <input pInputText type="text" (input)="dt10.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>สถานศึกษา</th>                       
                                                <th>วันที่เริ่ม</th>
                                                <th>วันที่จบ</th>
                                                <th>คณะ</th>  
                                                <th>วิชาเอก</th>  
                                                <th>วิชาโท</th>    
                                                <th>วุฒิการศึกษา</th>  
                                                <th>เกรดเฉลี่ย</th>                                                                                         
                                                <th>ผู้ทำรายการ</th>   
                                                <th>วันที่ทำรายการ</th>                                                                                          
                                            </tr>	
                                            
                                        </ng-template>
                                    </p-table>
                                </p-accordionTab>
                            </p-accordion>
                        </div>

                        <div class="field col-12">
                            <p-accordion>
                                <p-accordionTab header="ประวัติการอบรม" >
                                    <p-menubar [model]="items"></p-menubar>
                                    <p-table #dt10  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '80rem'}" [scrollable]="true" scrollHeight="200px" [virtualScroll]="true" selectionMode="single"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                                    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"           
                                    >
                                        <ng-template pTemplate="caption">
                                            <div class="flex">
                                                <span class="p-input-icon-left ml-auto">
                                                    <i class="pi pi-search"></i>
                                                    <input pInputText type="text" (input)="dt10.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>สถาบัน/สถานที่</th>     
                                                <th>หลักสูตร</th>  
                                                <th>ครั้งที่</th>                   
                                                <th>จากวันที่</th>
                                                <th>ถึงวันที่</th>                                                 
                                                <th>ผลการอมรบ</th>                                                       
                                                <th>ผู้ทำรายการ</th>   
                                                <th>วันที่ทำรายการ</th>                                                                                          
                                            </tr>	
                                            
                                        </ng-template>
                                    </p-table>
                                </p-accordionTab>
                            </p-accordion>
                        </div>

                        <div class="field col-12">
                            <p-accordion>
                                <p-accordionTab header="ประวัติการประเมิน" >
                                    <p-menubar [model]="items"></p-menubar>
                                    <p-table #dt11  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '70rem'}" [scrollable]="true" scrollHeight="200px" [virtualScroll]="true" selectionMode="single"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                                    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"           
                                    >
                                        <ng-template pTemplate="caption">
                                            <div class="flex">
                                                <span class="p-input-icon-left ml-auto">
                                                    <i class="pi pi-search"></i>
                                                    <input pInputText type="text" (input)="dt11.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>สถานที่</th>   
                                                <th>หัวข้อ</th>                      
                                                <th>จากวันที่</th>
                                                <th>ถึงวันที่</th>                                               
                                                <th>ครั้งที่</th>  
                                                <th>ผลการประเมิน</th>                                                       
                                                <th>ผู้ทำรายการ</th>   
                                                <th>วันที่ทำรายการ</th>                                                                                          
                                            </tr>	
                                            
                                        </ng-template>
                                    </p-table>
                                </p-accordionTab>
                            </p-accordion>
                        </div>

                        <div class="field col-12">
                            <p-accordion>
                                <p-accordionTab header="ประวัติการตรวจสอบอาชญากรรม" >
                                    <p-menubar [model]="items"></p-menubar>
                                    <p-table #dt12  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '60rem'}" [scrollable]="true" scrollHeight="200px" [virtualScroll]="true" selectionMode="single"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                                    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"           
                                    >
                                        <ng-template pTemplate="caption">
                                            <div class="flex">
                                                <span class="p-input-icon-left ml-auto">
                                                    <i class="pi pi-search"></i>
                                                    <input pInputText type="text" (input)="dt12.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>สถานที่</th>                                                                
                                                <th>จากวันที่</th>
                                                <th>ถึงวันที่</th>                                               
                                                <th>ครั้งที่</th>  
                                                <th>ผลการตรวจสอบ</th>                                                       
                                                <th>ผู้ทำรายการ</th>   
                                                <th>วันที่ทำรายการ</th>                                                                                          
                                            </tr>	
                                            
                                        </ng-template>
                                    </p-table>
                                </p-accordionTab>
                            </p-accordion>
                        </div>

                        

                    </div>

                    
                </p-tabPanel>


            </p-tabView>
        </div>
        <div class="col-12 md:col-3">
            
        </div>
    </div>
</p-card>