<!-- Link Page -->
<!-- <div class="path">
    <span>{{langs.get('title')[selectlang]}}</span>
    <div>
        <i></i>
        <a routerLink="/self/employee">{{langs.get('employee')[selectlang]}}</a>
        <i></i>
        <small>{{langs.get('title_consent')[selectlang]}}</small>
    </div>
</div> -->
<p-breadcrumb class="max-w-full" [model]="mainMenuItems" [home]="homeIcon"></p-breadcrumb>
<!-- ---------END Link Page----------- -->
<!-- <hr> -->
<div class="field col-12">
    <!-- <p-menubar [model]="items_attfile"></p-menubar> -->
    <p-table #dt1 [value]="pdpa_list" selectionMode="single" [(selection)]="pdpa_select"
        (onRowSelect)="onRowSelectfile($event)" [globalFilterFields]="['document_name','created_by','created_date']"
        responsiveLayout="stack" [breakpoint]="'744px'">
        <!-- Form Search Table -->
        <ng-template pTemplate="caption">
            <div class="searchtable">
                <div>

                </div>

            </div>
        </ng-template>
        <!-- --------------END Form Search Table------------------ -->
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>{{langs.get('no')[selectlang]}}</th>
                <th>{{langs.get('name')[selectlang]}}</th>
                <th>{{langs.get('status')[selectlang]}}</th>
                <th>{{langs.get('modified_by')[selectlang]}}</th>
                <th>{{langs.get('modified_date')[selectlang]}}</th>
                <!-- <th>{{langs.get('delete')[this.selectlang]}}</th> -->

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
            <tr [pSelectableRow]="data">
                <td><span>{{langs.get('no')[selectlang]}}</span>{{i+1}}</td>
                <td><span>{{langs.get('name')[selectlang]}}</span>{{selectlang
                    =="EN"?data.worker_detail_en:data.worker_detail_th}}</td>
                <td><span>{{langs.get('status')[selectlang]}}</span>{{data.status?langs.get('agree')[selectlang]:langs.get('not_agree')[selectlang]}}
                </td>
                <td><span>{{langs.get('modified_by')[selectlang]}}</span>{{data.created_by}}</td>
                <td><span>{{langs.get('modified_date')[selectlang]}}</span>{{data.created_date |
                    date:'dd/MM/yyyy'}}</td>
                <!-- <td><span>{{langs.get('delete')[selectlang]}}</span><p-button icon="pi pi-trash"
                        styleClass="p-button-danger" (click)="DeleteFile(data)"></p-button></td> -->

            </tr>
        </ng-template>
    </p-table>

</div>
<p-dialog header="PDPA" [(visible)]="displayManage" [style]="{width: '70vw'}">
    <div style="display: flex;flex-direction: column;justify-content: center;gap: 20px;">
        <pdf-viewer [src]="src" [rotation]="0" [original-size]="true" [show-all]="true" [fit-to-page]="true" [zoom]="0"
            [stick-to-page]="true" [render-text]="true" [autoresize]="true" [zoom-scale]="'page-fit'"
            [show-borders]="false" style="height: 70vh;"></pdf-viewer>
        <!-- <button>คลิกเพื่อแจ้งหนังสือยินยอมฯ</button> -->
        <div style="gap: 10px; display: flex; justify-content:center;">
            <button pButton type="button" label="{{langs.get('agree')[selectlang]}}"
                (click)="recodePDPA(true)"></button>
            <button pButton type="button" label="{{langs.get('not_agree')[selectlang]}}" class="p-button-danger"
                (click)="recodePDPA(false)"></button>
        </div>
    </div>
</p-dialog>

<div *ngIf="displayManage" style="z-index: 1084;" class="p-component-overlay p-sidebar-mask p-component-overlay-enter">
</div>