<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<table class="table_head" style="width: 100%;">
    <tr>
        <td align="left">
            <h4>{{this.title_page}}</h4>
            <br>
            <a>{{this.title_manage[initial_current.Language]}}</a>
            |
            <a>{{this.title_link[initial_current.Language]}}</a>
        </td>
        <td align="right">

            <div class="flex">
                <p style="width: 80px; text-align: left;">
                    <b>{{applyworkCurrent}}</b>
                    <br>
                    <small>{{this.title_num_emp}}</small>
                </p>
                <p-divider layout="vertical"></p-divider>
                <p style="width: 80px; text-align: left;">
                    <b>0</b>
                    <br>
                    <small>{{this.title_new_emp}}</small>
                </p>
                <!-- <p-divider layout="vertical"></p-divider>
                <p style="width: 80px; text-align: left;">
                    <b style="color: orange;">0</b>
                    <br>
                    <small>{{this.title_resign_emp}}</small>
                </p> -->

            </div>


        </td>
    </tr>
</table>
<!-- Menu New Import Export Data -->
<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items">
        <td>

            <p-button *ngIf="selectAllChecked || checked && buttonVisible" (click)="convertToEmp()"
                label="{{title_convert[initial_current.Language]}}"></p-button>
        </td>
    </p-menubar>
</div>






<!-- ----------------END MENU----------------- -->
<div class="tabledata">
    <!-- Table Show Data -->
    <div #TABLE>
        <p-table #dt2 [value]="reqworkerList" [tableStyle]="{'min-width': '70rem'}" [scrollable]="true"
            scrollHeight="500px" [virtualScroll]="true" selectionMode="single" [(selection)]="selectedReqworker"
            (onRowSelect)="onRowSelectApplywork($event)" dataKey="worker_code" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            currentPageReportTemplate="{{title_page_from}} {first} {{title_page_to}} {last} {{title_page_total}} {totalRecords} {{title_page_record}}"
            [globalFilterFields]="['worker_code','worker_initial','worker_fnamename_th','worker_lnamename_th','worker_type','worker_position','worker_hiredate','certificate']">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable1">
                    <div style="display:flex;flex-wrap: wrap;gap: 10px; align-items: center;">

                        <div>
                            {{title_apprstatus[initial_current.Language]}} :
                            <p-dropdown class="searchinput" [options]="status_list" [(ngModel)]="status_select"
                                [style]="{ width: '100vw', overflow: 'visible' }" (onChange)="Search()">
                                <ng-template let-item pTemplate="selectedItem">
                                    {{initial_current.Language=="TH"? item.name_th : item.name_en}}
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    {{initial_current.Language=="TH"? item.name_th : item.name_en}}
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <!-- <p-button icon="pi pi-search" (click)="Search()"></p-button> -->

                        &nbsp;&nbsp;
                        <div>
                            {{title_requestmcer[initial_current.Language]}} :
                            <p-dropdown [ngModel]="statusCer_select" [options]="statusCer" placeholder="--"
                                [showClear]="true" optionValue="value"
                                (onChange)="dt2.filter($event.value, 'certificate', 'equals')" dataKey="value">
                                <ng-template let-item pTemplate="selectedItem">
                                    {{initial_current.Language=="TH"? item.name_th : item.name_en}}
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    {{initial_current.Language=="TH"? item.name_th : item.name_en}}
                                </ng-template>
                            </p-dropdown>
                        </div>
                        &nbsp;&nbsp;
                        <div>
                            <p-checkbox name="resign" [binary]="true" [(ngModel)]="fillterBlacklist"
                                (onChange)="doLoadapplywork()"></p-checkbox>&nbsp;
                            <label>{{title_blacklist[initial_current.Language]}}</label>
                        </div>


                    </div>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{title_search}}" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <!-- เลือกทั้งหมด -->
                        <button pButton class=" gray-button " *ngIf="status_select.code === 'W'"
                            (click)="toggleSelectAll()">{{title_chooseall[initial_current.Language]}}</button>
                    </th>



                    <th>{{title_code}}</th>
                    <!-- <th>{{title_initial}}</th> -->
                    <th>{{title_name}}</th>
                    <!-- <th>{{title_Lname}}</th> -->
                    <th>{{title_hiredate}}</th>
                    <th>{{title_apprstatus[initial_current.Language]}}</th>
                    <th>{{title_requestmcer[initial_current.Language]}}</th>
                    <th>{{title_blacklist[initial_current.Language]}}</th>
                    <th>{{title_modified_by}}</th>
                    <th>{{title_modified_date}}</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-data>

                <tr [pSelectableRow]="data" (click)="selection(data)">
                    <td>
                        <!-- เลือกที่ละฟิล -->
                        <p-checkbox *ngIf="data.status === 'W'" [(ngModel)]="data.checked" [binary]="true"
                            inputId="checked" [ngModelOptions]="{standalone: true}" (click)="toggleSelect()"
                            [ngModel]="selectAllChecked"></p-checkbox>
                    </td>


                    <td>{{data.worker_code}}</td>
                    <td>{{initial_current.Language == "TH" ? data.initial_name_th + " " +
                        data.worker_fname_th + " " +
                        data.worker_lname_th : data.initial_name_en + " " + data.worker_fname_en + " " +
                        data.worker_lname_en}}</td>
                    <td>{{data.worker_hiredate | date:'dd/MM/yyyy'}}</td>
                    <td>{{getFullStatus(data.status)}}</td>
                    <td>{{data.certificate || "-"}}</td>
                    <td>{{data.blacklist_reason || "-"}}</td>
                    <td>{{data.modified_by}}</td>
                    <td>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- -----------------------END Table-------------------------- -->

    <!-- Form input or Edit Data -->

    <form #Form="ngForm">
        <p-dialog [(visible)]="displayManage" [style]="{ height:'100vh',width:'30vw', 'overflow-y': 'scroll' }"
            [position]="position">
            <div class="formgrid grid align-items-end" *ngIf="new_applywork==true">
                <!-- <i (click)="close()"></i> -->
                <div class="field col-12" style="display:flex;flex-direction: column;">
                    <label>{{title_code}}</label>
                    <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedReqworker.worker_code" name="code"
                        #code="ngModel" [readOnly]="true">
                </div>

                <div class="field col-12">
                    <label>{{title_initial}} :</label>
                    <p-dropdown placeholder="--" [options]="initialList" optionValue="initial_code" [showClear]="true"
                        [(ngModel)]="selectedReqworker.worker_initial" [style]="{ width: '100%', overflow: 'visible' }"
                        name="req_initial" #req_initial="ngModel" [readonly]="true">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.initial_name_th : item.initial_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.initial_name_th : item.initial_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field col-12">
                    <label for="ppos_name_th">ชื่อ</label>
                    <textarea [rows]="2" id="ppos_name_th" [(ngModel)]="selectedReqworker.worker_fname_th" [cols]="30"
                        pInputTextarea [autoResize]="true" name="req_fname" #req_fname="ngModel"
                        [readOnly]="true"></textarea>
                </div>

                <div class="field col-12">
                    <label for="ppos_name_en">นามสกุล</label>
                    <textarea [rows]="2" id="ppos_name_en" [(ngModel)]="selectedReqworker.worker_lname_th" [cols]="30"
                        pInputTextarea [autoResize]="true" name="req_lname" #req_lname="ngModel"
                        [readOnly]="true"></textarea>
                </div>

                <br>
                <div class="field col-12" style=" text-align: right;">

                    <button pButton pRipple type="button" label="{{title_convert[initial_current.Language]}}"
                        class="p-button-info" (click)="convertToEmp()"
                        [disabled]="this.selectedReqworker.status!='W'"></button>
                    &nbsp;
                    <button pButton pRipple type="button" label="{{title_more[initial_current.Language]}}"
                        (click)="selectComManage()"></button>
                    &nbsp;
                    <button *ngIf="edit_applywork" pButton pRipple type="button"
                        label="{{title_deletes[initial_current.Language]}}" class="p-button-secondary"
                        [disabled]="!this.accessData.accessdata_delete || this.selectedReqworker.status=='F'"
                        (click)="confirmDelete()"></button>
                </div>
            </div>
        </p-dialog>
        <div *ngIf="displayManage" style="z-index: 1084;"
            class="p-component-overlay p-sidebar-mask p-component-overlay-enter"></div>
    </form>
</div>

<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="{{title_upload}}" [(visible)]="displayUpload">
    <div>
        <!-- <p-dropdown [options]="ImportList" optionValue="code" [showClear]="true"
            [(ngModel)]="selectedReqworker.selected_Import" [style]="{ width: '100%', overflow: 'visible' }"
            appendTo="body">
            <ng-template let-item pTemplate="selectedItem">
                {{initial_current.Language=="TH"? item.name_th : item.name_en}}
            </ng-template>
            <ng-template let-item pTemplate="item">
                {{initial_current.Language=="TH"? item.name_th : item.name_en}}
            </ng-template>
        </p-dropdown> -->
        <br>
    </div>
    <label class="drop-container">
        <span class="drop-title">{{title_dropfile[initial_current.Language]}}</span>
        {{title_or[initial_current.Language]}}
        <!-- <input type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            required (change)="handleFileInput($any($event).target.files)"> -->
        <div class="attach">
            <input id="file" type="file" #fileUploader
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                required (change)="handleFileInput($any($event).target.files)" style="display: none;">
            <label for="file" class="btnattach">{{title_choose[initial_current.Language]}}</label>
            <span class="chosen-attach" *ngIf="!selectedFileName">{{title_nofile[this.initial_current.Language]}}</span>
            <span class="chosen-attach" *ngIf="selectedFileName">{{selectedFileName}}</span>
        </div>
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="doUploadApplywork()" label="{{title_upload}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- -----------------End Dialog Choose File-------------------- -->

<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"
    key="myDialog"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->