.center {
    margin: auto;  //ระยะขอบ ผลักอัตโนมัติ
    width: 50%;   //ความกว้าง 50%
    // border: 3px solid blue;   //ความหนา รูปแบบ สีของขอบ
    padding: 5%;  //ขยายขอบด้านใน
 }

p-dropdown{
    width: '100%'; overflow: 'visible';

}

.field.col-6 {
    width: 50%;
    padding: 0 5px;
}
.field.col-6.height input {
    height: 40px;  
}
.custom-height input {
    height: 40px;  
}

.custom-size {
    height: 40px;  
 
    width: 300px;
}
.custom-input {
    width: 200px; /* แทนที่ด้วยความยาวที่ต้องการ */
}

.formgrids {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        align-items: center;
    }
    .image-container {
        max-width: 100%;
        max-height: 100%;
    }
    .right {
        margin-left: 150px;
    }
.no-border {
    border: none;
    outline: none;
    background: none;
}

 
    .field {
        position: relative;
    }

    .no-border {
        border: none;
        outline: none;
        background: none;
    }

    .no-file {
        position: absolute;
        top: 100%;
        left: 0;
        font-size: 0;
        opacity: 0;
    }
 
    .empinfo2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
    
        .horizontal{
            grid-column: 1/3;
        }}
 

.table_summary_{
    border-collapse: collapse;
}

.table_summarys{
    padding: 5px;
    border: 0px solid #ccc;
}

.empinfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;

    p-image{
        text-align-last: center;
    }

    .upload{
        padding: 1vw;
        grid-column: 2/4;
        align-self: flex-end;
        width: 25vw !important;
        max-width: 100%;
        border: none;
    }

    div{
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 1vw;
        min-width: 150px;
    }
    .radio{
        grid-column: 2/4;
        flex-direction: row;
        align-items: center;
    }
    .btnupload {
        grid-column: 2/4;
        padding: 1vw;
        align-self: flex-end;
        width: 100%;
        max-width: 100%;
        border: none;
        flex-direction: row;

        .upload {
            display: none;
        }
    }
    .uploadlabe {
        width: 10vw;
        max-width: 100%;
        margin-right: 20px;
        border: none;
        background: #084cdf;
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        transition: background .2s ease-in-out;
        text-align: center;
    }
    
    .uploadlabe:hover {
        background: #0d45a5;
    }
    .chosen-text {
        max-width: 100%;
        align-self: center;
    }
    
}
.main_div {
    text-align:left;
    position: relative;
    padding: 5px;
    height: 100px;
    width: 100px;
    background-color: #152047;
}
.sub_div {
    position: absolute;
    bottom: 5px;
}

.spn_value{
    color: #FFFFFF;
    font-size: 16px;
}

.spn_title{
    color: #FFFFFF;
    font-size: 12px;
}

.spn_title_edit{
    margin: 70px 0px 10px 15px;
    font-weight: bold;
    font-size: 15px;
}

.td_amount{
    text-align: right;
    padding-right: 10px;
}

::ng-deep .input-styling input {
    width: 40px !important;
  }

  textarea{
    width: 100%;

  }


  .spn_title_edit_procontact{
    margin: 350px 0px 10px 15px;
    font-weight: bold;
    font-size: 15px;
}

h1 {
    font-size: 15px;
}

h2 {
    border-left: 0;
}

p {
    font-size: 14px;
}
p-dropdown{
    width: '100%'; overflow: 'visible';

}


.table_summary_{
    border-collapse: collapse;
}

.table_summary_ td{
    padding: 5px;
    border: 0px solid #ccc;
}
.p-dialog-content::ng-deep {
    overflow-y: hidden;
    padding: 10px 0.5rem 4rem 0.5rem;
  }
  

.main_div {
    text-align:left;
    position: relative;
    padding: 5px;
    height: 100px;
    width: 100px;
    background-color: #152047;
}
.sub_div {
    position: absolute;
    bottom: 5px;
}

.spn_value{
    color: #FFFFFF;
    font-size: 16px;
}

.spn_title{
    color: #FFFFFF;
    font-size: 12px;
}

.spn_title_edit{
    margin: 70px 0px 10px 15px;
    font-weight: bold;
    font-size: 15px;
}

.td_amount{
    text-align: right;
    padding-right: 10px;
}

::ng-deep .input-styling input {
    width: 40px !important;
  }

  textarea{
    width: 100%;
  }


  .spn_title_edit_procontact{
    margin: 350px 0px 10px 15px;
    font-weight: bold;
    font-size: 15px;
}

p {
    font-size: 12px;
}



// //////////////////////////////////////////////////////////////////////////////////////////////////////
// <div class="col-12">
// <p-accordion>
//     <p-accordionTab header="ประกันสังคม" [selected]="false">


//         <!--  -->
//         <!--  -->
//         <!-- <div class="col-12">
// <p-accordion> -->
//         <div class="formgrid grid">
//             <!-- <div class="field col-12 "></div> -->
//             <div class="center field col-12 md:col-5">
//                 <label for="firstname2">เลขประกันสังคม</label><br>
//                 <textarea [rows]="2" id="ppos_detailen"
//                     [(ngModel)]="selectedCompany.sso_security_no"
//                     class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
//                     maxlength="50" [cols]="13" pInputTextarea
//                     [autoResize]="true"></textarea>
//             </div>

//             <div class="center field col-12 md:col-5">
//                 <label for=" firstname2">สาขาประกันสังคม</label><br>
//                 <textarea [rows]="2" id="ppos_detailen"
//                     [(ngModel)]="selectedCompany.sso_branch_no"
//                     class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
//                     maxlength="50" [cols]="6" pInputTextarea [autoResize]="true"></textarea>
//             </div>



//             <div class="field col-12 md:col-12"></div>

//             <div class="field col-12 md:col-12">
//                 <h1 for="lastname2">อัตราการจ่าย %</h1>
//             </div>




//             <div class="center field col-12 md:col-5">
//                 <label for="lastname2">ประกันสังคมส่วนบริษัท</label>
//                 <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons"
//                     [max]="100000" [step]="0.5" [(ngModel)]="selectedCompany.sso_com_rate">
//                 </p-inputNumber>
//             </div>


//             <div class="center field col-12 md:col-5">
//                 <label for="lastname2">ประกันสังคมส่วนพนักงาน</label>
//                 <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons"
//                     [max]="100000" [step]="0.5" [(ngModel)]="selectedCompany.sso_emp_rate">
//                 </p-inputNumber>
//             </div>


//             <div class="field col-12 md:col-12"></div>

//             <div class="field col-12 md:col-12">
//                 <h1 for="lastname2">อัตราค่าจ้าง</h1>
//             </div>



//             <div class="center field col-12 md:col-5">
//                 <label for="lastname2">ค่าจ้างตํ่าสุด</label>
//                 <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons"
//                     [max]="100000" [step]="0.5" [(ngModel)]="selectedCompany.sso_min_wage">
//                 </p-inputNumber>
//             </div>


//             <div class="center field col-12 md:col-5">
//                 <label for="lastname2">ค่าจ้างสูงสุด</label>
//                 <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons"
//                     [max]="100000" [step]="0.5" [(ngModel)]="selectedCompany.sso_max_wage">
//                 </p-inputNumber>
//             </div>




//         </div>

//     </p-accordionTab>
// </p-accordion>
// </div>

