<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<p-menubar [model]="toolbar_menu"></p-menubar>

<p-card header="Company" [style]="{'margin-top': '0px','margin-bottom': '2em' }">
    <div class="grid">
        <div class="col-12 md:col-9">
            <p-tabView (onChange)="tabChange($event)">

                <!-- Tab Genaral -->
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-cog"></i>&nbsp;&nbsp;
                        <span>{{title_genaral}}</span>
                    </ng-template>
                    <div class="formgrid grid align-items-end">
                        <div class="field col-12 md:col-3">
                            <p-image src="../../../../assets/images/bpc.jpg" alt="Image" width="150"
                                height="150"></p-image>
                        </div>
                        <div class="field col-12 md:col-2">
                            <p-button label="Upload Logo"></p-button>
                        </div>
                        <div class="field col-12 md:col-6"></div>


                        <div class="field col-12 md:col-6">
                            <label for="firstname2">รหัสบริษัท</label><br>
                            <br />
                            <textarea [rows]="2" id="ppos_detailen" [(ngModel)]="selectedCompany.company_code"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                maxlength="5" [readonly]="company_code" [cols]="30" pInputTextarea [autoResize]="true">
                            </textarea>

                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="firstname2">ชื่อย่อ</label><br>
                            <br />
                            <textarea [rows]="2" id="ppos_detailen" [(ngModel)]="selectedCompany.company_initials"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                maxlength="50" [cols]="30" pInputTextarea [autoResize]="true"></textarea>
                        </div>

                        <div class="field col-12 md:col-6">
                            <label for="firstname2">ชื่อไทย</label><br>
                            <br />
                            <textarea [rows]="2" id="ppos_detailen" [(ngModel)]="selectedCompany.company_name_th"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                maxlength="50" [cols]="30" pInputTextarea [autoResize]="true"></textarea>
                        </div>

                        <div class="field col-12 md:col-6">
                            <label for="firstname2">ชื่ออังกฤษ</label><br>
                            <br />
                            <textarea [rows]="2" id="ppos_detailen" [(ngModel)]="selectedCompany.company_name_en"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                maxlength="50" [cols]="30" pInputTextarea [autoResize]="true"></textarea>
                        </div>
                    </div>
                    <!-- start -->
                </p-tabPanel>

                <!-- tab Personal-->
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-user"></i>&nbsp;&nbsp;
                        <span>{{title_personal}}</span>
                    </ng-template>
                    <div class="formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label for="lastname2">ชั่วโมงการทำงาน</label>
                            <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [max]="120"
                                [step]="0.5" [(ngModel)]="selectedCompany.hrs_perday">
                            </p-inputNumber>
                        </div>


                        <!-- <div class="field col-12 md:col-6">
                            <label for="ppos_detailen">ชั่วโมงการทำงาน</label>
                            <br />
                            <p-inputNumber mode="decimal" [showButtons]="true" [(ngModel)]="selectedCompany.hrs_perday"
                                [min]="0" [max]="12000">
                            </p-inputNumber>
                        </div> -->



                        <!-- <div class="field col-12 md:col-6">
                            <label for="ppos_detailen">ประกันสังคมส่วนพนักงาน</label>
                            <br />
                            <p-inputNumber mode="decimal" [showButtons]="true"
                                [(ngModel)]="selectedCompany.sso_com_rate" [min]="0" [max]="12000">
                            </p-inputNumber>
                        </div> -->

                        <div class="field col-12 md:col-6">
                            <label for="lastname2">ประกันสังคมส่วนพนักงาน(%)</label>
                            <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [max]="120"
                                [step]="0.5" [(ngModel)]="selectedCompany.sso_emp_rate">
                            </p-inputNumber>
                        </div>

                        <!-- <div class="field col-12 md:col-6">
                            <label for="ppos_detailen">ประกันสังคมส่วนบริษัท</label>
                            <br />
                            <p-inputNumber mode="decimal" [showButtons]="true"
                                [(ngModel)]="selectedCompany.sso_emp_rate" [min]="0" [max]="12000">
                            </p-inputNumber>
                        </div> -->
                        <div class="field col-12 md:col-6">
                            <label for="lastname2">ประกันสังคมส่วนบริษัท(%)</label>
                            <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [max]="120"
                                [step]="0.5" [(ngModel)]="selectedCompany.sso_com_rate">
                            </p-inputNumber>
                        </div>

                        <!-- <div class="field col-12 md:col-6">
                            <label for="ppos_detailen">อายุพนักงานน้อยสุด</label>
                            <br />
                            <p-inputNumber mode="decimal" [showButtons]="true"
                                [(ngModel)]="selectedCompany.sso_min_wage" [min]="0" [max]="12000">
                            </p-inputNumber>
                        </div> -->
                        <div class="field col-12 md:col-6">
                            <label for="lastname2">อายุพนักงานน้อยสุด</label>
                            <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [max]="120"
                                [step]="0.5" [(ngModel)]="selectedCompany.sso_min_age">
                            </p-inputNumber>
                        </div>
                        <!--
                        <div class="field col-12 md:col-6">
                            <label for="ppos_detailen">อายุพนักงานมากสุด</label>
                            <br />
                            <p-inputNumber mode="decimal" [showButtons]="true"
                                [(ngModel)]="selectedCompany.sso_max_wage" [min]="0" [max]="12000">
                            </p-inputNumber>
                        </div> -->
                        <div class="field col-12 md:col-6">
                            <label for="lastname2">อายุพนักงานมากสุด</label>
                            <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [max]="120"
                                [step]="0.5" [(ngModel)]="selectedCompany.sso_max_age">
                            </p-inputNumber>
                        </div>

                        <!-- <div class="field col-12 md:col-6">
                            <label for="ppos_detailen">ค่าจ้างตํ่าสุด</label>
                            <br />
                            <p-inputNumber mode="decimal" [showButtons]="true" [(ngModel)]="selectedCompany.sso_min_age"
                                [min]="0" [max]="12000">
                            </p-inputNumber>
                        </div> -->
                        <div class="field col-12 md:col-6">
                            <label for="lastname2">ค่าจ้างตํ่าสุด</label>
                            <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [max]="120"
                                [step]="0.5" [(ngModel)]="selectedCompany.sso_min_wage">
                            </p-inputNumber>
                        </div>


                        <!-- <div class="field col-12 md:col-6">
                            <label for="ppos_detailen">ค่าจ้างสูงสุด</label>
                            <br />
                            <p-inputNumber mode="decimal" [showButtons]="true" [(ngModel)]="selectedCompany.sso_max_age"
                                [min]="0" [max]="12000">
                            </p-inputNumber>
                        </div> -->
                        <div class="field col-12 md:col-6">
                            <label for="lastname2">ค่าจ้างสูงสุด</label>
                            <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [max]="120"
                                [step]="0.5" [(ngModel)]="selectedCompany.sso_max_wage">
                            </p-inputNumber>
                        </div>

                        <!-- Address -->
                        <div class="field col-12">
                            <p-accordion>
                                <p-accordionTab header="{{title_address}}">
                                    <p-menubar [model]="menu_comaddress"></p-menubar>
                                    <p-table #dtAddress [value]="comaddressList" styleClass="p-datatable-sm"
                                        [tableStyle]="{'min-width': '80rem'}" [scrollable]="true" scrollHeight="200px"
                                        [virtualScroll]="true" selectionMode="single" [(selection)]="selectedComaddress"
                                        (onRowSelect)="onRowSelectComaddress($event)" [rows]="10"
                                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                        [paginator]="true"
                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>ประเภท</th>
                                                <th>เลขที่</th>
                                                <th>หมู่ที่</th>
                                                <th>ซอย</th>
                                                <th>ถนน</th>
                                                <th>ตำบล</th>
                                                <th>อำเภอ</th>
                                                <th>จังหวัด</th>
                                                <th>รหัสไปรษณีย์</th>
                                                <th>เบอร์โทรศัพท์</th>
                                                <th>อีเมล์</th>
                                                <th>ไลน์</th>
                                                <th>เฟสบุ๊ค</th>
                                                <th>ผู้ทำรายการ</th>
                                                <th>วันที่ทำรายการ</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-data>
                                            <tr [pSelectableRow]="data">
                                                <td>{{data.comaddress_type}}</td>
                                                <td>{{data.comaddress_no}}</td>
                                                <td>{{data.comaddress_moo}}</td>
                                                <td>{{data.comaddress_soi}}</td>
                                                <td>{{data.comaddress_road}}</td>
                                                <td>{{data.comaddress_tambon}}</td>
                                                <td>{{data.comaddress_amphur}}</td>
                                                <td>{{data.comaddress_zipcode}}</td>
                                                <td>{{data.comaddress_tel}}</td>
                                                <td>{{data.comaddress_email}}</td>
                                                <td>{{data.comaddress_line}}</td>
                                                <td>{{data.comaddress_facebook}}</td>
                                                <td>{{data.comaddress_province}}</td>
                                                <td>{{data.modified_by}}</td>
                                                <td>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                        <!-- card -->
                        <div class="field col-12">
                            <p-accordion>
                                <p-accordionTab header="{{title_card}}">
                                    <p-menubar [model]="menu_comcard"></p-menubar>
                                    <p-table #dtempcard [value]="comcardList" styleClass="p-datatable-sm"
                                        [tableStyle]="{'min-width': '60rem'}" [scrollable]="true" scrollHeight="200px"
                                        [virtualScroll]="true" selectionMode="single" [(selection)]="selectedComcard"
                                        (onRowSelect)="onRowSelectComcard($event)" [rows]="10"
                                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                        [paginator]="true"
                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>ประเภทบัตร</th>
                                                <th>รหัสบัตร</th>
                                                <th>วันที่เปิดบัตร</th>
                                                <th>วันที่หมดอายุ</th>
                                                <th>ผู้ทำรายการ</th>
                                                <th>วันที่ทำรายการ</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-data>
                                            <tr [pSelectableRow]="data">
                                                <th>{{data.card_type }}</th>
                                                <!-- <td>{{initial_current.Language == "TH"? data.cardtype_name_th:data.cardtype_name_en}}</td> -->

                                                <th>{{data.comcard_code}}</th>
                                                <th>{{data.comcard_issue| date:'dd/MM/yyyy'}}</th>
                                                <th>{{data.comcard_expire | date:'dd/MM/yyyy'}}</th>
                                                <th>{{data.modified_by}}</th>
                                                <th>{{data.modified_date| date: "dd/MM/yyyy HH:mm"}}</th>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </p-accordionTab>
                            </p-accordion>
                        </div>

                        <!-- bank -->
                        <div class="field col-12">
                            <p-accordion>
                                <p-accordionTab header="{{title_bank}}">
                                    <p-menubar [model]="menu_combank"></p-menubar>
                                    <p-table #dtempbank [value]="combankList" styleClass="p-datatable-sm"
                                        [tableStyle]="{'min-width': '60rem'}" [scrollable]="true" scrollHeight="200px"
                                        [virtualScroll]="true" selectionMode="single" [(selection)]="selectedCombank"
                                        (onRowSelect)="onRowSelectCombank($event)" [rows]="10"
                                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                        [paginator]="true"
                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>ธนาคาร</th>
                                                <!-- <th>ชื่อบัญชี</th> -->
                                                <th>เลขที่บัญชี</th>
                                                <th>ผู้ทำรายการ</th>
                                                <th>วันที่ทำรายการ</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-data>
                                            <tr [pSelectableRow]="data">
                                                <!-- <th>{{ data.combank_id }}</th> -->
                                                <th>{{ data.combank_bankcode }}</th>
                                                <th>{{ data.combank_bankaccount }}</th>
                                                <th>{{ data.modified_by }}</th>
                                                <th>{{ data.modified_date | date : "dd/MM/yyyy HH:mm" }}
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </p-tabPanel>
                <p-dialog header="{{manage_title}}" [(visible)]="displayManage" [position]="position">

                    <!-- Form Emp Address -->
                    <div class="formatt" *ngIf="edit_comaddress==true || new_comaddress==true">
                        <label>ประเภท</label>
                        <!-- <p-dropdown placeholder="--" optionLabel="name" [showClear]="true"
                            [(ngModel)]="selectedComaddress.comaddress_type"
                            [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown> -->

                            <p-dropdown placeholder="--" [options]="addressList"   optionValue="addresstype_code" [showClear]="true"
                            [(ngModel)]="selectedComaddress.comaddress_type" [style]="{ width: '100%', overflow: 'visible' }">
                            <ng-template let-item pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.addresstype_name_th : item.addresstype_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.addresstype_name_th : item.addresstype_name_en}}
                            </ng-template>
                        </p-dropdown>

                        <label>เลขที่</label>
                        <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.comaddress_no">

                        <label>หมู่ที่</label>
                        <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.comaddress_moo">

                        <label>ซอย</label>
                        <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.comaddress_soi">

                        <label>ถนน</label>
                        <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.comaddress_road">

                        <label>ตำบล</label>
                        <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.comaddress_tambon">

                        <label>อำเภอ</label>
                        <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.comaddress_amphur">

                        <label>จังหวัด</label>
                        <!-- <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.province_code"> -->
                        <p-dropdown placeholder="--" [options]="provinceList" optionLabel="province_code" [showClear]="true"
                            [(ngModel)]="selectedComaddress.province_code" [style]="{ width: '100%', overflow: 'visible' }">
                            <ng-template let-item pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.province_name_th : item.province_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.province_name_th : item.province_name_en}}
                            </ng-template>
                        </p-dropdown>

                        <label>รหัสไปรษณีย์</label>
                        <input pInputText type="text" id="ppos_code"
                            [(ngModel)]="selectedComaddress.comaddress_zipcode">

                        <label>เบอร์โทรศัพท์</label>
                        <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.comaddress_tel">

                        <label>อีเมล์</label>
                        <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.comaddress_email">

                        <label>Line</label>
                        <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.comaddress_line">

                        <label>Facebook</label>
                        <input pInputText type="text" id="ppos_code"
                            [(ngModel)]="selectedComaddress.comaddress_facebook">

                        <br>
                        <button pButton type="button" label="{{title_summit}}" icon="pi pi-check"
                            (click)="comaddress_summit()"></button>
                        <button pButton type="button" label="{{title_cancel}}" icon="pi pi-times"
                            class="p-button-danger" (click)="comaddress_cancel()"></button>

                    </div>
                    <div class="formatt" *ngIf="edit_comcard==true || new_card==true">
                        <!-- Form Card -->
                        <!-- <label>ประเภทบัตร</label> -->
                        <div>
                            <label for="lastname2">ประเภทบัตร :</label>
                            <p-dropdown placeholder="--" [options]="cardList" optionValue="cardtype_code"
                                [showClear]="true" [(ngModel)]="selectedComcard.card_type"
                                [style]="{ width: '100%', overflow: 'visible' }">
                                <ng-template let-item pTemplate="selectedItem">
                                    {{initial_current.Language=="TH"? item.cardtype_name_th : item.cardtype_name_en}}
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    {{initial_current.Language=="TH"? item.cardtype_name_th : item.cardtype_name_en}}
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <!-- <p-dropdown placeholder="--" optionLabel="name" [showClear]="true"
                        [(ngModel)]="selectedComcard.card_type"
                        [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown> -->


                        <!-- <p-dropdown placeholder="--" [options]="cardList" optionValue="cardtype_code" [showClear]="true"
                            [(ngModel)]="selectedComcard.card_type" [style]="{ width: '100%', overflow: 'visible' }">
                            <ng-template let-item pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.cardtype_name_th : item.cardtype_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.cardtype_name_th : item.cardtype_name_en}}
                            </ng-template>
                        </p-dropdown> -->
                        <!-- <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedEmpcard.card_type"> -->



                        <label>เลขที่</label>
                        <input pInputText type="text" id="card_no" [(ngModel)]="selectedComcard.comcard_code">

                        <label>วันที่เปิดบัตร</label>
                        <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="false"
                            [(ngModel)]="selectedComcard.comcard_issue"><input type="text"></p-calendar>
                        <!-- <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedEmpcard.card_issue"> -->

                        <label>วันที่หมดอายุ</label>
                        <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="false"
                            [(ngModel)]="selectedComcard.comcard_expire">
                            <input type="text"></p-calendar>
                        <!-- <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedEmpcard.card_expire"> -->


                        <br>
                        <button pButton type="button" label="{{title_summit}}" icon="pi pi-check"
                            (click)="comcard_summit()"></button>
                        <button pButton type="button" label="{{title_cancel}}" icon="pi pi-times"
                            class="p-button-danger" (click)="comcard_cancel()"></button>

                    </div>

                    <!-- Form Bank -->
                    <div class="formatt" *ngIf="edit_combank==true || new_bank==true">
                        <div>
                            <label for="lastname2">ธนาคาร :</label>
                            <p-dropdown placeholder="--" [options]="bankList" optionValue="bank_code"
                                [showClear]="true" [(ngModel)]="selectedCombank.combank_bankcode"
                                [style]="{ width: '100%', overflow: 'visible' }">
                                <ng-template let-item pTemplate="selectedItem">
                                    {{initial_current.Language=="TH"? item.bank_name_th : item.bank_name_en}}
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    {{initial_current.Language=="TH"? item.bank_name_th : item.bank_name_en}}
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <!-- <label>ชื่อบัญชี</label>
                        <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedCombank.combank_bankcode"> -->

                        <label>เลขที่บัญชี</label>
                        <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedCombank.combank_bankaccount">



                        <br>
                        <button pButton type="button" label="{{title_summit}}" icon="pi pi-check"
                            (click)="combank_summit()"></button>
                        <button pButton type="button" label="{{title_cancel}}" icon="pi pi-times"
                            class="p-button-danger" (click)="combank_cancel()"></button>

                    </div>

                </p-dialog>

                <!-- ConfirmDialog and toast Noti -->
                <p-toast position="top-right"></p-toast>
                <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
                    rejectButtonStyleClass="p-button-text"></p-confirmDialog>

                <!-- ----------------------END Confirm and Toast------------------------ -->
