.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container p-checkbox {
    margin: 0;
}

.checkbox-container label {
    margin-left: 8px; /* ปรับขอบซ้ายของ label ตามต้องการ */
}
