<h4>Policy attendance</h4>
<br>

<span>Links</span>
<p></p>
<div class="grid">

    <div class="col-12 md:col-3">
        <b>Genaral</b>
        <a routerLink="/attendance/policy/yearperiod">Year Period</a>
        <!-- <a routerLink="/attendance/policy/timeperiod">Time Period</a> -->
        <a routerLink="/attendance/policy/reason">Reason</a>
        <a routerLink="/attendance/policy/location">Location</a>
    </div>

    <div class="col-12 md:col-3">
        <b>Policy</b>
        <a routerLink="/attendance/policy/holiday">Holiday</a>
        <a routerLink="/attendance/policy/shift">Shift</a>
        <a routerLink="/attendance/policy/shiftplan">Shift plan</a>
        <a routerLink="/attendance/policy/leave">Leave</a>
        <a routerLink="/attendance/policy/leaveplan">Leave plan</a>
        <a routerLink="/attendance/policy/overtime">Overtime</a>
        <a routerLink="/attendance/policy/diligence">Diligence</a>
        <a routerLink="/attendance/policy/late">Late</a>

    </div>

    <div class="col-12 md:col-3">
        <b>Set Policy</b>
        <a routerLink="/attendance/policy/setholiday">Holiday</a>
        <a routerLink="/attendance/policy/setshift">Shift</a>
        <a routerLink="/attendance/policy/setovertime">Overtime</a>
        <a routerLink="/attendance/policy/setdiligence">Diligence</a>
        <a routerLink="/attendance/policy/setlate">Late</a>
        <a routerLink="/attendance/policy/setleave">Leave</a>
        <a>Workflow</a>
    </div>

    <div class="col-12 md:col-3">
        <!-- <b>Payroll</b>
        <a >Income / Deduct</a>  
        <a >Period</a>       
        <a >GL Account</a> -->
    </div>

    <div class="col-12">
        <b>Workflow</b>
        <a>Approval Form</a>
    </div>

</div>