
<h4>Policy attendance</h4>
<br>

<span>Links</span>
<p></p>
<div class="grid">

    <div class="col-12 md:col-3">
        <b>Genaral</b>
        <a routerLink="/attendance/policy/yearperiod">Year Period</a>
        <a >Time Period</a>
        <a >Reason</a> 
        <a >Location</a>      
    </div>
    
    <div class="col-12 md:col-3">
        <b>Policy</b>
        <a >Holiday</a>
        <a >Shift</a>
        <a >Overtime</a>
        <a >Diligence</a>
        <a >Late</a>        
        <a >Leave</a>     
       
    </div>

    <div class="col-12 md:col-3">
        <b>Set Policy</b>
        <a >Holiday</a>
        <a >Shift</a>
        <a >Overtime</a>
        <a >Diligence</a>
        <a >Late</a>        
        <a >Leave</a>  
        <a >Workflow</a>  
    </div>

    <div class="col-12 md:col-3">
        <!-- <b>Payroll</b>
        <a >Income / Deduct</a>  
        <a >Period</a>       
        <a >GL Account</a> -->
    </div>

    <div class="col-12">
        <b>Workflow</b>
        <a >Approval Form</a>       
    </div>

</div>