<!-- 
<h4>Security system</h4>
<br>

<span>Links</span>
<p></p> -->
<p-breadcrumb class="max-w-full" [model]="mainMenuItems" [home]="homeIcon"></p-breadcrumb>
<br>
<!-- <div class="grid"> -->

<div class="card" style="min-width: 600px; min-height: 500px">
    <div class="grid ">
        <div class="col-12 md:col-3">
            <!-- <b>Security</b> -->
            <p-divider align="left">
                <div>
                    <i class="pi pi-list mr-2"></i>
                    <b>{{this.title_security[this.initialData.Language]}}</b>
                </div>
            </p-divider>
            <div *ngFor="let item of securityMenuItems">
                <a routerLink="../../sec/{{item.link}}">{{item.title}}</a>
            </div>
            <!-- <a routerLink="../../sec/menu">Menu</a>
        <a routerLink="../../sec/account">Account</a>
        <a routerLink="../../sec/workflow">Workflow</a>
        <a>Allow IP/Port</a>
        <a>Change password</a> -->
        </div>
    </div>