<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>

<hr>
<p-tabView>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>ค่าลดหย่อน</span>
        </ng-template>
        <div class="tabledata">
            <!-- ข้อมูล -->
             <app-system-reduce></app-system-reduce>
         </div>
    </p-tabPanel>
    <!--  -->
    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>อัตราภาษี</span>
        </ng-template>
        <div class="tabledata">
            <!-- ข้อมูล -->
            <app-taxrate></app-taxrate>
        </div>
    </p-tabPanel>
</p-tabView>