.batch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

    div {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 1vw;
        min-width: 150px;

        .radio {
            grid-column: 2/4;
            flex-direction: row;
            align-items: center;
        }
    }
}

@media (max-width: 600px) {
    .batch {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
}