<!-- <p>empsetdep works!</p> -->
<!-- Link Page -->
<div class="path">
    <span>Employee</span>
    <div>
        <i></i>
        <a routerLink="/employee/policy">Policy</a>
        <i></i>
        <small>Set Employee Details</small>
    </div>
</div>
<!-- ---------END Link Page----------- -->
<hr>
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>


<p-tabView [(activeIndex)]="index" (onChange)="function($event)">
    <p-tabPanel [selected]="true">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>&nbsp;&nbsp;
            <span>{{title_process[initial_current.Language]}}</span>
        </ng-template>

        <div class="formgrid grid align-items-end">

            <div class="field col-12">
                <app-select-emp></app-select-emp>
            </div>
            <div class="batch">
                <div>
                    <label>{{title_date[initial_current.Language]}}</label>
                    <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true"
                        [(ngModel)]="selectedEmpDep.empdep_date"><input type="text"></p-calendar>
                </div>
                <!-- Department -->
                <div style="grid-column: 1;">
                    <label>{{title_level01[initial_current.Language]}}</label>
                    <p-dropdown placeholder="--" [options]="dep1List" optionValue="dep_code" [showClear]="true"
                        [(ngModel)]="selectedEmpDep.empdep_level01" [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>
                <div>
                    <label>{{title_level02[initial_current.Language]}}</label>
                    <p-dropdown placeholder="--" [options]="dep2List" optionValue="dep_code" [showClear]="true"
                        [(ngModel)]="selectedEmpDep.empdep_level02" [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>
                <div>
                    <label>{{title_level03[initial_current.Language]}}</label>
                    <p-dropdown placeholder="--" [options]="dep3List" optionValue="dep_code" [showClear]="true"
                        [(ngModel)]="selectedEmpDep.empdep_level03" [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>
                <div>
                    <label>{{title_level04[initial_current.Language]}}</label>
                    <p-dropdown placeholder="--" [options]="dep4List" optionValue="dep_code" [showClear]="true"
                        [(ngModel)]="selectedEmpDep.empdep_level04" [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>
                <div>
                    <label>{{title_level05[initial_current.Language]}}</label>
                    <p-dropdown placeholder="--" [options]="dep5List" optionValue="dep_code" [showClear]="true"
                        [(ngModel)]="selectedEmpDep.empdep_level05" [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>
                <!-- Position -->
                <div style="grid-column: 1;">
                    <label>{{title_position[initial_current.Language]}}</label>
                    <p-dropdown placeholder="--" [options]="positionList" optionValue="position_code" [showClear]="true"
                        [(ngModel)]="selectedempPosition"
                        [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.position_name_th : item.position_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.position_name_th : item.position_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>
                <!-- Group -->
                <div>
                    <label>{{title_group[initial_current.Language]}}</label>
                    <p-dropdown placeholder="--" [options]="groupList" optionValue="group_code" [showClear]="true"
                        [(ngModel)]="selectedgroupcode"
                        [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.group_name_th : item.group_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.group_name_th : item.group_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>
                <!-- Reason -->

            </div>
            <div *ngIf="!loading" class="field col-12 md:col-6" style="width: 100%;">
                <p-button label="{{title_btnprocess[initial_current.Language]}}" (click)="process()"></p-button>
            </div>
            <div *ngIf="loading" class="field col-12 md:col-6">
            <p-progressBar  mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
            </div>

        </div>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-file-import"></i>&nbsp;&nbsp;
            <span>{{title_result[initial_current.Language]}}</span>
        </ng-template>

        <!-- <div class="formgrid grid align-items-end">

            <div class="field col-12">
                <app-task></app-task>
            </div>

        </div> -->

        <div>
            <p-table *ngIf="new_data==true" #dt2 [value]="setdepList" styleClass="p-datatable-sm"
                [tableStyle]="{'min-width': '60rem'}" [scrollable]="true" scrollHeight="500px" [virtualScroll]="true"
                selectionMode="single" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                [globalFilterFields]="['worker_detail','company_code','worker_code','empdep_level01','modified_by','modified_date']"

                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{title_no[initial_current.Language]}}</th>
                        <th>{{title_code[initial_current.Language]}}</th>
                        <th>{{title_worker[initial_current.Language]}}</th>
                        <th>{{title_level01[initial_current.Language]}}</th>
                        <th>{{title_modified_by[initial_current.Language]}}</th>
                        <th>{{title_modified_date[initial_current.Language]}}</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-data let-i="rowIndex">
                    <tr [pSelectableRow]="data">
                        <td>{{i+1}}</td>
                        <td>{{data.worker_code}}</td>
                        <td>{{initial_current.Language == "TH"? data.worker_detail_th:data.worker_detail_en}}</td>
                        <!-- <td>{{data.worker_detail}}</td> -->
                        <td>{{data.empdep_level01}}</td>
                        <td>{{data.modified_by}}</td>
                        <td>{{data.modified_date | date:'dd/MM/yyyy'}}</td>
                        <!-- <td>
                            <button *ngIf="new_data==true" pButton type="button" class="pi pi-trash p-button-danger" (click)="Delete(data)"></button>
                        </td> -->
                    </tr>
                </ng-template>

            </p-table>
        </div>

    </p-tabPanel>

</p-tabView>