<span style="font-size: 20px;">Payroll</span>&nbsp; <i class="pi pi-angle-right"></i>&nbsp; <small>Manage Income/Deduct</small>
<hr>

<p-tabView >

    <p-tabPanel  [selected]="true">
        <ng-template pTemplate = "header">
            <i class="pi pi-plus"></i>&nbsp;&nbsp;
            <span>By Income</span>
        </ng-template>

        <p-tabView >
            <p-tabPanel  [selected]="true">
                <ng-template pTemplate = "header">
                    <i class="pi pi-cog"></i>&nbsp;&nbsp;
                    <span>Employee</span>
                </ng-template>

                <table style="width: 600px;">
                    <tr>
                        <td>
                            <i class="pi pi-angle-left" style="font-size: 2rem"></i>
                        </td>
                        <td>
                            <input id="lastname2" type="text" value="2022120001" style="text-align: center;" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </td>
                        <td>
                            <i class="pi pi-angle-right" style="font-size: 2rem"></i>
                        </td>
                        <td>
                            <i class="pi pi-search" ></i>
                        </td>
                        <td style="width: 300px;">
                            <input id="lastname2" type="text" value="นายศรัณย์ ศรีห่วง" style="width: 300px;" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </td>
                    </tr>
                </table>
                <p></p>

                <p-menubar [model]="items"></p-menubar>
                <p-table #dt2  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '100rem'}" [scrollable]="true" scrollHeight="300px" [virtualScroll]="true" selectionMode="single"
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"           
                >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>                           
                            <th>รหัสเงินได้</th>   
                            <th>ชื่อเงินได้</th>
                            <th>จำนวนเงิน</th>   
                            <th>ปริมาณ</th>
                            <th>จากวันที่</th>
                            <th>ถึงวันที่</th>  
                            <th>คำนวณภาษี</th>  
                            <th>คำนวณประกันสังคม</th>  
                            <th>คำนวณกองทุนฯ</th>  
                            <th>โอนธนาคาร</th>  
                            <th>เงินสด</th>     
                            <th>ผู้ทำรายการ</th>   
                            <th>วันที่ทำรายการ</th>                                             
                        </tr>	
                        
                    </ng-template>
                </p-table>

            </p-tabPanel>
            <p-tabPanel >
                <ng-template pTemplate = "header">
                    <i class="pi pi-cog"></i>&nbsp;&nbsp;
                    <span>Income</span>
                </ng-template>

                <table style="width: 600px;">
                    <tr>
                        <td>
                            <i class="pi pi-angle-left" style="font-size: 2rem"></i>
                        </td>
                        <td>
                            <input id="lastname2" type="text" value="SA001" style="text-align: center;" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </td>
                        <td>
                            <i class="pi pi-angle-right" style="font-size: 2rem"></i>
                        </td>
                        <td>
                            <i class="pi pi-search" ></i>
                        </td>
                        <td style="width: 300px;">
                            <input id="lastname2" type="text" value="เงินเดือน" style="width: 300px;" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </td>
                    </tr>
                </table>
                <p></p>

                <p-menubar [model]="items"></p-menubar>
                <p-table #dt2  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '100rem'}" [scrollable]="true" scrollHeight="300px" [virtualScroll]="true" selectionMode="single"
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"           
                >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>                           
                            <th>รหัสพนักงาน</th>   
                            <th>ชื่อ-นามสกุล</th>
                            <th>จำนวนเงิน</th>   
                            <th>ปริมาณ</th>
                            <th>จากวันที่</th>
                            <th>ถึงวันที่</th>  
                            <th>คำนวณภาษี</th>  
                            <th>คำนวณประกันสังคม</th>  
                            <th>คำนวณกองทุนฯ</th>  
                            <th>โอนธนาคาร</th>  
                            <th>เงินสด</th>     
                            <th>ผู้ทำรายการ</th>   
                            <th>วันที่ทำรายการ</th>                                             
                        </tr>	
                        
                    </ng-template>
                </p-table>

            </p-tabPanel>
        </p-tabView>

    </p-tabPanel>

    <p-tabPanel >
        <ng-template pTemplate = "header">
            <i class="pi pi-minus"></i>&nbsp;&nbsp;
            <span>By Deduct</span>
        </ng-template>

        <p-tabView >
            <p-tabPanel  [selected]="true">
                <ng-template pTemplate = "header">
                    <i class="pi pi-cog"></i>&nbsp;&nbsp;
                    <span>Employee</span>
                </ng-template>

                <table style="width: 600px;">
                    <tr>
                        <td>
                            <i class="pi pi-angle-left" style="font-size: 2rem"></i>
                        </td>
                        <td>
                            <input id="lastname2" type="text" value="2022120001" style="text-align: center;" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </td>
                        <td>
                            <i class="pi pi-angle-right" style="font-size: 2rem"></i>
                        </td>
                        <td>
                            <i class="pi pi-search" ></i>
                        </td>
                        <td style="width: 300px;">
                            <input id="lastname2" type="text" value="นายศรัณย์ ศรีห่วง" style="width: 300px;" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </td>
                    </tr>
                </table>
                <p></p>

                <p-menubar [model]="items"></p-menubar>
                <p-table #dt2  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '100rem'}" [scrollable]="true" scrollHeight="300px" [virtualScroll]="true" selectionMode="single"
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"           
                >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>                           
                            <th>รหัสเงินหัก</th>   
                            <th>ชื่อเงินหัก</th>
                            <th>จำนวนเงิน</th>   
                            <th>ปริมาณ</th>
                            <th>จากวันที่</th>
                            <th>ถึงวันที่</th>  
                            <th>คำนวณภาษี</th>  
                            <th>คำนวณประกันสังคม</th>  
                            <th>คำนวณกองทุนฯ</th>  
                            <th>โอนธนาคาร</th>  
                            <th>เงินสด</th>     
                            <th>ผู้ทำรายการ</th>   
                            <th>วันที่ทำรายการ</th>                                             
                        </tr>	
                        
                    </ng-template>
                </p-table>

            </p-tabPanel>
            <p-tabPanel >
                <ng-template pTemplate = "header">
                    <i class="pi pi-cog"></i>&nbsp;&nbsp;
                    <span>Deduct</span>
                </ng-template>

                <table style="width: 600px;">
                    <tr>
                        <td>
                            <i class="pi pi-angle-left" style="font-size: 2rem"></i>
                        </td>
                        <td>
                            <input id="lastname2" type="text" value="DE001" style="text-align: center;" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </td>
                        <td>
                            <i class="pi pi-angle-right" style="font-size: 2rem"></i>
                        </td>
                        <td>
                            <i class="pi pi-search" ></i>
                        </td>
                        <td style="width: 300px;">
                            <input id="lastname2" type="text" value="ขาดงาน" style="width: 300px;" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </td>
                    </tr>
                </table>
                <p></p>

                <p-menubar [model]="items"></p-menubar>
                <p-table #dt2  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '100rem'}" [scrollable]="true" scrollHeight="300px" [virtualScroll]="true" selectionMode="single"
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"           
                >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>                           
                            <th>รหัสพนักงาน</th>   
                            <th>ชื่อ-นามสกุล</th>
                            <th>จำนวนเงิน</th>   
                            <th>ปริมาณ</th>
                            <th>จากวันที่</th>
                            <th>ถึงวันที่</th>  
                            <th>คำนวณภาษี</th>  
                            <th>คำนวณประกันสังคม</th>  
                            <th>คำนวณกองทุนฯ</th>  
                            <th>โอนธนาคาร</th>  
                            <th>เงินสด</th>     
                            <th>ผู้ทำรายการ</th>   
                            <th>วันที่ทำรายการ</th>                                             
                        </tr>	
                        
                    </ng-template>
                </p-table>

            </p-tabPanel>
        </p-tabView>

    </p-tabPanel>

</p-tabView>