<!-- <p>recruiment-blacklist works!</p> -->
<div class="path">
    <span>{{title_black[initial_current.Language]}}</span>
</div>

<hr>

<div>
    <p-menubar [model]="items"></p-menubar>
</div>

<div class="tabledata">
    <!-- Table Show Data -->
    <div #TABLE>
        <p-table #dt2 [value]="blacklist_list" selectionMode="single" [(selection)]="selectedBlacklist"
            (onRowSelect)="onRowSelectInitial($event)" [rows]="12" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[12,25,50]" [paginator]="true"
            currentPageReportTemplate="{{title_page_from[initial_current.Language]}} {first} {{title_page_to[initial_current.Language]}} {last} {{title_page_total[initial_current.Language]}} {totalRecords} {{title_page_record[initial_current.Language]}}"
            [globalFilterFields]="['initial_code','initial_name_en','initial_name_th','modied_by','modied_date']"
            responsiveLayout="stack" [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{title_search[initial_current.Language]}}" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>{{title_card[initial_current.Language]}}</th>
                    <th>{{title_name[initial_current.Language]}}</th>
                    <th>{{title_reason[initial_current.Language]}}</th>
                    <th>{{title_note[initial_current.Language]}}</th>
                    <th>{{title_modified_by[initial_current.Language]}}</th>
                    <th>{{title_modified_date[initial_current.Language]}}</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td><span>{{title_card[initial_current.Language]}}</span>{{data.card_no}}</td>
                    <td><span>{{title_name[initial_current.Language]}}</span>{{initial_current.Language == "TH"?
                        data.blacklist_fname_th+" "+data.blacklist_lname_th :
                        data.blacklist_fname_en+" "+data.blacklist_lname_en}}</td>
                    <td><span>{{title_reason[initial_current.Language]}}</span>{{data.reason_code}}</td>
                    <td><span>{{title_note[initial_current.Language]}}</span>{{data.blacklist_note}}</td>
                    <td><span>{{title_modified_by[initial_current.Language]}}</span>{{data.modified_by}}</td>
                    <td><span>{{title_modified_date[initial_current.Language]}}</span>{{data.modified_date |
                        date:'dd/MM/yyyy HH:mm'}}
                    </td>
                    <td><button pButton type="button" class="pi pi-trash gray-button " (click)="confirmDelete(data)"
                            [disabled]="!this.accessData.accessdata_delete"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="{{title_upload[initial_current.Language]}}" [(visible)]="displayUpload">
    <label class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            required (change)="handleFileInput($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="doUploadBlacklist()" label="{{title_upload[initial_current.Language]}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- -----------------End Dialog Choose File-------------------- -->

<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"
    key="myDialog"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->

<form #Form="ngForm">
    <p-dialog header="{{title_black[initial_current.Language]}}" [(visible)]="displayManage"
        styleClass="dialog-overflow" [position]="position" (onHide)="doLoadBlacklist()">

        <div class="formatt" *ngIf="edit_data==true || new_data==true">
            <label>{{title_card[initial_current.Language]}}<span style="color: red;"> *</span></label>
            <input pInputText maxlength="13" [(ngModel)]="selectedBlacklist.card_no" [pKeyFilter]="'int'"
                [readonly]="edit_data" name="card" #card="ngModel" required>

            <label>{{title_worker[initial_current.Language]}}</label>
            <p-dropdown placeholder="--" [options]="worker_List" optionValue="worker_code" [showClear]="true"
                [(ngModel)]="selectedBlacklist.worker_code" [style]="{ width: '100%', overflow: 'visible' }"
                [filter]="true" filterBy="worker_code,worker_fname_th,worker_lname_th,worker_fname_en,worker_lname_en"
                name="code" #code="ngModel" (onChange)="changeEmp($event.value)" (onClear)="clearEmp()">
                <ng-template let-item pTemplate="selectedItem">
                    {{initial_current.Language=="TH"? item.worker_code+"-"+item.worker_fname_th +"
                    "+item.worker_lname_th :
                    item.worker_code+"-"+item.worker_fname_en
                    +" "+item.worker_lname_en}}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{initial_current.Language=="TH"? item.worker_code+"-"+item.worker_fname_th +"
                    "+item.worker_lname_th :
                    item.worker_code+"-"+item.worker_fname_en
                    +" "+item.worker_lname_en}}
                </ng-template>
            </p-dropdown>

            <label>{{title_fname_th[initial_current.Language]}}<span style="color: red;"> *</span></label>
            <input pInputText id="fnameth" type="text" [(ngModel)]="selectedBlacklist.blacklist_fname_th" name="fnameth"
                #fnameth="ngModel" required>

            <label>{{title_lname_th[initial_current.Language]}}<span style="color: red;"> *</span></label>
            <input pInputText id="lnameth" type="text" [(ngModel)]="selectedBlacklist.blacklist_lname_th" name="lnameth"
                #lnameth="ngModel" required>

            <label>{{title_fname_en[initial_current.Language]}}<span style="color: red;"> *</span></label>
            <input pInputText id="fnameen" type="text" [(ngModel)]="selectedBlacklist.blacklist_fname_en" name="fnameen"
                #fnameen="ngModel" required>

            <label>{{title_lname_en[initial_current.Language]}}<span style="color: red;"> *</span></label>
            <input pInputText id="lnameen" type="text" [(ngModel)]="selectedBlacklist.blacklist_lname_en" name="lnameen"
                #lnameen="ngModel" required>

            <label for="lastname2">{{title_reason[initial_current.Language]}}</label>
            <p-dropdown placeholder="--" [options]="reason_list" optionValue="reason_code"
                [(ngModel)]="selectedBlacklist.reason_code" [showClear]="true"
                [style]="{ width: '100%', overflow: 'visible' }" name="reason" #reason="ngModel">
                <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                    {{initial_current.Language=="TH"? item.reason_name_th : item.reason_name_en}}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{initial_current.Language=="TH"? item.reason_name_th : item.reason_name_en}}
                </ng-template>
            </p-dropdown>

            <label for="ppos_name_en">{{title_note[initial_current.Language]}}</label>
            <textarea [rows]="2" id="ppos_name_en" [(ngModel)]="selectedBlacklist.blacklist_note" [cols]="30"
                pInputTextarea [autoResize]="true" name="note" #note="ngModel"></textarea>

            <div class="field col-12">
                <button *ngIf="!edit_data" pRipple pButton type="submit" label="{{ title_save[initial_current.Language] }}" icon="pi pi-save"
                    (click)="confirmRecord()" [disabled]="!Form.form.valid" class="button-size"></button>

                <button *ngIf="edit_data" pRipple pButton type="submit" (click)="confirmRecord()"
                    label="{{ title_save[initial_current.Language] }}" icon="pi pi-save"
                    [disabled]="(!Form.form.valid == this.accessData.accessdata_edit)|| !this.accessData.accessdata_edit"
                    class="button-size "></button>
                <!-- <p-button label="{{title_save[initial_current.Language]}}" icon="pi pi-save" (onClick)="confirmRecord()"
                    [disabled]="!Form.form.valid"></p-button> -->
            </div>

        </div>
    </p-dialog>
    <div *ngIf="displayManage" style="z-index: 1084;"
        class="p-component-overlay p-sidebar-mask p-component-overlay-enter"></div>
</form>