<span style="font-size: 20px;">จัดการ</span>&nbsp; <i class="pi pi-angle-right"></i>&nbsp; <small>รายการกองทุนสำรองเลี้ยงชีพ</small>
<hr>

<div class="grid">

    <div class="col-12 md:col-8">
        
        <p-menubar [model]="items"></p-menubar>        
        <p-table #dtJobcost [value]="pf_list"  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '60rem'}" [scrollable]="true" scrollHeight="400px" [virtualScroll]="true" selectionMode="single" [(selection)]="selectedPf" (onRowSelect)="onRowSelectPf($event)" dataKey="file_preix"
            [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
            [paginator]="true" currentPageReportTemplate="จาก {first} ถึง {last} จำนวนทั้งหมด {totalRecords} รายการ"
        > 

        <ng-template pTemplate="header">
            <tr>						
                <th>ปี</th>
                <th>รายการข้อมูล</th>
                <th>Prefix File</th>
                <th>Folder</th>
                <th>จำนวนไฟล์</th>
                <th>เปิดใช้งาน</th>   
                <th>อันดับ</th>             
                <th>ผู้ทำรายการ</th>
                <th>วันที่ทำรายการ</th>                                                 
            </tr>	
        </ng-template>  
        <ng-template pTemplate="body" let-pf>
            <tr [pSelectableRow]="pf">        
                <td>{{pf.year_id}}</td>                                
                <td>{{pf.file_name}}</td>
                <td>{{pf.file_preix}}</td>
                <td>{{pf.file_folder}}</td>
                <td style="text-align: center;">{{pf.file_count_file}}</td>
                <td style="text-align: center;">{{true == pf.file_enable ? 'ใช้งาน' : '' }}</td>
                <td style="text-align: center;">{{pf.file_order}}</td>  
                <td>{{pf.modified_by}}</td>      
                <td>{{pf.modified_date | date:'dd/MM/yyyy '}}</td>
            </tr>
        </ng-template> 


        </p-table>  
    </div>
    <div class="col-12 md:col-4">
        <div class="formgrid grid" >
       
            <div class="field col-12 ">   
                <label for="ppos_shift_code">ปี</label>
                <p-dropdown placeholder="2566" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
            </div>

            <div class="field col-12 ">
                <label for="protimepol_code">รายการข้อมูล</label>    
                <input type="text" id="protimepol_code" placeholder="ใบแจ้งยอดเงินสมาชิกกองทุนฯ มีนาคม" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div>

            <div class="field col-12 ">
                <label for="protimepol_code">Prefix</label>    
                <input type="text" id="protimepol_code" placeholder="25660125_102522_scbam_pvd_25651231_01568_3_" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div>

            <div class="field col-12 ">
                <label for="protimepol_code">Folder</label>    
                <input type="text" id="protimepol_code" placeholder="2566/03" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div>

            <div class="field col-12 ">   
                <label for="ppos_shift_code">อันดับ</label>
                <p-dropdown placeholder="1" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
            </div>

            <div class="field col-12">
                <input type="checkbox" /><label for="firstname2">ใช้งาน</label>						
            </div>

            <div class="field col-12">
                <p-button label="บันทึก" icon="pi pi-save"></p-button>                       
            </div>

        </div>
    </div>

</div>