
    <ng-template pTemplate="header">
        <i class="pi-map"></i>&nbsp;&nbsp;
        <span>แผนที่</span>
    </ng-template>
    <div class="formgrid grid align-items-end">
        <div class="field col-12 md:col-12">
            <p-image [src]="base65Image" id="imgmaps" name="imgmaps" alt="Image" width="500"
        height="400"></p-image>
        </div>
        <div class="field col-12 md:col-4">
            <input class="upload" type="file" id="file" (change)="onselectFiles($event)">
        </div>
        <div class="field col-12 md:col-6"></div>
    </div>

