<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<!-- Link Page -->
<div class="path">
    <span>System</span>
    <div>
        <i></i>
        <a routerLink="/system/sys-manage">Manage</a>
        <i></i>
        <small><label>Structure</label>
        </small>
    </div>
</div>

<hr>



<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items"></p-menubar>
</div>
<!-- ----------------END MENU----------------- -->

<div class="tabledata">
    <p-table #dt2 styleClass="p-datatable-sm" [tableStyle]="{'min-width': '100rem'}" [scrollable]="true"
        scrollHeight="350px" [virtualScroll]="true" selectionMode="single" [rows]="20" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[20,50,100]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Detail</th>
                <th>Lenght</th>
                <th>Text</th>
                <th>ผู้ทำรายการ</th>
                <th>วันที่ทำรายการ</th>
            </tr>

        </ng-template>
    </p-table>

    <!-- -----------------------END Table-------------------------- -->

    <!-- Form input or Edit Data -->
    <div class="formatt" *ngIf="new_data==true">
        <!-- <i (click)="close()"></i> -->

        <label>code</label>
        <input pInputText type="text" [(ngModel)]="selectedTRPolcode.codestructure_code" maxlength="5" />



        <label>lenght</label>
        <textarea [(ngModel)]="selectedTRPolcode.polcode_lenght" pInputTextarea [autoResize]="true"></textarea>

        <label>text</label>
        <textarea [(ngModel)]="selectedTRPolcode.polcode_text" pInputTextarea [autoResize]="true"></textarea>

        <label>order</label>
        <textarea [(ngModel)]="selectedTRPolcode.polcode_order" pInputTextarea [autoResize]="true"></textarea>

        <button pButton type="button" label="{{title_save}}" icon="pi pi-check" (click)="confirmRecord()"></button>
        <button *ngIf=" edit_TRPolcode" pButton type="button" label="{{title_delete}}" icon="pi pi-trash"
            class="p-button-danger" (click)="confirmRecord()"></button>
    </div>

</div>


<!-- -----------------End Dialog Choose File-------------------- -->

<!-- ConfirmDialog and toast Noti -->
<!-- <p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog> -->
<!-- ----------------------END Confirm and Toast------------------------ -->
