
<h4>Policy employee</h4>
<br>

<span>Links</span>
<p></p>
<div class="grid">

    
    <div class="col-12 md:col-3">
        <b>Genaral</b>
        <a routerLink="../../employee/policy/location">Location</a>
        <a routerLink="../../employee/policy/part">Part</a>
        <a routerLink="../../employee/policy/position">Position</a>        
        <a routerLink="../../employee/policy/group">Group</a>     
        <a routerLink="../../employee/policy/initial">Initial</a> 
        <a routerLink="../../employee/policy/emptype">Emp Type</a> 
        <a routerLink="../../employee/policy/empstatus">Emp Status</a>     
       
    </div>

    <div class="col-12 md:col-3">
        <b>Setup</b>
        <a >Wage</a>      
        <a >Provident Fund</a>
        <a >SSO.</a> 
        <a >Location</a>
        <a >Group</a>  
    </div>

    <div class="col-12 md:col-3">
        <b>Batch</b>
        <a routerLink="../../employee/policy/batch/empposition">Position</a>
        <a routerLink="../../employee/policy/batch/empdep">Part</a>
        <a routerLink="../../employee/policy/batch/empsalary">Adjust Salary</a>
        <a routerLink="../../employee/policy/batch/empgroup">Group</a>
        <a routerLink="../../employee/policy/batch/emplocation">Location</a>
        <!-- <b>Payroll</b>
        <a >Income / Deduct</a>  
        <a >Period</a>       
        <a >GL Account</a> -->
    </div>

    <div class="col-12">
        <b>Workflow</b>
        <a >Hire</a>
        <a >Lay off</a>
        <a >Transfer</a>  
        <a >Adjust</a>       
    </div>

</div>