
<h4>Policy employee</h4>
<br>

<span>Links</span>
<p></p>
<div class="grid">

    
    <div class="col-12 md:col-3">
        <b>{{title_general[initial_current.Language]}}</b>
        <a routerLink="../../employee/policy/location">{{title_location[initial_current.Language]}}</a>
        <a routerLink="../../employee/policy/part">{{title_dep[initial_current.Language]}}</a>
        <a routerLink="../../employee/policy/position">{{title_position[initial_current.Language]}}</a>        
        <a routerLink="../../employee/policy/group">{{title_group[initial_current.Language]}}</a>     
        <a routerLink="../../employee/policy/initial">{{title_initial[initial_current.Language]}}</a> 
        <a routerLink="../../employee/policy/emptype">{{title_emptype[initial_current.Language]}}</a> 
        <a routerLink="../../employee/policy/empstatus">{{title_empstatus[initial_current.Language]}}</a>     
       
    </div>

    <!-- <div class="col-12 md:col-3">
        <b>Setup</b>
        <a >Wage</a>      
        <a >Provident Fund</a>
        <a >SSO.</a> 
        <a >Location</a>
        <a >Group</a>  
    </div> -->

    <div class="col-12 md:col-3">
        <b>{{title_setbatch[initial_current.Language]}}</b>
        <!-- <a routerLink="../../employee/policy/batch/empposition">Position</a> -->
        <a routerLink="../../employee/policy/batch/empdetail">{{title_setdetail[initial_current.Language]}}</a>
        <a routerLink="../../employee/policy/batch/empassessment">{{title_setassessment[initial_current.Language]}}</a>
        <a routerLink="../../employee/policy/batch/emptraining">{{title_settraining[initial_current.Language]}}</a>
        <a routerLink="../../employee/policy/batch/empsalary">{{title_setsalary[initial_current.Language]}}</a>
        <!-- <a routerLink="../../employee/policy/batch/empgroup">Group</a> -->
        <a routerLink="../../employee/policy/batch/emplocation">{{title_setlocation[initial_current.Language]}}</a>
        <a routerLink="../../employee/policy/batch/empprovident">{{title_setprovident[initial_current.Language]}}</a>
        <a routerLink="../../employee/policy/batch/empbenefits">{{title_setbenefit[initial_current.Language]}}</a>
        <!-- <b>Payroll</b>
        <a >Income / Deduct</a>  
        <a >Period</a>       
        <a >GL Account</a> -->
    </div>

    <div class="col-12">
        <b>Workflow</b>
        <a >Hire</a>
        <a >Lay off</a>
        <a >Transfer</a>  
        <a >Adjust</a>       
    </div>

</div>