.table_head{
    border-collapse: collapse;
}

.table_head td{
    padding: 5px;
    border: 0px solid #ccc;
    height: 100px;
    width: 100%;
    background-color: #152047;
    color: #FFFFFF;
}

.table_head td h4, a{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400;
    color: #FFFFFF;
}


.table_head b{
    font-size: 20px;
    font-weight: 400;
}

.table_head small{
    font-size: 12px;
}


.main_div {
    text-align:left;
    position: relative;
    padding: 5px;
    height: 100px;
    width: 100px;
    background-color: #152047;
}

.spn_value{
    color: #FFFFFF;
    font-size: 16px;
}

.spn_title{
    color: #FFFFFF;
    font-size: 12px;    
}

.spn_title_edit{
    margin: 10px 0px 10px 15px;    
    font-weight: bold;
    font-size: 15px;    
}

.td_amount{
    text-align: right;
    padding-right: 10px;
}

::ng-deep .input-styling input {
    width: 40px !important;
  }

  textarea{
    width: 100%;
  }

