<table class="table_head" style="width: 100%;">
    <tr>
        <td align="left">
            <h4>{{title_page[initial_current.Language]}}</h4>

        </td>
        <td align="right">

            <div class="flex">
                <p style="width: 80px; text-align: left;">
                    <b>{{total_project}}</b>
                    <br>
                    <small>{{title_total_project[initial_current.Language]}}</small>
                </p>
                <p-divider layout="vertical"></p-divider>
                <p style="width: 80px; text-align: left;">
                    <b>{{total_emp}}</b>
                    <br>
                    <small>{{title_total_emp[initial_current.Language]}}</small>
                </p>
                <p-divider layout="vertical"></p-divider>
                <p style="width: 80px; text-align: left;">
                    <b style="color: orange;">{{new_project}}</b>
                    <br>
                    <small>{{title_new_project[initial_current.Language]}}</small>
                </p>
                <p-divider layout="vertical"></p-divider>
                <p style="width: 150px; text-align: left; margin-right: 10px;">
                    <b>{{total_cost | number:'1.2-2'}}</b>
                    <br>
                    <small>{{title_total_cost[initial_current.Language]}}</small>
                </p>
            </div>


        </td>
    </tr>
</table>

<!-- <p-toast position="top-right"></p-toast>  -->


<!-- <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog> -->

<p-dialog class="uploadfile" header="{{title_upload}}" [(visible)]="displayUpload">
    <label class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            required (change)="handleFileInput($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="doUploadGenaral()" label="{{title_upload}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>



<p-menubar [model]="items"></p-menubar>

<div class="tabledata">
    <!-- Table Show Data -->
    <div #TABLE>
        <p-table #dt2 [value]="project_list" selectionMode="single" [(selection)]="selectedProject" [scrollable]="true"
            (onRowSelect)="onRowSelectProject($event)" [rows]="12" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[12,25,50]" [paginator]="true"
            currentPageReportTemplate="{{title_page_from[initial_current.Language]}} {first} {{title_page_to[initial_current.Language]}} {last} {{title_page_total[initial_current.Language]}} {totalRecords} {{title_page_record[initial_current.Language]}}"
            [globalFilterFields]="['project_code','project_name_th','project_business','project_type','project_start','project_end']"
            responsiveLayout="stack" [breakpoint]="'744px'" responsiveLayout="stack" [breakpoint]="'744px'">
            <!-- <p-table #dt2 [value]="project_list" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '70rem'}"
                    [scrollable]="true" scrollHeight="500px" [virtualScroll]="true" selectionMode="single"
                    [(selection)]="selectedProject" (onRowSelect)="onRowSelectProject($event)" dataKey="project_code"
                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                    currentPageReportTemplate="{{title_page_from[initial_current.Language]}} {first} {{title_page_to[initial_current.Language]}} {last} {{title_page_total[initial_current.Language]}} {totalRecords} {{title_page_record[initial_current.Language]}}"
                    [globalFilterFields]="['project_code','project_name_th','project_business','project_type','project_start','project_end']" responsiveLayout="stack" [breakpoint]="'744px'"> -->
            <!-- Form Search Table -->


            <ng-template pTemplate="caption">
                <!--  -->
                <div class="checkselect">
                    <div class="select">
                        <!-- ช่วงวันที่  -->
                        <!-- <div>
                            <p-checkbox [(ngModel)]="fillterfromdate" name="project_status" [binary]="true"
                                (onChange)="doChangeSelectfillterfromdate()"></p-checkbox> &nbsp;
                            <label for="lastname2">{{ title_date[initial_current.Language] }} :</label>
                        </div> -->

                        <div>
                            <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="false"
                                [(ngModel)]="selectedDate_fillter" (onSelect)="doFillter()"
                                inputId="selectedDate_fillter"></p-calendar>
                        </div>

                        <div>
                            <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="false"
                                [(ngModel)]="selectedToDate_fillter" (onSelect)="doFillter()"
                                inputId="selectedToDate_fillter"></p-calendar>
                        </div>
                        <!-- &nbsp;
                        <div>
                            <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="false"
                                [(ngModel)]="selectedDate_fillter" (onSelect)="doFillter()"
                                inputId="selectedDate_fillter"></p-calendar>
                        </div> -->

                    </div>

                    <div class="select">
                        <!--  สถานะอนุมัติ (Default All)  -->

                        <div>
                            <p-checkbox [(ngModel)]="fillterStatus" name="project_status" [binary]="true"
                                (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                            <label for="lastname2">{{ title_defaultstatus[initial_current.Language] }} :</label>
                        </div>

                        <p-dropdown placeholder="--" [options]="[
                                { label: title_wait[initial_current.Language], value: 'W' },
                                { label: title_approved[initial_current.Language], value: 'F' },
                                { label: title_notApprove[initial_current.Language], value: 'C' }]" optionLabel="label"
                            optionValue="value" [showClear]="true" [(ngModel)]="selectedstatus"
                            (onChange)="doChangeSelectstatus()" [disabled]="!fillterStatus"
                            [style]="{ width: '100%', overflow: 'visible' }">
                        </p-dropdown>
                    </div>

                    <div class="select">
                        <!--  ประเภทธุรกิจ  -->
                        <div>
                            <p-checkbox [(ngModel)]="fillterbusiness" name="project_probusiness" [binary]="true"
                                (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                            <label for="lastname2">{{ title_probusiness[initial_current.Language] }} :</label>
                        </div>

                        <p-dropdown placeholder="--" [options]="probusiness_list" optionLabel="probusiness_code"
                            optionValue="probusiness_code" [showClear]="true" [(ngModel)]="selectedbusiness"
                            (onChange)="doChangeSelectbusiness()" [disabled]="!fillterbusiness"
                            [style]="{ width: '100%', overflow: 'visible' }">
                            <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.probusiness_name_th : item.probusiness_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.probusiness_name_th : item.probusiness_name_en}}
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <div class="select">
                        <!-- พื้นที่  -->
                        <div>
                            <p-checkbox [(ngModel)]="fillterproarea" name="proarea_code" [binary]="true"
                                (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                            <label for="lastname2">{{ title_project_progarea[initial_current.Language] }} :</label>
                        </div>

                        <p-dropdown placeholder="--" [options]="proarea_list" optionValue="proarea_code"
                            [(ngModel)]="selectedproarea" (onChange)="doChangeSelectproarea()" [showClear]="true"
                            [disabled]="!fillterproarea" [style]="{ width: '100%', overflow: 'visible' }">
                            <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.proarea_name_th : item.proarea_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.proarea_name_th : item.proarea_name_en}}
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <!--  -->
                    <!-- <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{title_search[initial_current.Language]}}" />
                    </span>
                </div> -->
                </div>
            </ng-template>

            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:9%">{{title_projectcode[initial_current.Language]}}</th>
                    <th style="width:12%">{{title_projectname[initial_current.Language]}}</th>
                    <th>{{title_status[initial_current.Language]}}</th>
                    <!-- <th>{{title_probusiness[initial_current.Language]}}</th>
                        <th>{{title_protype[initial_current.Language]}}</th>                         -->
                    <th>{{title_manpower[initial_current.Language]}}</th>
                    <th>{{title_cost[initial_current.Language]}}</th>
                    <th>{{title_fromdate[initial_current.Language]}}</th>
                    <th>{{title_todate[initial_current.Language]}}</th>

                    <th>{{title_modified_by[initial_current.Language]}}</th>
                    <th>{{title_modified_date[initial_current.Language]}}</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-project let-i="rowIndex">


                <!-- <ng-template pTemplate="body" let-project> -->
                <tr (click)="selectionProject(project)">
                    <td>{{project.project_code}}</td>
                    <td class="text-left">
                        <div *ngIf="this.initial_current.Language == 'TH'">
                            {{project.project_name_th}}
                        </div>
                        <div *ngIf="this.initial_current.Language != 'TH'">
                            {{project.project_name_en}}
                        </div>
                    </td>
                    <td><p-tag [value]="doGetStatusDetail(project.project_status)"
                            [severity]="getSeverity(project.project_status)"></p-tag></td>
                    <!-- <td class="text-left">{{project.project_probusiness}}</td>
                        <td>{{project.project_protype}}</td> -->
                    <td class="text-center">{{project.project_emp}}</td>
                    <td class="text-right">{{project.project_cost | number:'1.2-2'}}</td>
                    <td>{{project.project_start | date:'dd/MM/yyyy '}}</td>
                    <td>{{project.project_end | date:'dd/MM/yyyy '}}</td>


                    <td>{{project.modified_by}}</td>
                    <td>{{project.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
                    <!-- <button pButton type="button" class="pi pi-trash gray-button"
                        [disabled]="!accessData.accessdata_delete" (click)="confirmDeletes(project)">
                    </button> -->

                    <td class="text-center">
                        <i class="pi pi-search" style="font-size: 1rem" (click)="selectionProject(project)"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- -----------------------END Table-------------------------- -->

    <div *ngIf="displayManage" style="z-index: 1084;"
        class="p-component-overlay p-sidebar-mask p-component-overlay-enter">
    </div>

    <p-dialog header="{{title_manage[initial_current.Language]}}" [(visible)]="displayManage"
        [style]="{ height: '500px', 'overflow-y': 'hidden' }" [position]="position" (onHide)="reloadPage()">
        <p-scrollPanel [style]="{width: '25vw', height: '500px'}">
            <div class="formgrid grid  " *ngIf="edit_data==true || new_data==true">

                <div class="field col-12 ">
                    <label for="ppos_code">{{title_projectcode[initial_current.Language]}}</label>
                    <input pInputText type="text" [(ngModel)]="selectedProject.project_code" maxlength="20"
                        [disabled]="edit_data" name="code" #code="ngModel" required
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />


                </div>

                <div class="field col-12 ">
                    <label for="ppos_name_th">{{title_projectname[initial_current.Language]}} (TH)</label>
                    <input type="text" id="ppos_code" [(ngModel)]="selectedProject.project_name_th"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

                </div>
                <div class="field col-12 ">
                    <label for="ppos_name_en">{{title_projectname[initial_current.Language]}} (EN)</label>
                    <input type="text" id="ppos_code" [(ngModel)]="selectedProject.project_name_en"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

                </div>

                <div class="field col-12">
                    <label for="lastname2">{{title_probusiness[initial_current.Language]}}</label><br>

                    <p-dropdown placeholder="--" [options]="probusiness_list" optionValue="probusiness_code"
                        [(ngModel)]="selectedProject.project_probusiness" [showClear]="true"
                        [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.probusiness_name_th : item.probusiness_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.probusiness_name_th : item.probusiness_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>


                <!-- <div class="field col-12">
                    <label for="lastname2">{{title_project_progarea[initial_current.Language]}}</label><br>
                    <p-dropdown placeholder="--" [options]="proarea_list" optionValue="proarea_code"
                    [(ngModel)]="selectedProject.project_proarea"   [showClear]="true"
                        [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.proarea_name_th : item.proarea_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.proarea_name_th : item.proarea_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div> -->
                <!-- <div class="field col-12">
                    <label for="lastname2">{{title_protype[initial_current.Language]}}</label><br>
    
                    <p-dropdown placeholder="--" [options]="protype_list" optionValue="protype_code"
                        [(ngModel)]="selectedProject.project_protype" [showClear]="true"
                        [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.protype_name_th : item.protype_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.protype_name_th : item.protype_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div> -->

                <div class="p-dialog-content " style="text-align: right; display: flex; justify-content: flex-end;">
                    <br />
                    <button *ngIf="new_data" pButton label="{{title_save[initial_current.Language]}}" icon="pi pi-save"
                        (click)="confirmRecord()"></button>
                    <button *ngIf="edit_data" pButton label="{{title_save[initial_current.Language]}}" icon="pi pi-save"
                        (click)="confirmRecord()" [disabled]="!this.accessData.accessdata_edit"></button>
                    &nbsp;
                    <button pButton pRipple type="button" label="{{title_more[initial_current.Language]}}"
                        (click)="selectProject()" class="p-button-secondary"></button>

                    &nbsp;
                    <button *ngIf="edit_data" pButton type="button" label="{{title_delete[initial_current.Language]}}"
                        icon="pi pi-trash" class="p-button-secondary button-size btndel" (click)="confirmDelete()"
                        [disabled]="!this.accessData.accessdata_delete"></button>
                </div>



            </div>
        </p-scrollPanel>
    </p-dialog>
</div>