<div class="formgrid grid align-items-end">

    <div class="formfliter">
        <div class="checkselect">
            <div class="select">
                <!-- emptype -->
                <div>
                    <p-checkbox [(ngModel)]="fillterEmptype" name="type" [binary]="true"
                        (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                    <label for="lastname2">{{title_emptype}} :</label>
                </div>
                <p-dropdown placeholder="--" [options]="emptypeList" optionValue="type_code" [showClear]="true"
                    [(ngModel)]="selectedEmptype" (onChange)="doChangeSelectEmptype()" [disabled]="!fillterEmptype"
                    [style]="{ width: '100%', overflow: 'visible' }">
                    <ng-template let-item pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.type_name_th : item.type_name_en}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.type_name_th : item.type_name_en}}
                    </ng-template>
                </p-dropdown>
            </div>
            <!-- location -->
            <div class="select">
                <div>
                    <p-checkbox [(ngModel)]="fillterLocation" name="location" [binary]="true"
                        (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                    <label for="lastname2">{{title_location}} :</label>
                </div>
                <p-dropdown placeholder="--" [options]="locationList" optionValue="location_code" [showClear]="true"
                    [(ngModel)]="selectedLocation" (onChange)="doChangeSelectLocation()" [disabled]="!fillterLocation"
                    [style]="{ width: '100%', overflow: 'visible' }">
                    <ng-template let-item pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.location_name_th : item.location_name_en}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.location_name_th : item.location_name_en}}
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="select">
                <!-- dep -->
                <div>
                    <p-checkbox [(ngModel)]="fillterLevel" name="dep" [binary]="true"
                        (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                    <label for="lastname2">{{title_level}} :</label>
                </div>
                <p-dropdown placeholder="--" [options]="levelList" optionValue="level_code" [showClear]="true"
                    [(ngModel)]="selectedLevel" (onChange)="doChangeSelectLevel()" [disabled]="!fillterLevel"
                    [style]="{ width: '100%', overflow: 'visible' }">
                    <ng-template let-item pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.level_name_th : item.level_name_en}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.level_name_th : item.level_name_en}}
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="select">
                <!-- position -->
                <div>
                    <p-checkbox [(ngModel)]="fillterPosition" name="position" [binary]="true"
                        (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                    <label for="lastname2">{{title_position}} :</label>
                </div>
                <p-dropdown placeholder="--" [options]="positionList" optionValue="position_code" [showClear]="true"
                    [(ngModel)]="selectedPosition" (onChange)="doChangeSelectPosition()" [disabled]="!fillterPosition"
                    [style]="{ width: '100%', overflow: 'visible' }">
                    <ng-template let-item pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.position_name_th : item.position_name_en}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.position_name_th : item.position_name_en}}
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="select">
                <div>

                </div>
                <p-dropdown placeholder="--" [options]="deplevelList" optionValue="dep_code" [showClear]="true"
                    [(ngModel)]="selectedDep" (onChange)="doChangeSelectDep()" [disabled]="!fillterLevel"
                    [style]="{ width: '100%', overflow: 'visible' }">
                    <ng-template let-item pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                    </ng-template>
                </p-dropdown>
            </div>
            <!-- position -->
            <div class="select">
                <div>
                    <p-checkbox [(ngModel)]="fillterProject" name="project" [binary]="true"
                        (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                    <label for="lastname2">{{title_project}} :</label>
                </div>
                <p-dropdown placeholder="--" [options]="projectList" optionValue="project_code" [showClear]="true"
                    [(ngModel)]="selectedProject" (onChange)="doChangeSelectProject()" [disabled]="!fillterProject"
                    [style]="{ width: '100%', overflow: 'visible' }">
                    <ng-template let-item pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.project_name_th : item.project_name_en}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.project_name_th : item.project_name_en}}
                    </ng-template>
                </p-dropdown>
            </div>
            <!-- Search Employee -->
            <div class="select">
                <div>
                    <p-checkbox [(ngModel)]="fillterSearchemp" name="searchemp" [binary]="true"
                        (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                    <label for="lastname2">{{title_searchemp}} :</label>
                </div>
                <input pInputText [(ngModel)]="selectedSearchemp" [disabled]="!fillterSearchemp" type="text"
                    id="searchemp" (input)="doChangeSearchemp($event)">
            </div>

            <!-- resign -->
            <div class="resign">
                <p-checkbox name="resign" [binary]="true" (onChange)="doGetDataFillter()"
                    [(ngModel)]="fillterIncludeResign"></p-checkbox>&nbsp;
                <label>{{title_resign}}</label>
            </div>


        </div>

        <div class="field col-12">
            <p-pickList [metaKeySelection]="false" [responsive]="true" [source]="employee_source"
                [target]="employee_dest" sourceHeader="Source List" targetHeader="Target List"
                [sourceStyle]="{'height':'15rem'}" [targetStyle]="{'height':'15rem'}" [dragdrop]="true">
                <ng-template let-emp pTemplate="item">
                    <div>
                        <div *ngIf="initial_current.Language =='TH'" style="font-size:14px;float:left;">
                            {{emp.worker_code}} - {{emp.worker_fname_th}} {{emp.worker_lname_th}}
                        </div>
                        <div *ngIf="initial_current.Language =='EN'" style="font-size:14px;float:left;">
                            {{emp.worker_code}} - {{emp.worker_fname_en}} {{emp.worker_lname_en}}
                        </div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>

    </div>