<div class="formgrid grid align-items-end">

    <div class="field col-12 md:col-6">
        <label for="lastname2">หน่วยงาน :</label><br>
        <p-dropdown placeholder="ทั้งหมด" optionLabel="name" [showClear]="true"
            [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
    </div>
    <div class="field col-12 md:col-6">
        <label for="lastname2">ตำแหน่งงาน :</label><br>
        <p-dropdown placeholder="ทั้งหมด" optionLabel="name" [showClear]="true"
            [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
    </div>
    <div class="field col-12 md:col-6">
        <label for="lastname2">ประเภทพนักงาน :</label><br>
        <p-dropdown placeholder="ทั้งหมด" optionLabel="name" [showClear]="true"
            [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
    </div>
    <div class="field col-12 md:col-6">
        <label for="lastname2">สถานะพนักงาน :</label><br>
        <p-dropdown placeholder="ทั้งหมด" optionLabel="name" [showClear]="true"
            [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
    </div>

    <div class="field col-12">
        <p-pickList [metaKeySelection]="false" [responsive]="true" [source]="employee_source"
            [target]="employee_dest" sourceHeader="Source List" targetHeader="Target List"
            [sourceStyle]="{'height':'15rem'}" [targetStyle]="{'height':'15rem'}">
            <ng-template let-emp pTemplate="item">
                <div>
                    <div style="font-size:14px;float:left;">{{emp.worker_code}} - {{emp.worker_fname_th}} {{emp.worker_lname_th}}</div>
                </div>
            </ng-template>
        </p-pickList>
    </div>
    
</div>