
<h4>Policy payroll</h4>
<br>

<span>Links</span>
<p></p>
<div class="grid">
    <div class="col-12 md:col-3">
        <b>Genaral</b>
        <a >Taxpayer</a>
        <a >Setup Income/Deduct</a>
        <a >Provident Fund</a>
        <a >Bonus</a>
        <a >Payment Period</a>
    </div>
    <div class="col-12 md:col-3">
        <b> Policy</b>
        <a routerLink="../../payroll/calculationperiod">Calculation Period</a>

        <a routerLink="../../payroll/taxrate">Tax Rate</a>
        <a routerLink="../../payroll/items">Income / Deduct </a>
        <a routerLink="../../payroll/pay-provident">Provident Fund</a>
        <a routerLink="../../payroll/pay-bonus">Bonus</a>

<!-- <a >G/L Code</a> -->
    </div>


    <div class="col-12 md:col-3">
        <b>Set Batch</b>


        <a routerLink="../../payroll/setitems">Set Income / Deduct</a>
        <a routerLink="../../payroll/setbonus">Set Bonus</a>
        <a routerLink="../../payroll/setprovident">Set Provident Fund </a>

       
        



    </div>

</div>
