<!-- <h4>{{title_system_payroll}}</h4> -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>

<hr>

<!-- <span>Links</span>
<p></p> -->

<div class="card" style="min-width: 600px; min-height: 500px">

    <div class="grid">
        <!-- <div class="col-12 md:col-3">
        <b>Genaral</b>
        <a >Taxpayer</a>
        <a >Setup Income/Deduct</a>
        <a >Provident Fund</a>
        <a >Bonus</a>
        <a >Payment Period</a>
    </div> -->
        <div class="col-12 md:col-3">
            <b> {{title_system_Policy}}</b>
            <div *ngFor="let item of policyMenuItems">
                <a routerLink="../../payroll/{{item.link}}">{{item.title}}</a>
            </div>
            <!-- <a routerLink="../../payroll/calculationperiod">{{title_Calculation}}</a>

            <a routerLink="../../payroll/taxrate">{{title_Taxrate}}</a>
            <a routerLink="../../payroll/items">{{title_IncomeDeduct}}</a>
            <a routerLink="../../payroll/pay-provident">{{title_Provident_Fund}}</a>
            <a routerLink="../../payroll/pay-bonus">{{title_Bonus}}</a> -->
            <hr style="border-color:  rgba(220, 220, 220, 0.386); border-width: 1px; margin-top: 10px; width: 70%;">

            <!-- <a >G/L Code</a> -->
        </div>


        <div class="col-12 md:col-3">
            <b>Set Batch</b>
            <div *ngFor="let item of setpolicyMenuItems">
                <a routerLink="../../payroll/{{item.link}}">{{item.title}}</a>
            </div>

            <!-- <a routerLink="../../payroll/setitems">{{title_SetIncomeDeduct}}</a>
            <a routerLink="../../payroll/setbonus">{{title_SetBonus}}</a>
            <a routerLink="../../payroll/setprovident">{{title_SetProvidentFund}}</a> -->
            <hr style="border-color:  rgba(220, 220, 220, 0.386); border-width: 1px; margin-top: 10px; width: 70%;">






        </div>

    </div>
</div>