
<h4>Policy payroll</h4>
<br>

<span>Links</span>
<p></p>
<div class="grid">

    
    <div class="col-12 md:col-3">
        <b>Genaral</b>
        <a >Taxpayer</a>
        <a >Setup Income/Deduct</a>
        <a >Provident Fund</a>
        <a >Bonus</a>   
        <a >Payment Period</a>
    </div>

    <div class="col-12 md:col-3">
        <b>Set Policy</b>
        <a >Income/Deduct</a>
        <a >G/L Code</a>
        <a >Bonus</a>        
    </div>

    <div class="col-12 md:col-3">
        <!-- <b>Payroll</b>
        <a >Income / Deduct</a>  
        <a >Period</a>       
        <a >GL Account</a> -->
    </div>

    

</div>