<span style="font-size: 20px;">Package</span>&nbsp; <i class="pi pi-angle-right"></i>&nbsp; <small>Small Business</small>
<hr>

<div class="grid">
    <div class="col-6">
        <div class="formgrid grid">
            <div class="field col-12 md:col-6 ">
                <label for="ppos_code">Ref.No</label>    
                <input type="text" id="ppos_code" value="P20221212" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div> 
            <div class="field col-12 md:col-6 ">
                <label for="ppos_shift_code">Package</label>
                <p-dropdown placeholder="Small Business" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
            </div> 

            <div class="field col-12 md:col-6 ">
                <label for="ppos_code">Company Quantity</label>    
                <input type="text" id="ppos_code" value="3"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div> 
            <div class="field col-12 md:col-6 ">
                <label for="ppos_code">Company Used</label>    
                <input type="text" id="ppos_code" value="1"  readonly class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div> 

            <div class="field col-12 md:col-6 ">
                <label for="ppos_code">Branch Quantity</label>    
                <input type="text" id="ppos_code" value="3"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div> 
            <div class="field col-12 md:col-6 ">
                <label for="ppos_code">Branch Used</label>    
                <input type="text" id="ppos_code" value="1"  readonly class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div> 

            <div class="field col-12 md:col-6 ">
                <label for="ppos_code">Employeee Quantity</label>    
                <input type="text" id="ppos_code" value="300"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div>

            <div class="field col-12 md:col-6 ">
                <label for="ppos_code">Employeee Used</label>    
                <input type="text" id="ppos_code" value="298" readonly  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div>

            <div class="field col-12 md:col-6 ">
                <label for="ppos_code">Concurrent Quantity</label>    
                <input type="text" id="ppos_code" value="2"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div>

            <div class="field col-12 md:col-6 ">
                <label for="ppos_code">Concurrent Used</label>    
                <input type="text" id="ppos_code"  value="1" readonly  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div>

            <div class="field col-12">
                <table style="width: 300px;">
                    <tr>		
                        <th>Allow IP Address</th>    
                        <th>Port</th>                             
                    </tr>
                    <tr>
                        <td>172.20.20.18</td>
                        <td>8088</td>
                    </tr>
                    <tr>
                        <td>172.20.20.19</td>
                        <td>8088</td>
                    </tr>
                    <tr>
                        <td>172.20.20.20</td>
                        <td>*</td>
                    </tr>  
                </table>

            </div>


        </div>

    </div>

</div>

