<!-- Link Page -->
<div class="path">
    <span>Attendance</span>
    <div>
        <i></i>
        <a routerLink="/attendance/policy">Policy</a>
        <i></i>
        <small>Shift</small>
    </div>
</div>
<!-- ---------END Link Page----------- -->
<hr>
<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items"></p-menubar>
</div>
<!-- ----------------END MENU----------------- -->
<div class="tabledata">
    <!-- Table Show Data Year Period -->
    <div #TABLE>
        <p-table #dt2 [value]="shift_list" selectionMode="single" [(selection)]="shifts"
            (onRowSelect)="onRowSelect($event)" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            currentPageReportTemplate="from {first} to {last} total {totalRecords}"
            [globalFilterFields]="['shift_code','shift_name_en','shift_name_th','modified_by','modified_date']"
            responsiveLayout="stack" [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable">
                    <div></div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="search" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header">
                <tr>
                    <th>No.</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Modified by</th>
                    <th>Modified date</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex">
                <tr [pSelectableRow]="data">
                    <td>{{i+1}}</td>
                    <td>{{data.shift_code}}</td>
                    <td>{{data.shift_name_en}}</td>
                    <td>{{data.modified_by}}</td>
                    <td>{{data.modified_date | date:'dd/MM/yyyy'}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- -----------------------END Table-------------------------- -->

    <!-- Form input or Edit Data Year Period -->
    <div class="formatt" *ngIf="new_data==true">
        <i (click)="close()"></i>

        <label>Code</label>
        <input pInputText type="text" [(ngModel)]="shifts.shift_code" maxlength="10" />
        <p>{{shifts.shift_code.length}}/10</p>

        <label>Description (Eng.)</label>
        <textarea [(ngModel)]="shifts.shift_name_en" pInputTextarea [autoResize]="true"></textarea>

        <label>Description (Thai)</label>
        <textarea [(ngModel)]="shifts.shift_name_th" pInputTextarea [autoResize]="true"></textarea>
        <h3>Working</h3>
        <hr>
        <div class="formworking">
            <div>
                <h5>Period 1</h5>
                <div class="timeperiod">
                    <div>
                        <label>In</label>
                        <p-calendar dataType="string" [timeOnly]="true" [(ngModel)]="shifts.shift_ch3"
                            dateMask></p-calendar>
                        <div class="timeto">
                            <p-calendar [(ngModel)]="shifts.shift_ch3_from" dataType="string" [timeOnly]="true"
                                dateMask></p-calendar>-
                            <p-calendar [(ngModel)]="shifts.shift_ch3_to" dataType="string" [timeOnly]="true"
                                dateMask></p-calendar>
                        </div>

                    </div>
                    <div>
                        <label>Out</label>
                        <p-calendar dataType="string" [(ngModel)]="shifts.shift_ch4" [timeOnly]="true"
                            dateMask></p-calendar>
                        <div class="timeto">
                            <p-calendar [(ngModel)]="shifts.shift_ch4_from" dataType="string" [timeOnly]="true"
                                dateMask></p-calendar>-
                            <p-calendar [(ngModel)]="shifts.shift_ch4_to" dataType="string" [timeOnly]="true"
                                dateMask></p-calendar>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h5>Period 2</h5>
                <div class="timeperiod">
                    <div>
                        <label>In</label>
                        <p-calendar [(ngModel)]="shifts.shift_ch7" dataType="string" [timeOnly]="true"
                            dateMask></p-calendar>
                        <div class="timeto">
                            <p-calendar [(ngModel)]="shifts.shift_ch7_from" dataType="string" [timeOnly]="true"
                                dateMask></p-calendar>-
                            <p-calendar [(ngModel)]="shifts.shift_ch7_to" dataType="string" [timeOnly]="true"
                                dateMask></p-calendar>
                        </div>

                    </div>
                    <div>
                        <label>Out</label>
                        <p-calendar [(ngModel)]="shifts.shift_ch8" dataType="string" [timeOnly]="true"
                            dateMask></p-calendar>
                        <div class="timeto">
                            <p-calendar [(ngModel)]="shifts.shift_ch8_from" dataType="string" [timeOnly]="true"
                                dateMask></p-calendar>-
                            <p-calendar [(ngModel)]="shifts.shift_ch8_to" dataType="string" [timeOnly]="true"
                                dateMask></p-calendar>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100vw;">
                <h3>Overtime</h3>
                <hr>
            </div>
            <div>
                <h5>Before</h5>
                <div class="timeperiod">
                    <div>
                        <label>In</label>
                        <p-calendar [(ngModel)]="shifts.shift_ch1" dataType="string" [timeOnly]="true"
                            dateMask></p-calendar>
                        <div class="inputtime">
                            <label>Min</label>
                            <p-inputNumber dataType="string" [(ngModel)]="shifts.shift_otin_min"
                                [useGrouping]="false"></p-inputNumber>
                        </div>

                    </div>
                    <div>
                        <label>Out</label>
                        <p-calendar [(ngModel)]="shifts.shift_ch2" dataType="string" [timeOnly]="true"
                            dateMask></p-calendar>
                        <div class="inputtime">
                            <label>Max</label>
                            <p-inputNumber dataType="string" [(ngModel)]="shifts.shift_otin_max"
                                [useGrouping]="false"></p-inputNumber>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <h5>After</h5>
                <div class="timeperiod">
                    <div>
                        <label>In</label>
                        <p-calendar [(ngModel)]="shifts.shift_ch9" dataType="string" [timeOnly]="true"
                            dateMask></p-calendar>
                        <div class="inputtime">
                            <label>Min</label>
                            <p-inputNumber dataType="string" [(ngModel)]="shifts.shift_otout_min"
                                [useGrouping]="false"></p-inputNumber>
                        </div>

                    </div>
                    <div>
                        <label>Out</label>
                        <p-calendar [(ngModel)]="shifts.shift_ch10" dataType="string" [timeOnly]="true"
                            dateMask></p-calendar>
                        <div class="inputtime">
                            <label>Max</label>
                            <p-inputNumber dataType="string" [(ngModel)]="shifts.shift_otout_max"
                                [useGrouping]="false"></p-inputNumber>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="checkbox" value="1" [(ngModel)]="shifts.shift_flexiblebreak">
              <label>Flexiblebreak</label>
        </div>
        <div>
            <p-accordion>
                <p-accordionTab header="Break">
                    <p-menubar [model]="items_break"></p-menubar>
                    <p-table [value]="shifts.shift_break" styleClass="p-datatable-sm"
                        (onRowSelect)="onRowSelectbreak($event)" [scrollable]="true" scrollHeight="220px"
                        [virtualScroll]="true" selectionMode="single" [(selection)]="shifts_brack">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>No.</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Break</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-i="rowIndex">
                            <tr [pSelectableRow]="data">
                                <td>{{i+1}}</td>
                                <td>{{data.shiftbreak_from}}</td>
                                <td>{{data.shiftbreak_to}}</td>
                                <td>{{data.shiftbreak_break}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div>
            <p-accordion>
                <p-accordionTab header="Allowance">
                    <p-menubar [model]="items_allowance"></p-menubar>
                    <p-table [value]="shifts.shift_allowance" styleClass="p-datatable-sm"
                        (onRowSelect)="onRowSelectallowance($event)" [scrollable]="true" scrollHeight="220px"
                        [virtualScroll]="true" selectionMode="single" [(selection)]="shifts_allowance">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>No.</th>
                                <th>Detail</th>
                                <th>Time</th>
                                <th>Amount</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-i="rowIndex">
                            <tr [pSelectableRow]="data">
                                <td>{{i+1}}</td>
                                <td>{{data.shiftallowance_name_en}}</td>
                                <td>{{data.shiftallowance_hhmm}}</td>
                                <td>{{data.shiftallowance_amount}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
            </p-accordion>
        </div>
        <button pButton type="button" label="Save" icon="pi pi-check" (click)="Save()"></button>
        <button *ngIf="edit_data" pButton type="button" label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="Delete()"></button>
    </div>
    <!-- --------------End form Input Data ------------------ -->

</div>
<p-dialog header="Upload" [(visible)]="displayaddbreak" (onHide)="closedispaly()">
    <div class="formatt">
        <div>
            <div class="timeto">
                <div> <label>{{langs.get('fromdate')[selectlang]}}</label>
                    <p-calendar [(ngModel)]="shifts_brack.shiftbreak_from" dataType="string" [timeOnly]="true"
                        dateMask></p-calendar>
                </div>
                <div>
                    <label>{{langs.get('todate')[selectlang]}}</label>
                    <p-calendar [(ngModel)]="shifts_brack.shiftbreak_to" dataType="string" [timeOnly]="true"
                        dateMask></p-calendar>
                </div>
            </div>
            <div class="inputtime">
                <label>Break</label>
                <p-inputNumber dataType="string" [(ngModel)]="shifts_brack.shiftbreak_break"
                    [useGrouping]="false"></p-inputNumber>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button *ngIf="displayeditbreak" pButton type="button" label="{{langs.get('delete')[selectlang]}}"
            icon="pi pi-trash" class="p-button-danger" (click)="Deletebreak()"></button>
        <button pButton type="button" label="{{langs.get('save')[selectlang]}}" icon="pi pi-check"
            (click)="Savebreak()"></button>
    </ng-template>
</p-dialog>

<p-dialog header="Upload" [(visible)]="displayaddallowance" (onHide)="closedispaly()">
    <div class="formatt">
        <label>Description (Eng.)</label>
        <textarea [(ngModel)]="shifts_allowance.shiftallowance_name_en" pInputTextarea [autoResize]="true"></textarea>

        <label>Description (Thai)</label>
        <textarea [(ngModel)]="shifts_allowance.shiftallowance_name_th" pInputTextarea [autoResize]="true"></textarea>

        <label>{{langs.get('todate')[selectlang]}}</label>
        <p-calendar [(ngModel)]="shifts_allowance.shiftallowance_hhmm" dataType="string" [timeOnly]="true" dateMask
            [ngStyle]="{width:'50%'}"></p-calendar>
        <div class="inputtime">
            <label> Amount</label>
            <p-inputNumber dataType="string" [(ngModel)]="shifts_allowance.shiftallowance_amount"
                [useGrouping]="false"></p-inputNumber>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button *ngIf="displayeditallowance" pButton type="button" label="{{langs.get('delete')[selectlang]}}"
            icon="pi pi-trash" class="p-button-danger" (click)="Deleteallowance()"></button>
        <button pButton type="button" label="{{langs.get('save')[selectlang]}}" icon="pi pi-check"
            (click)="Saveallowance()"></button>
    </ng-template>
</p-dialog>

<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="Upload" [(visible)]="displayUpload">
    <label class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file" accept="xlxs/*" required (change)="handleFileInput($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="Uploadfile()" label="Upload"></p-button>
    </ng-template>
</p-dialog>

<!-- -----------------End Dialog Choose File-------------------- -->


<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->