<h4>System Manage </h4>
<br>

<span>Links</span>
<p></p>
<div class="grid">


    <div class="col-12 md:col-3">
        <b>Manage</b>
        <a routerLink="../../system/company">ข้อมูลบริษัท</a>
        <a routerLink="../../system/Branch">ข้อมูลสาขา</a>
        <!-- <a routerLink="../../system/sys-comlocation">ข้อมูลสถานที่ปฎิบัติงาน</a> -->
        <a routerLink="../../system/system-reason">เหตุผล</a>
        <!-- <a routerLink="../../system/emp-id">Structure code</a> -->
        <a>โครงสร้างรหัสพนักงาน</a>
        <a>สังกัด</a>
        <a routerLink="../../system/system-yearperiod">Year</a>
        <!-- <a routerLink="../../system/system-reason">ตั้งชื่อระดับสายงาน</a>
        <a routerLink="../../system/system-reason">ตั้งชื่อระดับสายงาน</a>
        <a routerLink="../../system/system-reason">สังกัด</a>
        <a routerLink="../../system/system-reason">ตั้งชื่อระดับสายงาน</a>
        <a routerLink="../../system/system-reason">ตำปหน่งงาน</a>
        <a routerLink="../../system/system-reason">ตั้งชื่อระดับสายงาน</a>
        <a routerLink="../../system/system-reason">โครงสร้างรหัสพนักงาน</a>
        <a routerLink="../../system/system-reason">ตั้งชื่อระดับสายงาน</a>
        <a routerLink="../../system/system-reason">กลุ่มพนักงาน</a>
        <a routerLink="../../system/system-reason">ตั้งชื่อระดับสายงาน</a>
        <a routerLink="../../system/system-reason">ตั้งชื่อระดับสายงาน</a> -->

    </div>


    <div class="col-12 md:col-3">
        <b>Rounding</b>
        <a routerLink="../../system/sys-roundComponent">Rounds</a>
        <!-- <a>Round Decimal</a> -->
        <!-- <a>Round Time</a> -->
        <a>Set Policy</a>
    </div>







</div>
