<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<!-- Link Page -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>

<!-- <div class="path">
    <span>{{title_system}}</span>
    <div>
        <i></i>
        <a routerLink="/system/general">{{title_genaral}}</a>
        <i></i>
        <small>{{title_page}}</small>
    </div>
</div> -->
<!-- ---------END Link Page----------- -->
<hr>
<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items"></p-menubar>
</div>
<!-- ----------------END MENU----------------- -->


<div class="tabledata">
    <!-- Table Show Data -->
    <div #TABLE>
        <p-table #dt2 [value]="faculty_list" selectionMode="single" [(selection)]="selectedFaculty"
            (onRowSelect)="onRowSelectFaculty($event)" [rows]="12" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[12,25,50]" [paginator]="true"
            currentPageReportTemplate="{{title_page_from}} {first} {{title_page_to}} {last} {{title_page_total}} {totalRecords} {{title_page_record}}"
            [globalFilterFields]="['faculty_code','faculty_name_th','faculty_name_en']" responsiveLayout="stack"
            [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{title_search}}" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header">
                <tr>
                    <th>{{title_no}}</th>

                    <th>{{title_code}}</th>
                    <th>{{title_name_th}}</th>
                    <th>{{title_name_en}}</th>
                    <th>{{title_modified_by}}</th>
                    <th>{{title_modified_date}}</th>
                    <th> </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex">
                <tr [pSelectableRow]="data">
                    <td> {{i+1}}</td>

                    <td>{{data.faculty_code}}</td>
                    <td>{{data.faculty_name_th}}</td>
                    <td>{{data.faculty_name_en}}</td>
                    <td>{{data.modified_by}}</td>
                    <td>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>
                        <button pButton type="button" class="pi pi-trash gray-button " (click)="confirmDeletes(data)">
                        </button>

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- -----------------------END Table-------------------------- -->

    <!-- Form input or Edit Data -->
    <form #Form="ngForm">
        <p-dialog [(visible)]="displayManage" [style]="{ height: '600px', 'overflow-y': 'hidden' }"
            [position]="position">
            <div class="formatt p-dialog-content" *ngIf="new_data">
                <!-- <i (click)="close()"></i> -->

                <label>{{title_code}}<span style="color: red;"> *</span></label>
                <input pInputText type="text" [(ngModel)]="selectedFaculty.faculty_code" maxlength="10"
                    [disabled]="edit_data" name="code" #code="ngModel" required />
                <p>{{selectedFaculty.faculty_code.length}}/10</p>

                <label>{{title_name_th}}<span style="color: red;"> *</span></label>
                <textarea [(ngModel)]="selectedFaculty.faculty_name_th" pInputTextarea [autoResize]="true"
                    name="bank_name_th" #late_name_th="ngModel" required></textarea>

                <label>{{title_name_en}}<span style="color: red;"> *</span></label>
                <textarea [(ngModel)]="selectedFaculty.faculty_name_en" pInputTextarea [autoResize]="true"
                    name="bank_name_en" #late_name_en="ngModel" required></textarea>
                <br>
                <div style="text-align: right;">

                    <button pButton type="button" class="button-size" label="{{title_save}}" icon="pi pi-save"
                        (click)="confirmRecord()" [disabled]="!Form.form.valid"></button>
                    &nbsp;
                    <button *ngIf="edit_data" pButton type="button" label="{{title_delete}}" icon="pi pi-trash"
                        class="btndel button-size" (click)="confirmDelete()"></button>
                </div>
            </div>
        </p-dialog>
        <div *ngIf="displayManage" style="z-index: 1084;"
            class="p-component-overlay p-sidebar-mask p-component-overlay-enter"></div>
    </form>



</div>

<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="{{title_upload}}" [(visible)]="displayUpload">
    <label class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            required (change)="handleFileInput($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="doUploadFaculty()" label="{{title_upload}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<div *ngIf="displayUpload" style="z-index: 1084;" class="p-component-overlay p-sidebar-mask p-component-overlay-enter">
</div>
<!-- -----------------End Dialog Choose File-------------------- -->

<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"
    key="myDialog"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->