
<h4>Self Services</h4>
<br>

<span>Links</span>
<p></p>
<div class="grid">

    
    <div class="col-12 md:col-3">
        <b>Request</b>       
        <a routerLink="../../self/req_leave">Leave</a>
      
        <a routerLink="../../self/req_shift">Shift</a>
        <a routerLink="../../self/req_overtime">Overtime</a>
        
        <a >Daytype</a>
        
        <a routerLink="../../self/req_record">Punchcard</a>

        <a >Check IN/OUT</a> 
            
               
    </div>

    <div class="col-12 md:col-3">
        <b>Employee</b>
       
        <a >Uniform</a>        
               
    </div>

    <div class="col-12 md:col-6">
        <b>PDPA</b>
        <a >Privacy</a>
        <a >Consent</a>
        <a >Submit a request</a>       
    </div>

    <div class="col-12 md:col-6">
        <b>Setup</b>
        <a routerLink="../../self/workflow">Workflow</a>
        <a routerLink="../../self/lineapprove">Line Approve</a>
        <a routerLink="../../self/account">Account</a>
        
    </div>



</div>