<h4>Self Services</h4>
<br>

<span>Links</span>
<p></p>
<div class="grid">


    <div class="col-12 md:col-3">
        <b>Request</b>
        <a routerLink="../../self/req_leave">Leave</a>

        <a routerLink="../../self/req_shift">Shift</a>
        <a routerLink="../../self/req_overtime">Overtime</a>

        <a routerLink="../../self/req_daytype">Daytype</a>

        <a routerLink="../../self/req_record">Punchcard</a>

        <a routerLink="../../self/req_checkin">Check IN/OUT</a>

        <a routerLink="../../self/req_reqdoc">Req doc</a>


    </div>
    
    <!-- <div class="col-12 md:col-3">
        <b>Approve</b>
        <a routerLink="../../self/approve_leave">Leave</a>
        <a routerLink="../../self/approve_shift">Shift</a>
        <a routerLink="../../self/approve_overtime">Overtime</a>
        <a routerLink="../../self/approve_daytype">Daytype</a>
        <a routerLink="../../self/approve_record">Punchcard</a>
        <a routerLink="../../self/approve_checkin">Check IN/OUT</a>
        <a routerLink="../../self/approve_reqdoc">Req doc</a>
    </div> -->

    <!-- <div class="col-12 md:col-3">
        <b>Employee</b>

        <a>Uniform</a>

    </div> -->

    <div class="col-12 md:col-6">
        <b>PDPA</b>
        <!-- <a>Privacy</a> -->
        <a routerLink="../../self/empconsent">Consent</a>
        <!-- <a>Submit a request</a> -->
    </div>

    <!-- <div class="col-12 md:col-6">
        <b>Setup</b>
        <a routerLink="../../self/account">Account</a>
        <a routerLink="../../self/workflow">Workflow</a>
         <a routerLink="../../self/lineapprove">Line Approve</a> 
        <a routerLink="../../self/area">Area</a>
        <a routerLink="../../self/topic">Topic</a>

    </div> -->



</div>