<!-- Link Page -->
<!-- Displays navigation path with account-related information -->
<div class="path">
    <span>{{ accountLanguages.get('title')[selectedLanguage] }}</span>
    <div>
        <i></i>
        <!-- Link to the "/self/approve" route -->
        <a routerLink="/self/approve">{{ accountLanguages.get('employee')[selectedLanguage] }}</a>
        <i></i>
        <small>{{ accountLanguages.get('account')[selectedLanguage] }}</small>
    </div>
</div>
<!-- ---------END Link Page----------- -->
<hr>

<!-- Menu New Import Export Data -->
<!-- Displays a menu bar using the "p-menubar" component -->
<p-menubar [model]="menuItems"></p-menubar>

<!-- ----------------END MENU----------------- -->

<div class="tabledata">
    <!-- Table Show Data Year Period -->
    <div #TABLE>
        <!-- Displays a table using the "p-table" component -->
        <p-table #dt2 [value]="accountList" selectionMode="single" [(selection)]="selectedAccount"
            (onRowSelect)="onAccountSelection($event)" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
            currentPageReportTemplate="{{ accountLanguages.get('showing')[selectedLanguage] }} {first} {{ accountLanguages.get('to')[selectedLanguage] }} {last} {{ accountLanguages.get('of')[selectedLanguage] }}  {totalRecords} {{ accountLanguages.get('entries')[selectedLanguage] }}"
            [globalFilterFields]="['account_user', 'account_type', 'modified_by', 'modified_date']"
            responsiveLayout="stack" [breakpoint]="'744px'">

            <!-- Form Search Table -->
            <!-- Caption section for filtering/searching -->
            <ng-template pTemplate="caption">
                <div class="searchtable">
                    <div></div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <!-- Global search input field -->
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{ accountLanguages.get('search')[selectedLanguage] }}" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->

            <ng-template pTemplate="header" let-columns>
                <!-- Table header row -->
                <tr>
                    <th>{{ accountLanguages.get('no')[selectedLanguage] }}</th>
                    <th>{{ accountLanguages.get('username')[selectedLanguage] }}</th>
                    <!-- <th>{{ accountLanguages.get('description')[selectedLanguage] }}</th> -->
                    <th>{{ accountLanguages.get('type')[selectedLanguage] }}</th>
                    <th>{{ accountLanguages.get('modified_by')[selectedLanguage] }}</th>
                    <th>{{ accountLanguages.get('modified_date')[selectedLanguage] }}</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <!-- Table body row -->
                <tr [pSelectableRow]="data">
                    <td><span>{{ accountLanguages.get('no')[selectedLanguage] }}</span>{{ i + 1 }}</td>
                    <td><span>{{ accountLanguages.get('username')[selectedLanguage] }}</span>{{ data.account_user }}
                    </td>
                    <td><span>{{ accountLanguages.get('type')[selectedLanguage] }}</span>{{ data.account_type }}</td>
                    <td><span>{{ accountLanguages.get('modified_by')[selectedLanguage] }}</span>{{ data.modified_by }}
                    </td>
                    <td>
                        <span>{{ accountLanguages.get('modified_date')[selectedLanguage] }}</span>
                        <!-- Formats the date -->
                        {{ data.modified_date | date: 'dd/MM/yyyy' }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<!-- -----------------------END Table-------------------------- -->

<p-dialog header="{{ accountLanguages.get('manage')[selectedLanguage] }}" [(visible)]="isDisplayingManagement"
    [style]="{ width: '50vw', height: '100vh' }" [position]="positionAlignment" (onHide)="closeManagement()">
    <div class="formgrid grid align-items-end">
        <span class="spn_title_edit"></span>

        <div class="field col-12 md:col-6">
            <label for="account_user">{{ accountLanguages.get('username')[selectedLanguage] }}</label>
            <br>
            <!-- Input field for account username -->
            <!-- <input pInputText type="text" id="account_user" [(ngModel)]="selectedAccount.account_user" [disabled]="isEditing"> -->
            <input type="text" id="account_user" [(ngModel)]="selectedAccount.account_user"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                [disabled]="isEditing">
        </div>

        <div class="field col-12 md:col-6">
            <label for="account_pwd">{{ accountLanguages.get('password')[selectedLanguage] }}</label>
            <br>
            <!-- Input field for account password -->
            <input type="text" id="account_pwd" [(ngModel)]="selectedAccount.account_pwd"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

        </div>

        <!-- Dropdown field for account type -->
        <div class="field col-12 md:col-6">
            <label for="account_type">{{ accountLanguages.get('type')[selectedLanguage] }}</label>
            <br>
            <p-dropdown [options]="accountTypes" optionLabel="name" [showClear]="true" [(ngModel)]="selectedAccountType"
                [disabled]="isEditing" (onChange)="selectAccountType()"
                [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
        </div>

        <div class="field col-12 md:col-6">
            <label for="account_level">{{ accountLanguages.get('stepuser')[selectedLanguage] }}</label>
            <br>
            <!-- Input field for account level -->
            <p-inputNumber [(ngModel)]="selectedAccount.account_level" mode="decimal" [showButtons]="true"
                inputId="account_level" [min]="1" [max]="5"></p-inputNumber>
        </div>

        <div class="field col-12 md:col-6">
            <label for="account_email">{{ accountLanguages.get('email')[selectedLanguage] }}</label>
            <br>
            <!-- Input field for account email -->
            <input type="text" id="account_email" [(ngModel)]="selectedAccount.account_email"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>

        <div class="field col-12 md:col-6">
            <div class="field-checkbox">
                <!-- Checkbox for email notification -->
                <p-checkbox [binary]="true" [(ngModel)]="selectedAccount.account_email_alert"
                    inputId="account_email_alert"></p-checkbox>
                <label for="account_email_alert">{{ accountLanguages.get('noti')[selectedLanguage] }}</label>
            </div>
        </div>

        <div class="field col-12 md:col-6">
            <label for="account_line">{{ accountLanguages.get('line')[selectedLanguage] }}</label>
            <br>
            <!-- Input field for Line ID -->
            <input type="text" id="account_line" [(ngModel)]="selectedAccount.account_line"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>

        <div class="field col-12 md:col-6">
            <div class="field-checkbox">
                <!-- Checkbox for Line notification -->
                <p-checkbox [binary]="true" [(ngModel)]="selectedAccount.account_line_alert"
                    inputId="account_line_alert"></p-checkbox>
                <label for="account_line_alert">{{ accountLanguages.get('noti')[selectedLanguage] }}</label>
            </div>
        </div>

        <!-- PickList component for selecting employees -->
        <div class="field col-12" *ngIf="selectedAccountType.code == 'Emp'">
            <p-pickList [source]="availableEmployees" [target]="selectedEmployees" [metaKeySelection]="true"
                sourceFilterPlaceholder="{{ accountLanguages.get('search')[selectedLanguage] }}"
                targetFilterPlaceholder="{{ accountLanguages.get('search')[selectedLanguage] }}"
                [showSourceControls]="false" [showTargetControls]="false"
                sourceHeader="{{ accountLanguages.get('employee')[selectedLanguage] }}"
                targetHeader="{{ accountLanguages.get('employee_select')[selectedLanguage] }}"
                [sourceStyle]="{'height':'15rem'}" [targetStyle]="{ height: '15rem' }"
                filterBy="worker_code,worker_fname_th,worker_lname_th,worker_fname_en,worker_lname_en"
                (onSourceSelect)="addEmployee($event)" (onTargetSelect)="removeEmployee($event)"
                (onMoveAllToTarget)="resetEmployee($event)" (onMoveAllToSource)="removeEmployee($event)">
                <ng-template let-emp pTemplate="item">
                    <div>
                        <div style="font-size:14px;float:left;">{{ emp.worker_code }} -
                            {{ selectedLanguage == 'TH' ? emp.worker_fname_th + ' ' + emp.worker_lname_th :
                            emp.worker_fname_en + ' ' + emp.worker_lname_en }}</div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>

        <!-- PickList component for selecting employees (GRP) -->
        <div class="field col-12" *ngIf="selectedAccountType.code == 'GRP'">
            <p-pickList [source]="availableEmployees" [target]="selectedEmployees" [metaKeySelection]="false"
                sourceFilterPlaceholder="{{ accountLanguages.get('search')[selectedLanguage] }}"
                targetFilterPlaceholder="{{ accountLanguages.get('search')[selectedLanguage] }}"
                [showSourceControls]="false" [showTargetControls]="false"
                sourceHeader="{{ accountLanguages.get('employee')[selectedLanguage] }}"
                targetHeader="{{ accountLanguages.get('employee_select')[selectedLanguage] }}"
                [sourceStyle]="{'height':'15rem'}" [targetStyle]="{ height: '15rem' }"
                filterBy="worker_code,worker_fname_th,worker_lname_th,worker_fname_en,worker_lname_en">
                <ng-template let-emp pTemplate="item">
                    <div>
                        <div style="font-size:14px;float:left;">{{ emp.worker_code }} -
                            {{ selectedLanguage == 'TH' ? emp.worker_fname_th + ' ' + emp.worker_lname_th :
                            emp.worker_fname_en + ' ' + emp.worker_lname_en }}</div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>

        <!-- PickList component for selecting positions (APR) -->
        <div class="field col-12" *ngIf="selectedAccountType.code == 'APR'">
            <p-pickList [source]="availablePositions" [target]="selectedPositions" [metaKeySelection]="false"
                [showSourceControls]="false" [showTargetControls]="false"
                sourceHeader="{{ accountLanguages.get('position')[selectedLanguage] }}"
                targetHeader="{{ accountLanguages.get('position_select')[selectedLanguage] }}"
                [sourceStyle]="{'height':'15rem'}" [targetStyle]="{ height: '15rem' }">
                <ng-template let-position pTemplate="item">
                    <div>
                        <div style="font-size:14px;float:left;">{{ position.position_code }} -
                            {{ selectedLanguage == 'TH' ? position.position_name_th : position.position_name_en }}
                        </div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>

        <!-- PickList component for selecting departments (APR) -->
        <div class="field col-12" *ngIf="selectedAccountType.code == 'APR'">
            <p-pickList [source]="availableDepartments" [target]="selectedDepartments"
                sourceHeader="{{ accountLanguages.get('dep')[selectedLanguage] }}"
                targetHeader="{{ accountLanguages.get('dep_select')[selectedLanguage] }}"
                [sourceStyle]="{'height':'15rem'}" [targetStyle]="{ height: '15rem' }" [metaKeySelection]="false"
                [showSourceControls]="false" [showTargetControls]="false">
                <ng-template let-dep pTemplate="item">
                    <div>
                        <div style="font-size:14px;float:left;">{{ dep.dep_code }} -
                            {{ selectedLanguage == 'TH' ? dep.dep_name_th : dep.dep_name_en }}</div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>

        <!-- PickList component for selecting Modules  (ADM) -->
        <div class="field col-12" *ngIf="selectedAccountType.code == 'ADM'">
            <p-pickList [source]="availableModules" [target]="selectedModules"
                sourceHeader="{{ accountLanguages.get('module')[selectedLanguage] }}"
                targetHeader="{{ accountLanguages.get('module_select')[selectedLanguage] }}"
                [sourceStyle]="{'height':'15rem'}" [targetStyle]="{ height: '15rem' }" [metaKeySelection]="false"
                [showSourceControls]="false" [showTargetControls]="false">
                <ng-template let-data pTemplate="item">
                    <div>
                        <div style="font-size:14px;float:left;">{{ data.name }}</div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>

        <div class="field col-12">
            <!-- Save button -->
            <p-button label="{{ accountLanguages.get('save')[selectedLanguage] }}" icon="pi pi-save"
                (click)="saveAccount()"></p-button>
            &nbsp;
            <!-- Delete button (visible when editing) -->
            <button *ngIf="isEditing" pButton pRipple type="button"
                label="{{ accountLanguages.get('delete')[selectedLanguage] }}" class="p-button-danger"
                (click)="deleteAccount()"></button>
        </div>
    </div>
</p-dialog>

<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>