<!-- eslint-disable @angular-eslint/template/eqeqeq -->

<!-- Link Page -->
<div class="path">
    <span>PayRoll</span>
    <div>
        <i></i>
        <a routerLink="/payroll/policy">Policy</a>
        <i></i>
        <small>Set Bonus</small>
    </div>
</div>
<!-- ---------END Link Page----------- -->
<hr>


<p-tabView [(activeIndex)]="index" (onChange)="function($event)">
    <p-tabPanel [selected]="true">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>&nbsp;&nbsp;
            <span>Process</span>
        </ng-template>

        <div class="formgrid grid align-items-end">

            <div class="field col-12">
                <app-select-emp></app-select-emp>
            </div>
            <div class="field col-12 md:col-6">
                <label for="lastname2">รูปแบบ :</label><br>
                <p-dropdown placeholder="Genarate Time Compare" optionLabel="name" [showClear]="true"
                    [style]="{ width: '100%', overflow: 'visible' }" [options]="policy_list"
                    [(ngModel)]="policyselect"></p-dropdown>
            </div>
            <div *ngIf="!loading" class="field col-12 md:col-6">
                <p-button label="Process" (click)="process()"></p-button>
            </div>
        </div>
        <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-file-import"></i>&nbsp;&nbsp;
            <span>Result</span>
        </ng-template>
        <div>
            <p-table *ngIf="new_data==true" #dt2 [value]="result_list" styleClass="p-datatable-sm"
                [tableStyle]="{'min-width': '80rem'}" [scrollable]="true" scrollHeight="500px" [virtualScroll]="true"
                selectionMode="single" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>No.</th>
                        <th>Worker</th>
                        <th>Type</th>
                        <th>Modyfied by</th>
                        <th>Modyfied date</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-data let-i="rowIndex">
                    <tr [pSelectableRow]="data">
                        <td>{{i+1}}</td>
                        <td>{{data.worker}}</td>
                        <td>{{data.policy}}</td>
                        <td>{{data.modied_by}}</td>
                        <td>{{data.modied_date | date:'dd/MM/yyyy'}}</td>

                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabPanel>

</p-tabView>
