.center {
    margin: auto;  //ระยะขอบ ผลักอัตโนมัติ
    width: 50%;   //ความกว้าง 50%
    // border: 3px solid blue;   //ความหนา รูปแบบ สีของขอบ
    padding: 5%;  //ขยายขอบด้านใน
 }

p-dropdown{
    width: '100%'; overflow: 'visible';

}

.p-dialog-contents::ng-deep {
    overflow-y: hidden;
    padding: 50px 0.5rem 4rem 0.5rem;
    
  }

.table_summary_{
    border-collapse: collapse;
}

.table_summary_ td{
    padding: 5px;
    border: 0px solid #ccc;
}


.main_div {
    text-align:left;
    position: relative;
    padding: 5px;
    height: 100px;
    width: 100px;
    background-color: #152047;
}
.sub_div {
    position: absolute;
    bottom: 5px;
}

.spn_value{
    color: #FFFFFF;
    font-size: 16px;
}

.spn_title{
    color: #FFFFFF;
    font-size: 12px;
}

.spn_title_edit{
    margin: 70px 0px 10px 15px;
    font-weight: bold;
    font-size: 15px;
}

.td_amount{
    text-align: right;
    padding-right: 10px;
}

::ng-deep .input-styling input {
    width: 40px !important;
  }

  textarea{
    width: 100%;

  }


  .spn_title_edit_procontact{
    margin: 350px 0px 10px 15px;
    font-weight: bold;
    font-size: 15px;

}

h1 {
    font-size: 15px;
}


    .input_radio{
        margin: 20px;
        font-weight: bold;
        font-size: 18px;

}

p {
    font-size: 14px;
}
.hovered {
    background-color: #f34646 !important;
  }
  .gray-button {
    background-color: #73737333;
     border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }