<!-- 
<h4>Policy recruitment</h4>
<br>

<span>Links</span> -->
<p-breadcrumb class="max-w-full" [model]="mainMenuItems" [home]="homeIcon"></p-breadcrumb>
<p></p>
<div class="grid">
        
    <div class="col-3">
        <!-- <b>Workflow</b> -->
        <p-divider align="left">
            <div>
                <i class="pi pi-list mr-2"></i>
                <b>Workflow</b>
            </div>
        </p-divider>
        <a routerLink="../../recruitment/blacklist">{{title_blacklist[initialData.Language]}} </a>
        <a routerLink="../../recruitment/request">{{title_request[initialData.Language]}} </a>
        <a routerLink="../../recruitment/applylist">{{title_apply[initialData.Language]}}</a>      
        <a routerLink="../../recruitment/approve">{{title_approve[initialData.Language]}} </a>
    </div>

</div>