<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<!-- Link Page -->
<!-- <div class="path">
    <span>{{title_payroll}}</span>
    <div>
        <i></i>
        <a routerLink="/payroll/policy">{{title_policy}}</a>
        <i></i>
        <small>{{title_page}}</small>

    </div>
</div> -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>


<!-- ---------END Link Page----------- -->
<hr>
<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items"></p-menubar>
</div>



<!-- ----------------END MENU----------------- -->
<div class="tabledata">
    <!-- Table Show Data Year Period -->
    <div #TABLE>
        <p-table #dt2 [value]="MTItem_list" selectionMode="single" [(selection)]="selectedMTItem"
            (onRowSelect)="onRowSelect($event)" [rows]="12" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[12,25,50]" [paginator]="true"
            currentPageReportTemplate="{{title_page_from}} {first} {{title_page_to}} {last} {{title_page_total}}  {totalRecords} {{title_page_record}}"
            [globalFilterFields]="['item_code','item_name_en','item_name_th','modified_by','modified_date']"
            responsiveLayout="stack" [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">

                <div class="formatsetitem    field col-12 md:col-12 ">
                    <label>{{title_setitem[initial_current.Language]}}</label>
                    <tr>
                        <th>{{title_ot[initial_current.Language]}}</th> &nbsp;
                        <th>{{title_dg[initial_current.Language]}}</th> &nbsp;
                        <th>{{title_vl[initial_current.Language]}}</th> &nbsp;
                        <th>{{title_lt[initial_current.Language]}}</th> &nbsp;
                        <th>{{title_ab[initial_current.Language]}}</th> &nbsp;
                        <th>{{title_sa[initial_current.Language]}}</th>&nbsp;
                        <th>{{title_bo[initial_current.Language]}}</th> &nbsp;
                        <th>{{title_intax[initial_current.Language]}}</th> &nbsp;
                        
                    </tr>
                    <div>
                        <tr>
                            <th>{{title_ch[initial_current.Language]}}</th>&nbsp;
                            <th>{{title_slf1[initial_current.Language]}}</th>&nbsp;
                            <th>{{title_slf2[initial_current.Language]}}</th>
                        </tr>
                    </div>
                </div>
                <div class="searchtable">
                    <div></div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{title_search}}" />
                    </span>
                </div>
            </ng-template>


            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header">
                <tr>
                    <th>{{title_no}}</th>

                    <th>{{title_code}}</th>

                    <th>{{title_detail_th}}</th>
                    <th>{{title_detail_en}}</th>
                    <th>{{title_type}}</th>
                    <th>{{title_modified_by}}</th>
                    <th>{{title_modified_date}}</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex">
                <tr [pSelectableRow]="data">
                    <td><span>{{title_no}}</span>{{i+1}}</td>
                    <td>{{data.item_code}}</td>

                    <td>{{data.item_name_th}}</td>
                    <td>{{data.item_name_en}}</td>
                    <td>{{data.item_type}}</td>
                    <td>{{data.modified_by}}</td>
                    <td>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>
                        <button pButton type="button" class="pi pi-trash gray-button "
                            [disabled]="!this.accessData.accessdata_delete" (click)="confirmDelete(data)">
                        </button>

                    </td>
                </tr>

            </ng-template>
        </p-table>

    </div>
    <!-- -----------------------END Table-------------------------- -->

    <!-- Form input or Edit Data Year Period -->
    <form (ngSubmit)="Save()" #Form="ngForm">
        <p-dialog [(visible)]="displayManage" [style]="{ height: '1000px', 'overflow-y': 'hidden' }"
            [position]="position" (onHide)="reloadPage()">
            <div class="formatt p-dialog-content" *ngIf="new_data">
                <!-- <i (click)="close()"></i> -->

                <label>{{title_code}}<span style="color: red;"> *</span></label>
                <input pInputText type="text" required [(ngModel)]="selectedMTItem.item_code" maxlength="20" name="code"
                    #code="ngModel" disabled="{{edit_data}}">
                <p>{{selectedMTItem.item_code.length}}/20</p>



                <label>{{title_detail_th}}<span style="color: red;"> *</span></label>
                <textarea [(ngModel)]="selectedMTItem.item_name_th" pInputTextarea [autoResize]="true" required
                    name="item_name_th" #item_name_th="ngModel"></textarea>


                <label>{{title_detail_en}}<span style="color: red;"> *</span></label>
                <textarea [(ngModel)]="selectedMTItem.item_name_en" pInputTextarea [autoResize]="true" required
                    name="item_name_en" #item_name_en="ngModel"></textarea>
                <br>
                <div class="radiorole">
                    <div class="radioroledata">
                        <!-- ประเภท -->
                        <label>{{title_type}}</label>
                        <div>
                            <input type="radio" name="roel" value="IN" [(ngModel)]="selectedMTItem.item_type">
                            <label>{{title_income}}</label>

                        </div>

                        <div>
                            <input type="radio" name="roel" value="DE" [(ngModel)]="selectedMTItem.item_type">
                            <label>{{title_deduct}}</label>
                        </div>

                        <!-- รูปแบบ -->
                        <br>
                        <label>{{title_regular}}</label>

                        <div>
                            <input type="radio" name="regular" value="1" [(ngModel)]="selectedMTItem.item_regular">
                            <label>{{title_Fix[initial_current.Language]}}</label>
                        </div>
                        <div>
                            <input type="radio" name="regular" value="2" [(ngModel)]="selectedMTItem.item_regular">
                            <label>{{title_Var[initial_current.Language]}}</label>
                        </div>


                    </div>
                </div>
                <!-- /// -->
                <div class="inputincheckbox">
                    <div class="inputcheckbox">
                        <input type="checkbox" name="caltax" value="N" [(ngModel)]="selectedMTItem.item_caltax"
                            name="item_caltax" #item_caltax="ngModel">
                        <label>{{title_Caltax}}</label>
                    </div>
                    <div class="inputcheckbox">
                        <input type="checkbox" name="calpf" value="N" [(ngModel)]="selectedMTItem.item_calpf"
                            name="item_calpf" #item_calpf="ngModel">
                        <label>{{title_Calpf}}</label>
                    </div>
                    <div class="inputcheckbox">
                        <input type="checkbox" name="calot" value="N" [(ngModel)]="selectedMTItem.item_calot"
                            name="item_calot" #item_calot="ngModel">
                        <label>{{title_Calot}}</label>
                    </div>
                    <div class="inputcheckbox">
                        <input type="checkbox" name="calsso" value="N" [(ngModel)]="selectedMTItem.item_calsso"
                            name="item_calsso" #item_calsso="ngModel">
                        <label>{{title_Calsso}}</label>
                    </div>
                    <div class="inputcheckbox">
                        <input type="checkbox" name="allowance" value="N" [(ngModel)]="selectedMTItem.item_allowance"
                            name="item_allowance" #item_allowance="ngModel">
                        <label>{{title_Allowance}}</label>
                    </div>

                    <br>
                    <div class="inputincheckbox">

                        <!-- รูปแบบ -->
                        <!-- <label>อัตราภาษีหัก ณ ที่จ่าย </label> -->

                        <div class="inputcheckbox">
                            <input type="checkbox" value="N" [(ngModel)]="selectedMTItem.item_contax" name="item_contax"
                                #item_contax="ngModel">
                            <label>{{title_Contax}}%</label>
                        </div>
                        <div class="inputvalue">
                            <div>
                                <!-- <p-inputNumber [(ngModel)]="selectedMTItem.item_rate" mode="decimal" [useGrouping]="false"  
                                    [minFractionDigits]="2" [maxFractionDigits]="2" [step]="0.5" 
                                    [disabled]="!selectedMTItem.item_contax" name="contax"
                                    #contax="ngModel">
                                </p-inputNumber> -->

                                <p-inputNumber [(ngModel)]="selectedMTItem.item_rate" [minFractionDigits]="2"
                                    [max]="100" [min]="0" [step]="0.5" [useGrouping]="false"
                                    [disabled]="!selectedMTItem.item_contax" name="contax"
                                    #contax="ngModel"></p-inputNumber>
                            </div>

                        </div>
                    </div>
                    <br>
                    <!-- มาตรา -->
                    <label>{{title_Section}}</label>

                    <div>
                        <input type="radio" name="item" value="1" [(ngModel)]="selectedMTItem.item_section"
                            name="item_section" #item_section="ngModel">
                        <label>40(1)</label>
                    </div>
                    <div>
                        <input type="radio" name="item" value="2" [(ngModel)]="selectedMTItem.item_section"
                            name="item_section" #item_section="ngModel">
                        <label>40(2)</label>
                    </div>

                    <div>
                        <input type="radio" name="item" value="3" [(ngModel)]="selectedMTItem.item_section"
                            name="item_section" #item_section="ngModel">
                        <label>40(1)(2)</label>
                    </div>

                </div>


                <br>
                <div style="text-align: right;">
                    <button *ngIf="!edit_data" pRipple pButton type="submit" label="{{ title_save }}" icon="pi pi-save"
                        [disabled]="!Form.form.valid" class="button-size"></button>


                    <!-- <button *ngIf="!edit_data" pRipple pButton type="submit" label="{{ title_save }}" icon="pi pi-save"
                        (click)="Save()" class="button-size" [disabled]="!Form.form.valid"></button> -->

                    <button *ngIf="edit_data" pRipple pButton type="submit" (click)="Save()" label="{{ title_save }}"
                        icon="pi pi-save"
                        [disabled]="(!Form.form.valid == this.accessData.accessdata_edit)|| !this.accessData.accessdata_edit"
                        class="button-size"></button>

                    <!-- <button pButton type="button" label="{{title_save}}" class="button-size" icon="pi pi-save"
                    (click)="Save()"></button> -->
                    &nbsp;
                    <button *ngIf="edit_data" pButton type="button" label="{{title_delete}}" icon="pi pi-trash"
                        key="myDialog" class="p-button-secondary button-size btndel" (click)="Delete()"
                        [disabled]="!this.accessData.accessdata_delete"></button>
                </div>
            </div>

        </p-dialog>

        <div *ngIf="displayManage" style="z-index: 1084;"
            class="p-component-overlay p-sidebar-mask p-component-overlay-enter"></div>
    </form>
    <!-- --------------End form Input Data ------------------ -->
</div>



<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="{{title_upload}}" [(visible)]="displayUpload">
    <label class="drop-container">
        <span class="drop-title">Drop files here</span>
        <input type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            required (change)="handleFileInput($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="Uploadfile()" label="{{title_upload}}"></p-button>
    </ng-template>
</p-dialog>
<div *ngIf="displayUpload" style="z-index: 1084;" class="p-component-overlay p-sidebar-mask p-component-overlay-enter">
</div>
<!-- -----------------End Dialog Choose File-------------------- -->


<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" key="myDialog"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->