<!-- Link Page -->
<!-- <div class="path">
    <span>Attendance</span>
    <div>
        <i></i>
        <a routerLink="/attendance/policy">Policy</a>
        <i></i>
        <small>Process Time</small>
    </div>
</div> -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>

<!-- ---------END Link Page----------- -->
<hr>


<p-toast position="top-right"></p-toast> 


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" key="myDialog"></p-confirmDialog>



<p-tabView  [(activeIndex)]="index" (onChange)="function($event)">
    <p-tabPanel [selected]="true">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>&nbsp;&nbsp;
            <span>{{title_process[initial_current.Language]}} </span>
        </ng-template>

        <div class="formgrid grid align-items-end">

            <div class="field col-12">
                <app-select-emp></app-select-emp>
            </div>

            <div class="field col-12">
                <div class="formgrid grid align-items-end">
                    <div class="field col-12 md:col-2 ">
                        <label for="ppos_shift_code">{{title_fromdate[initial_current.Language]}}</label>
        
                        <p-calendar appendTo="body" [showIcon]="true" [(ngModel)]="selectedFromDate" dateFormat="dd/mm/yy"
                            [showTime]="false" (onSelect)="doChaneDate()" inputId="selectedFromDate"></p-calendar>
        
                    </div>
        
                    <div class="field col-12 md:col-2 ">
                        <label for="ppos_shift_code">{{title_todate[initial_current.Language]}}</label>
                        <p-calendar appendTo="body" [showIcon]="true" [(ngModel)]="selectedToDate" dateFormat="dd/mm/yy"
                            [showTime]="false"  inputId="selectedToDate"></p-calendar>
                    </div>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <p-button label="{{title_proces[initial_current.Language]}}" [disabled]="hasTruePeriodCloseta" (click)="process()"></p-button>
            </div>
           
        </div>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-file-import"></i>&nbsp;&nbsp;
            <span>{{title_result[initial_current.Language]}}</span>
        </ng-template>
        
        <div class="formgrid grid align-items-end">

            <div class="field col-12">
                <app-task></app-task>
            </div>
                       
        </div>

    </p-tabPanel>

</p-tabView>