.p-dialog-content::ng-deep {
    overflow-y: hidden;
    padding: 50px 0.5rem 4rem 0.5rem;
    
  }
  
  .hovered {
    background-color: #f34646 !important;
  }
  .gray-button {
    background-color: #73737333;
     border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
   