<!-- <h4>Policy project</h4>
<br>

<span>Links</span> -->
<p-breadcrumb class="max-w-full" [model]="mainMenuItems" [home]="homeIcon"></p-breadcrumb>
<hr>


<div class="card">
    <div class="grid">


        <div class="col-12 md:col-3">
            <!-- <b>Genaral</b> -->
            <p-divider align="left">
                <div>
                    <i class="pi pi-list mr-2"></i>
                    <b>{{title_general[initialData.Language]}}</b>
                </div>
            </p-divider>
            <div *ngFor="let item of genaralMenuItems">
                <a routerLink="../../project/{{item.link}}"
                    [queryParams]="{ type: item.queryParamsdata }">{{item.title}}</a>
            </div>
            <a routerLink="../../project/shift">{{title_shift[initialData.Language]}}</a>

            <!-- <a routerLink="../../project/pro_genaral" [queryParams]="{type: 'procost'}">Cost</a>
        <a routerLink="../../project/pro_genaral" [queryParams]="{type: 'protype'}">Project Type</a>
        <a routerLink="../../project/pro_genaral" [queryParams]="{type: 'probusiness'}">Project Business</a>
        <a routerLink="../../project/pro_genaral" [queryParams]="{type: 'prouniform'}">Uniform</a>
        <a routerLink="../../project/pro_genaral" [queryParams]="{type: 'proslip'}">Slip form</a>

        <a routerLink="../../project/pro_genaral" [queryParams]="{type: 'proarea'}">Area</a>
        <a routerLink="../../project/pro_genaral" [queryParams]="{type: 'progroup'}">Group</a> -->
        </div>

        <!-- <div class="col-12 md:col-3">
        <b>Attendance</b>
        <a >Period</a>      
        <a >Shift</a>
        <a >Diligence</a>
        <a >Allowance</a>
        <a >Overtime</a> 
        <a >Leave</a> 
        <a >Late</a>     
        
    </div> -->

        <!-- <div class="col-12 md:col-3">
        <b>Payroll</b>
        <a >Income / Deduct</a>  
        <a >Period</a>       
        <a >GL Account</a>
    </div> -->

        <!-- <div class="col-3">
        <p-divider align="left">
            <div>
                <i class="pi pi-list mr-2"></i>
                <b>Workflow</b>
            </div>
        </p-divider>
        <div *ngFor="let item of workflowMenuItems">
            <a routerLink="../../project/{{item.link}}">{{item.title}}</a>
        </div>
    </div> -->

    </div>
</div>