
<h4>Policy project</h4>
<br>

<span>Links</span>
<p></p>
<div class="grid">

    
    <div class="col-12 md:col-3">
        <b>Genaral</b>
        <a routerLink="../../project/setup_cost">Cost</a>
        <a >Project Type</a>
        <a >Project Business</a>
        
        <a >Uniform</a>     
        <a >Slip form</a>     
       
    </div>

    <div class="col-12 md:col-3">
        <b>Attendance</b>
        <a >Period</a>      
        <a >Shift</a>
        <a >Diligence</a>
        <a >Allowance</a>
        <a >Overtime</a> 
        <a >Leave</a> 
        <a >Late</a>     
        
    </div>

    <div class="col-12 md:col-3">
        <b>Payroll</b>
        <a >Income / Deduct</a>  
        <a >Period</a>       
        <a >GL Account</a>
    </div>

    <div class="col-12">
        <b>Workflow</b>
        <a  routerLink="../../project/workflow">Project</a>
        <a >Transfer Emp.</a>
        <a >Cost</a>  
             
    </div>

</div>