<div class="layout-topbar">
    <!-- Application logo and version -->
    <a class="layout-topbar-logo" routerLink="">
        <span>HR-Operation</span>
        <small style="margin-left: 10px; font-size: 12px; font-weight: 200;">version 1.0</small>
    </a>

    <!-- Toggle menu button -->
    <button class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <!-- Show profile sidebar button -->
    <button class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <!-- Menu items -->
    <div class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- Language selection -->
        <div style="display: flex; gap: 8px; align-items: center;">
            <span [ngStyle]="{'color': (initialData.Language == 'TH') ? 'white' : 'gray'}" style="cursor: pointer;"
                (click)="selectLanguage('TH')">TH</span> |
            <span [ngStyle]="{'color': (initialData.Language == 'EN') ? 'white' : 'gray'}" style="cursor: pointer;"
                (click)="selectLanguage('EN')">EN</span>
        </div>

        <!-- Menu buttons -->
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
        <button class="p-link layout-topbar-button" (click)="logout()">
            <i class="pi pi-sign-out"></i>
            <span>Logout</span>
        </button>
    </div>
</div>

<p-dialog header="PDPA" [(visible)]="isManageDisplayed" [style]="{width: '70vw'}">
    <div style="display: flex; flex-direction: column; justify-content: center; gap: 20px;">
        <!-- PDF viewer -->
        <pdf-viewer [src]="pdpaFileSrc" [rotation]="0" [original-size]="true" [show-all]="true" [fit-to-page]="true"
            [zoom]="0" [stick-to-page]="true" [render-text]="true" [autoresize]="true" [zoom-scale]="'page-fit'"
            [show-borders]="false" style="height: 70vh;"></pdf-viewer>

        <!-- Consent buttons -->
        <div style="gap: 10px; display: flex; justify-content:center;">
            <!-- Agree button -->
            <button pButton type="button" [label]="consentLanguages.get('agree')[selectedLanguageCode]"
                (click)="recordPDPAStatus(true)"></button>

            <!-- Not agree button -->
            <button pButton type="button" [label]="consentLanguages.get('not_agree')[selectedLanguageCode]"
                class="p-button-danger" (click)="recordPDPAStatus(false)"></button>
        </div>
    </div>
</p-dialog>

<div class="my-overlay" *ngIf="initialData.showloding">
    <!-- <i class="pi pi-spin pi-spinner" aria-hidden="true"></i> -->
    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50"
        xml:space="preserve">
        <path
            d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z"
            fill="white"> <!-- Set the fill attribute to "white" -->
            <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25"
                dur="0.6s" repeatCount="indefinite" />
        </path>
    </svg>
</div>