<div class="layout-topbar">
    <!-- Application logo and version -->
    <a class="layout-topbar-logo" routerLink="">
        <span>IHR</span>
        <small style="margin-left: 10px; font-size: 12px; font-weight: 200;">version 1.0</small>
    </a>

    <!-- Toggle menu button -->
    <button class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <!-- Show profile sidebar button -->
    <button class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <!-- Menu items -->
    <div class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- Language selection -->
        <div style="display: flex; gap: 8px; align-items: center;">
            <span [ngStyle]="{'color': (initialData.Language == 'TH') ? 'white' : 'gray'}" style="cursor: pointer;"
                (click)="selectLanguage('TH')">TH</span> |
            <span [ngStyle]="{'color': (initialData.Language == 'EN') ? 'white' : 'gray'}" style="cursor: pointer;"
                (click)="selectLanguage('EN')">EN</span>
        </div>

        <!-- <div style="display: flex; align-items: center">
            <i class="pi pi-calendar"></i>
            <span style="cursor: pointer;">: {{initialData.CompCode}}</span>
        </div> -->
        <div class="company">
            <i class="pi pi-building"></i>
            <div>:</div>
            <span class="show">{{initialData.CompCode}}</span>
        </div>
        <div class="company" style="cursor: pointer;" (click)="changeusertype()">
            <i class="pi pi-user"></i>
            <div>:</div>
            <span class="show">{{initialData.Usertype}}</span>
        </div>
        <!-- Menu buttons -->
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->
        <button class="p-link layout-topbar-button" (click)="logout()">
            <i class="pi pi-sign-out"></i>
            <span>Logout</span>
        </button>
    </div>
</div>

<p-dialog header="PDPA" [(visible)]="isManageDisplayed" [style]="{width: '70vw'}">
    <div style="display: flex; flex-direction: column; justify-content: center; gap: 20px;">
        <!-- PDF viewer -->
        <pdf-viewer [src]="pdpaFileSrc" [rotation]="0" [original-size]="true" [show-all]="true" [fit-to-page]="true"
            [zoom]="0" [stick-to-page]="true" [render-text]="true" [autoresize]="true" [zoom-scale]="'page-fit'"
            [show-borders]="false" style="height: 70vh;"></pdf-viewer>

        <!-- Consent buttons -->
        <div style="gap: 10px; display: flex; justify-content:center;">
            <!-- Agree button -->
            <button pButton type="button" [label]="consentLanguages.get('agree')[selectedLanguageCode]"
                (click)="recordPDPAStatus(true)"></button>

            <!-- Not agree button -->
            <button pButton type="button" [label]="consentLanguages.get('not_agree')[selectedLanguageCode]"
                class="p-button-danger" (click)="recordPDPAStatus(false)"></button>
        </div>
    </div>
</p-dialog>

<p-dialog header="{{consentLanguages.get('type')[initialData.Language]}}" [(visible)]="displayManagetype" [style]="{width: '30vw'}"
    [draggable]="false">
    <div class="loginform">
        <!-- <label for="ppos_shift_code">{{langs.get('type')[selectlang]}}</label> -->
        <p-dropdown class="selectyaer" [options]="type_list" [(ngModel)]="typeselected"
            optionLabel='name' (keyup.enter)="submittype()" appendTo="body"></p-dropdown>
        <button pButton type="button" label="{{consentLanguages.get('confirm')[initialData.Language]}}" icon="pi pi-lock"
            (click)="submittype()"></button>
    </div>
</p-dialog>