<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>
    <hr>

<table class="table_summary_">
    <tr>

        <td valign="bottom">
            <button type="button" pButton pRipple class="p-button-text p-button-rounded p-button-plain mr-2"
                [icon]="show_fillter ? 'pi pi-chevron-up' : 'pi pi-chevron-down'" (click)="doShowFillter()"></button>
        </td>
    </tr>

</table>
<table *ngIf="show_fillter == true">
    <td colspan="4">
        <div class="formgrid grid align-items-end">



            <div class="pt-6 col-6 md:col-4">
                <label for="projobemp_fromdate">{{title_staff_fromadate[initial_current.Language]}}</label>
                <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="false"
                    [(ngModel)]="selectedDate_fillter" (onSelect)="doFillter()"
                    inputId="selectedDate_fillter"></p-calendar>
            </div>
            &nbsp;
            <div class="pt-6 col-6 md:col-4">
                <label for="projobemp_todate">{{title_staff_todate[initial_current.Language]}}</label>
                <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="false"
                    [(ngModel)]="selectedToDate_fillter" (onSelect)="doFillter()"
                    inputId="selectedToDate_fillter"></p-calendar>
            </div>

<p-menubar [model]="toolbar_refresh"></p-menubar>

            
        </div>
        <div class="formgrid grid align-items-end">
            <table class="table_fillter">
                <br>
                <tr>
                    <td>
                        <div class="field-checkbox">
                            <p-checkbox [binary]="true" [(ngModel)]="type_fillter" inputId="type_fillter"
                                (onChange)="doFillter()"></p-checkbox>
                            <label for="type_fillter">{{title_project_protype[initial_current.Language]}}</label>
                        </div>
                    </td>
                    <td>
                        <p-dropdown placeholder="--" [options]="protype_list" optionValue="protype_code"
                            [(ngModel)]="selectedType_fillter" [showClear]="true" [disabled]="!type_fillter"
                            [style]="{ width: '100%', overflow: 'visible' }" (onChange)="doFillter()">
                            <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.protype_name_th : item.protype_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.protype_name_th : item.protype_name_en}}
                            </ng-template>
                        </p-dropdown>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field-checkbox">
                            <p-checkbox [binary]="true" [(ngModel)]="business_fillter" inputId="business_fillter"
                                (onChange)="doFillter()"></p-checkbox>
                            <label
                                for="business_fillter">{{title_project_probusiness[initial_current.Language]}}</label>
                        </div>
                    </td>
                    <td>
                        <p-dropdown placeholder="--" [options]="probusiness_list" optionValue="probusiness_code"
                            [(ngModel)]="selectedBusiness_fillter" [showClear]="true" [disabled]="!business_fillter"
                            [style]="{ width: '100%', overflow: 'visible' }" (onChange)="doFillter()">
                            <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.probusiness_name_th :
                                item.probusiness_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.probusiness_name_th :
                                item.probusiness_name_en}}
                            </ng-template>
                        </p-dropdown>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="field-checkbox">
                            <p-checkbox [binary]="true" [(ngModel)]="proarea_fillter" inputId="proarea_fillter"
                                (onChange)="doFillter()"></p-checkbox>
                            <label for="proarea_fillter">{{title_project_proarea[initial_current.Language]}}</label>
                        </div>
                    </td>
                    <td>
                        <p-dropdown placeholder="--" [options]="proarea_list" optionValue="proarea_code"
                            [(ngModel)]="selectedProarea_fillter" [showClear]="true" [disabled]="!proarea_fillter"
                            [style]="{ width: '100%', overflow: 'visible' }" (onChange)="doFillter()">
                            <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.proarea_name_th : item.proarea_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.proarea_name_th : item.proarea_name_en}}
                            </ng-template>
                        </p-dropdown>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field-checkbox">
                            <p-checkbox [binary]="true" [(ngModel)]="progroup_fillter" inputId="progroup_fillter"
                                (onChange)="doFillter()"></p-checkbox>
                            <label for="progroup_fillter">{{title_project_progroup[initial_current.Language]}}</label>
                        </div>
                    </td>
                    <td>
                        <p-dropdown placeholder="--" [options]="progroup_list" optionValue="progroup_code"
                            [(ngModel)]="selectedProgroup_fillter" [showClear]="true" [disabled]="!progroup_fillter"
                            [style]="{ width: '100%', overflow: 'visible' }" (onChange)="doFillter()">
                            <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.progroup_name_th :
                                item.progroup_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.progroup_name_th :
                                item.progroup_name_en}}
                            </ng-template>
                        </p-dropdown>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</table>


<div #scrollMe style="overflow: scroll; height: 600px;">



    <p-table #dt2 [value]="cost_compare" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '80rem'}"
        [scrollable]="true" scrollHeight="450px" [virtualScroll]="true" selectionMode="single"
        [(selection)]="selectedCostcompare" (onRowSelect)="onRowSelectProject($event)" dataKey="project_code"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
        currentPageReportTemplate="{{title_page_from[initial_current.Language]}} {first} {{title_page_to[initial_current.Language]}} {last} {{title_page_total[initial_current.Language]}} {totalRecords} {{title_page_record[initial_current.Language]}}"
        [globalFilterFields]="['project_code','project_name_th','project_name_short','project_business','project_type','project_start','project_end']"
        groupRowsBy="project_code" rowGroupMode="subheader">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th>{{title_project_code[initial_current.Language]}}</th>
                <th>{{title_project_name[initial_current.Language]}}</th>

                <!-- <th style="width:10%">{{title_job_code[initial_current.Language]}}</th>
                <th style="width:15%">{{title_job_name[initial_current.Language]}}</th> -->

                <th>{{title_version[initial_current.Language]}}</th>
                <th>{{title_fromdate[initial_current.Language]}}</th>
                <th>{{title_todate[initial_current.Language]}}</th>
                <th>{{title_emp_total[initial_current.Language]}}</th>

                <th *ngIf="costs_title[0] !=''">{{costs_title[0]}}</th>
                <th *ngIf="costs_title[1] !=''">{{costs_title[1]}}</th>
                <th *ngIf="costs_title[2] !=''">{{costs_title[2]}}</th>
                <th *ngIf="costs_title[3] !=''">{{costs_title[3]}}</th>
                <th *ngIf="costs_title[4] !=''">{{costs_title[4]}}</th>
                <th *ngIf="costs_title[5] !=''">{{costs_title[5]}}</th>
                <th *ngIf="costs_title[6] !=''">{{costs_title[6]}}</th>
                <th *ngIf="costs_title[7] !=''">{{costs_title[7]}}</th>
                <th *ngIf="costs_title[8] !=''">{{costs_title[8]}}</th>
                <th *ngIf="costs_title[9] !=''">{{costs_title[9]}}</th>
                <th>{{title_cost[initial_current.Language]}}</th>
            </tr>

        </ng-template>

        <ng-template pTemplate="groupheader" let-project let-rowIndex="rowIndex" let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="project"
                        class="p-button-text p-button-rounded p-button-plain mr-2"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td><b>{{project.project_code}}</b></td>
                <td style="padding: 5px;" align="left">{{initial_current.Language=="TH"? project.project_name_th :
                    project.project_name_en}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td *ngIf="costs_title[0] !=''"></td>
                <td *ngIf="costs_title[1] !=''"></td>
                <td *ngIf="costs_title[2] !=''"></td>
                <td *ngIf="costs_title[3] !=''"></td>
                <td *ngIf="costs_title[4] !=''"></td>
                <td *ngIf="costs_title[5] !=''"></td>
                <td *ngIf="costs_title[6] !=''"></td>
                <td *ngIf="costs_title[7] !=''"></td>
                <td *ngIf="costs_title[8] !=''"></td>
                <td *ngIf="costs_title[9] !=''"></td>
                <td></td>
            </tr>
        </ng-template>


        <ng-template pTemplate="rowexpansion" let-projobmain>
            <tr>
                <td></td>

                <td>{{ projobmain.projobmain_code }}</td>
                <td style="text-align: left;">{{initial_current.Language=="TH"? projobmain.projobmain_name_th :
                    projobmain.projobmain_name_en}}</td>
                <td>{{ projobmain.version }}</td>
                <td>{{ projobmain.fromdate | date:'dd/MM/yyyy '}}</td>
                <td>{{ projobmain.todate | date:'dd/MM/yyyy '}}</td>
                <td>{{ projobmain.projobmain_manpower }}</td>
                <td style="text-align: right; padding-right: 10px;" *ngIf="costs_title[0] !=''">
                    {{projobmain.allow1 | number:'1.2-2'}}</td>
                <td style="text-align: right; padding-right: 10px;" *ngIf="costs_title[1] !=''">
                    {{projobmain.allow2 | number:'1.2-2'}}</td>
                <td style="text-align: right; padding-right: 10px;" *ngIf="costs_title[2] !=''">
                    {{projobmain.allow3 | number:'1.2-2'}}</td>
                <td style="text-align: right; padding-right: 10px;" *ngIf="costs_title[3] !=''">
                    {{projobmain.allow4 | number:'1.2-2'}}</td>
                <td style="text-align: right; padding-right: 10px;" *ngIf="costs_title[4] !=''">
                    {{projobmain.allow5 | number:'1.2-2'}}</td>
                <td style="text-align: right; padding-right: 10px;" *ngIf="costs_title[5] !=''">
                    {{projobmain.allow6 | number:'1.2-2'}}</td>
                <td style="text-align: right; padding-right: 10px;" *ngIf="costs_title[6] !=''">
                    {{projobmain.allow7 | number:'1.2-2'}}</td>
                <td style="text-align: right; padding-right: 10px;" *ngIf="costs_title[7] !=''">
                    {{projobmain.allow8 | number:'1.2-2'}}</td>
                <td style="text-align: right; padding-right: 10px;" *ngIf="costs_title[8] !=''">
                    {{projobmain.allow9 | number:'1.2-2'}}</td>
                <td style="text-align: right; padding-right: 10px;" *ngIf="costs_title[9] !=''">
                    {{projobmain.allow10 | number:'1.2-2'}}</td>

                <td style="text-align: right; padding-right: 10px;">{{projobmain.projobmain_cost | number:'1.2-2'}}</td>

            </tr>
        </ng-template>
    </p-table>
</div>