<!-- <span style="font-size: 20px;">Employee</span>&nbsp; <i class="pi pi-angle-right"></i>&nbsp; <small>Monitor</small>
 -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>
<hr>

<div class="grid">

    <div class="col-12">
        <p-tabView>
            <p-tabPanel [selected]="true">
                <ng-template pTemplate="header">
                    <!-- <i class="pi pi-file-import"></i>&nbsp;&nbsp; -->
                    <span>{{title_workers[initial_current.Language]}}</span>
                </ng-template>

                <div class="col-12">
                    <p-accordion>
                        <p-accordionTab header="ว่าจ้าง">

                            <p-table #dt2 styleClass="p-datatable-sm" [tableStyle]="{'min-width': '80rem'}"
                                [scrollable]="true" scrollHeight="200px" [virtualScroll]="true" selectionMode="single"
                                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                [paginator]="true"
                                currentPageReportTemplate="{{title_showing[initial_current.Language]}} {first} {{title_to[initial_current.Language]}} {last} {{title_of[initial_current.Language]}} {totalRecords} {{title_entries[initial_current.Language]}} ">
                                <ng-template pTemplate="caption">
                                    <div class="flex">
                                        <span class="p-input-icon-left ml-auto">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text"
                                                (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                                                placeholder={{title_search_keyword[initial_current.Language]}} />
                                        </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>

                                        <th style="width:9%">คำนำหน้า</th>
                                        <th style="width:10%">ชื่อ</th>
                                        <th style="width:10%">นามสกุล</th>
                                        <th>อายุ</th>
                                        <th>ตำแหน่ง</th>
                                        <th>วันที่เริ่มงาน</th>
                                        <th>วันที่อนุมัติ</th>
                                        <th>ผู้ทำรายการ</th>
                                        <th>วันที่ทำรายการ</th>
                                    </tr>

                                </ng-template>
                            </p-table>
                        </p-accordionTab>

                    </p-accordion>


                    <p-accordion>
                        <p-accordionTab header="สมัครงาน">
                            <p-table #dt2 styleClass="p-datatable-sm" [tableStyle]="{'min-width': '80rem'}"
                                [scrollable]="true" scrollHeight="200px" [virtualScroll]="true" selectionMode="single"
                                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                [paginator]="true"
                                currentPageReportTemplate="{{title_showing[initial_current.Language]}} {first} {{title_to[initial_current.Language]}} {last} {{title_of[initial_current.Language]}} {totalRecords} {{title_entries[initial_current.Language]}} ">
                                <ng-template pTemplate="caption">
                                    <div class="flex">
                                        <span class="p-input-icon-left ml-auto">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text"
                                                (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                                                placeholder={{title_search_keyword[initial_current.Language]}} />
                                        </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>

                                        <th style="width:9%">คำนำหน้า</th>
                                        <th style="width:10%">ชื่อ</th>
                                        <th style="width:10%">นามสกุล</th>
                                        <th>อายุ</th>
                                        <th>ตำแหน่ง</th>
                                        <th>วันที่สมัคร</th>
                                        <th>วันที่อนุมัติ</th>
                                        <th>ผู้ทำรายการ</th>
                                        <th>วันที่ทำรายการ</th>
                                    </tr>

                                </ng-template>
                            </p-table>

                        </p-accordionTab>
                    </p-accordion>
                </div>
            </p-tabPanel>

            <p-tabPanel >
                <ng-template pTemplate="header" >
                    <!-- <i class="pi pi-file-import"></i>&nbsp;&nbsp; -->
                    <span>{{title_analytics[initial_current.Language]}}</span>
                </ng-template>
                <!-- <button pButton type="button" class="p-button-secondary button-size-small btndel" (click)="reloadPage()">
                    <i class="pi pi-refresh icon-small"></i>
                </button> -->
                <div class="col-12 " style="min-width: 600px; min-height: 500px" >
                    <div class="grid">
                        <!--สถานที่ทำงาน-->
                        <div class="col-12 md:col-6">
                            <label> สถานที่ทำงาน </label>

                            <p-chart type="bar" [data]="barChartData4" [options]="barChartOptions4"></p-chart>
                        </div>

                        <!-- พนักงานทั้งหมด -->
                        <div class="col-12 md:col-6 ">
                            <label> พนักงานทั้งหมด </label>
                            <p-chart type="doughnut" [data]="doughnut1" [options]="doughnutChartOptions1"></p-chart>
                        </div>

                        <!-- พนักงานเข้าใหม่ดและลาออก -->
                        <div class="col-12 md:col-6">
                            <label> พนักงานเข้าใหม่ และ ลาออก </label> 

                            <p-chart type="doughnut" [data]="doughnut2" [options]="doughnutChartOptions2"></p-chart>
                        </div>

                        <!-- พนักงานประจำ และชั่วคราว-->
                        <div class="col-12 md:col-6">
                            <label> พนักงานประจำ และ ชั่วคราว </label>

                            <p-chart type="doughnut" [data]="doughnut3" [options]="doughnutChartOptions3"></p-chart>
                        </div>

                        <!-- พนักงานรายวัน เดือน-->
                        <div class="col-12 md:col-6">
                            <label> พนักงานรายวัน และ รายเดือน</label>

                            <p-chart type="doughnut" [data]="doughnut5" [options]="doughnutChartOptions5"></p-chart>
                        </div>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>
    </div>
</div>
<div class="col-12 md:col-3"></div>

<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" key="myDialog" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>