<!-- Link Page -->
<div class="path">
    <span>Attendance</span>
    <div>
        <i></i>
        <a routerLink="/attendance/policy">Policy</a>
        <i></i>
        <small>Year Period</small>
    </div>
</div>
<!-- <app-changeshift [test]="tt" (result)="changeParentCount($event)"></app-changeshift> -->
<!-- ---------END Link Page----------- -->
<hr>
<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items"></p-menubar>
</div>
<!-- ----------------END MENU----------------- -->
<div class="tabledata">
    <!-- Table Show Data Year Period -->
    <div #TABLE>
        <p-table #dt2 [value]="yearperiods_list" selectionMode="single" [(selection)]="yearperiods"
            (onRowSelect)="onRowSelect($event)" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            currentPageReportTemplate="from {first} to {last} total {totalRecords}"
            [globalFilterFields]="['year_code','year_name_en','modified_by','modified_date']" responsiveLayout="stack"
            [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable">
                    <div>

                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="search" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>No.</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Modified by</th>
                    <th>Modified date</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td><span>No.</span>{{i+1}}</td>
                    <td><span>Code</span>{{data.year_code}}</td>
                    <td><span>Desc</span>{{data.year_name_en}}</td>
                    <td><span>Type</span>{{data.year_group}}</td>
                    <td><span>Mod by</span>{{data.modified_by}}</td>
                    <td><span>Mod date</span>{{data.modified_date | date:'dd/MM/yyyy'}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- -----------------------END Table-------------------------- -->

    <!-- Form input or Edit Data Year Period -->
    <div class="formatt" *ngIf="new_data==true">
        <i (click)="close()"></i>

        <label>Code</label>
        <input pInputText type="text" [(ngModel)]="yearperiods.year_code" maxlength="4" />
        <p>{{yearperiods.year_code.length}}/4</p>

        <label>Description (Eng.)</label>
        <textarea [(ngModel)]="yearperiods.year_name_en" pInputTextarea [autoResize]="true"></textarea>

        <label>Description (Thai)</label>
        <textarea [(ngModel)]="yearperiods.year_name_th" pInputTextarea [autoResize]="true"></textarea>

        <label>FromDate</label>
        <p-calendar appendTo="body" [(ngModel)]="yearperiods.year_fromdate" dateFormat="dd/mm/yy"><input
                type="text"></p-calendar>

        <label>ToDate</label>
        <p-calendar appendTo="body" [(ngModel)]="yearperiods.year_todate" dateFormat="dd/mm/yy"><input
                type="text"></p-calendar>

        <div>
              <input type="radio" name="fav_language" value="TAX" [(ngModel)]="yearperiods.year_group">
              <label>TAX</label>

              <input type="radio" name="fav_language" value="Leave" [(ngModel)]="yearperiods.year_group">
              <label>Leave</label>
        </div>
        <button pButton type="button" label="Save" icon="pi pi-check" (click)="Save()"></button>
        <button *ngIf="edit_data" pButton type="button" label="Delete" (click)="Delete()" icon="pi pi-trash"
            class="p-button-danger"></button>
    </div>
    <!-- --------------End form Input Data ------------------ -->
</div>

<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="Upload" [(visible)]="displayUpload">
    <label class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file" accept="xlxs/*" required (change)="handleFileInput($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="Uploadfile()" label="Upload"></p-button>
    </ng-template>
</p-dialog>

<!-- -----------------End Dialog Choose File-------------------- -->


<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->