p-dropdown{
    width: '100%'; overflow: 'visible';

}


.table_summary_{
    border-collapse: collapse;
}

.table_summary_ td{
    padding: 5px;
    border: 0px solid #ccc;
}


.main_div {
    text-align:left;
    position: relative;
    padding: 5px;
    height: 100px;
    width: 100px;
    background-color: #152047;
}
.sub_div {
    position: absolute;
    bottom: 5px;
}

.spn_value{
    color: #FFFFFF;
    font-size: 16px;
}

.spn_title{
    color: #FFFFFF;
    font-size: 12px;
}

.spn_title_edit{
    margin: 70px 0px 10px 15px;
    font-weight: bold;
    font-size: 15px;
}

.td_amount{
    text-align: right;
    padding-right: 10px;
}

::ng-deep .input-styling input {
    width: 40px !important;
  }

  textarea{
    width: 100%;
  }


  .spn_title_edit_procontact{
    margin: 350px 0px 10px 15px;
    font-weight: bold;
    font-size: 15px;
}
// <div class="col-12">
//                             <p-accordion>
//                                 <p-accordionTab header="{{title_address}}" [selected]="false">
//                                     <div class="formgrid grid">
//                                         <div class="field col-6">
//                                             <label for="firstname2">{{title_address_type}}</label>
//                                             <input id="firstname2" type="text" [(ngModel)]="selectedComaddress.comaddress_type" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                                         </div>
//                                         <div class="field col-6">
//                                             <label for="firstname2">{{title_address_no}}</label>
//                                             <input id="firstname2" type="text" [(ngModel)]="selectedComaddress.comaddressth_no" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                                         </div>
//                                         <div class="field col-6">
//                                             <label for="lastname2">{{title_address_moo}}</label>
//                                             <input id="lastname2" type="text" [(ngModel)]="selectedComaddress.comaddressth_moo" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                                         </div>
//                                         <div class="field col-6">
//                                             <label for="firstname2">{{title_address_road}}</label>
//                                             <input id="firstname2" type="text" [(ngModel)]="selectedComaddress.comaddressth_road" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                                         </div>
//                                         <div class="field col-6">
//                                             <label for="lastname2">{{title_address_soi}}</label>
//                                             <input id="lastname2" type="text" [(ngModel)]="selectedComaddress.comaddressth_soi" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                                         </div>
//                                         <div class="field col-6">
//                                             <label for="firstname2">{{title_address_tambon}}</label>
//                                             <input id="firstname2" type="text" [(ngModel)]="selectedComaddress.comaddressth_tambon" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                                         </div>
//                                         <div class="field col-6">
//                                             <label for="lastname2">{{title_address_amphur}}</label>
//                                             <input id="lastname2" type="text" [(ngModel)]="selectedComaddress.comaddressth_amphur" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                                         </div>
//                                         <div class="field col-6">
//                                             <label for="lastname2">{{title_address_province}} :</label><br>
//                                             <p-dropdown placeholder="Select a Type" [options]="provinceList" optionLabel="province_code"
//                                                 [showClear]="true" [(ngModel)]="selectedComaddress.provinceth_code"
//                                                 [style]="{ width: '100%', overflow: 'visible' }">
//                                                 <ng-template let-item pTemplate="selectedItem">
//                                                     {{initial_current.Language=="TH"? item.province_name_th : item.province_name_th}}
//                                                 </ng-template>
//                                                 <ng-template let-item pTemplate="item">
//                                                     {{initial_current.Language=="TH"? item.province_name_th : item.province_name_th}}
//                                                 </ng-template>
//                                             </p-dropdown>
//                                         </div>
//                                         <div class="field col-6">
//                                             <label for="lastname2">{{title_address_zipcode}}</label>
//                                             <input id="lastname2" type="text" [(ngModel)]="selectedComaddress.comaddress_zipcode" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                                         </div>
//                                         <div class="field col-6">
//                                             <div class="p-inputgroup">
//                                                 <span class="p-inputgroup-addon">{{title_address_tel}}</span>
//                                                 <input type="text" pInputText placeholder="" [(ngModel)]="selectedComaddress.comaddress_tel" >
//                                             </div>
//                                         </div>
//                                         <div class="field col-6">
//                                             <div class="p-inputgroup">
//                                                 <span class="p-inputgroup-addon">{{title_address_email}}</span>
//                                                 <input type="text" pInputText placeholder="" [(ngModel)]="selectedComaddress.comaddress_email" >
//                                             </div>
//                                         </div>
//                                         <div class="field col-12">
//                                             <label for="ppos_name_en">{{title_address_note}}</label>
//                                             <textarea [rows]="2" id="ppos_name_en"  [cols]="30" pInputTextarea [autoResize]="true"></textarea>
//                                         </div>
//                                     </div>
//                                 </p-accordionTab>
//                             </p-accordion>
//                         </div>

// <!-- Address -->
// <div class="col-12">
//     <p-accordion>
//         <p-accordionTab header="{{title_address}}" [selected]="false">
//             <div class="formgrid grid">
//                 <div class="field col-6">
//                     <label for="firstname2">{{title_address_no}}</label>
//                     <input id="firstname2" type="text" [(ngModel)]="selectedComaddress.comaddress_type" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                 </div>
//                 <div class="field col-6">
//                     <label for="firstname2">{{title_address_no}}</label>
//                     <input id="firstname2" type="text" [(ngModel)]="selectedComaddress.comaddressth_no" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                 </div>
//                 <div class="field col-6">
//                     <label for="lastname2">{{title_address_moo}}</label>
//                     <input id="lastname2" type="text" [(ngModel)]="selectedComaddress.comaddressth_moo" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                 </div>
//                 <div class="field col-6">
//                     <label for="firstname2">{{title_address_road}}</label>
//                     <input id="firstname2" type="text" [(ngModel)]="selectedComaddress.comaddressth_road" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                 </div>
//                 <div class="field col-6">
//                     <label for="lastname2">{{title_address_soi}}</label>
//                     <input id="lastname2" type="text" [(ngModel)]="selectedComaddress.comaddressth_soi" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                 </div>
//                 <div class="field col-6">
//                     <label for="firstname2">{{title_address_tambon}}</label>
//                     <input id="firstname2" type="text" [(ngModel)]="selectedComaddress.comaddressth_tambon" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                 </div>
//                 <div class="field col-6">
//                     <label for="lastname2">{{title_address_amphur}}</label>
//                     <input id="lastname2" type="text" [(ngModel)]="selectedComaddress.comaddressth_amphur" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                 </div>
//                 <div class="field col-6">
//                     <label for="lastname2">{{title_address_province}} :</label><br>
//                     <p-dropdown placeholder="Select a Type" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
//                 </div>
//                 <div class="field col-6">
//                     <label for="lastname2">{{title_address_zipcode}}</label>
//                     <input id="lastname2" type="text" [(ngModel)]="selectedComaddress.proaddress_zipcode" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
//                 </div>
//                 <div class="field col-6">
//                     <div class="p-inputgroup">
//                         <span class="p-inputgroup-addon">{{title_address_tel}}</span>
//                         <input type="text" pInputText placeholder="" [(ngModel)]="selectedComaddress.proaddress_tel" >
//                     </div>
//                 </div>
//                 <div class="field col-6">
//                     <div class="p-inputgroup">
//                         <span class="p-inputgroup-addon">{{title_address_email}}</span>
//                         <input type="text" pInputText placeholder="" [(ngModel)]="selectedComaddress.proaddress_email" >
//                     </div>
//                 </div>
//                 <div class="field col-12">
//                     <label for="ppos_name_en">{{title_address_note}}</label>
//                     <textarea [rows]="2" id="ppos_name_en"  [cols]="30" pInputTextarea [autoResize]="true"></textarea>
//                 </div>
//             </div>
//         </p-accordionTab>
//     </p-accordion>
// </div>

// <div class="field col-12">
//     <p-accordion>
//         <p-accordionTab header="{{title_address}}">

//             <p-tabView (onChange)="tabChange($event)">
//                 <p-tabPanel>
//                     <ng-template pTemplate="header">
//                         <i></i>&nbsp;&nbsp;
//                         <span>Address TH</span>
//                     </ng-template>

//                     <p-menubar [model]="menu_comaddress"></p-menubar>
//                     <p-table #dtAddress [value]="comaddressList" styleClass="p-datatable-sm"
//                         [tableStyle]="{'min-width': '80rem'}" [scrollable]="true"
//                         scrollHeight="200px" [virtualScroll]="true" selectionMode="single"
//                         [(selection)]="selectedComaddress"
//                         (onRowSelect)="onRowSelectComaddress($event)" [rows]="10"
//                         [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
//                         [paginator]="true"
//                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
//                         <ng-template pTemplate="header">
//                             <tr>
//                                 <th>ประเภท</th>
//                                 <th>เลขที่</th>
//                                 <th>หมู่ที่</th>
//                                 <th>ซอย</th>
//                                 <th>ถนน</th>
//                                 <th>ตำบล</th>
//                                 <th>อำเภอ</th>
//                                 <th>จังหวัด</th>
//                                 <th>รหัสไปรษณีย์</th>
//                                 <th>เบอร์โทรศัพท์</th>
//                                 <!-- <th>อีเมล์</th>
//                                 <th>ไลน์</th>
//                                 <th>เฟสบุ๊ค</th> -->
//                                 <th>ผู้ทำรายการ</th>
//                                 <th>วันที่ทำรายการ</th>
//                             </tr>
//                         </ng-template>
//                         <ng-template pTemplate="body" let-data>
//                             <tr [pSelectableRow]="data">
//                                 <td>{{data.comaddress_type}}</td>
//                                 <td>{{data.comaddressth_no}}</td>
//                                 <td>{{data.comaddressth_moo}}</td>
//                                 <td>{{data.comaddressth_soi}}</td>
//                                 <td>{{data.comaddressth_road}}</td>
//                                 <td>{{data.comaddressth_tambon}}</td>
//                                 <td>{{data.comaddressth_amphur}}</td>
//                                 <td>{{data.provinceth_code}}</td>
//                                 <td>{{data.comaddress_zipcode}}</td>
//                                 <td>{{data.comaddress_tel}}</td>
//                                 <!-- <td>{{data.comaddress_email}}</td>
//                                 <td>{{data.comaddress_line}}</td>
//                                 <td>{{data.comaddress_facebook}}</td> -->

//                                 <td>{{data.modified_by}}</td>
//                                 <td>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
//                             </tr>
//                         </ng-template>
//                     </p-table>
//                 </p-tabPanel>

//                 <p-tabPanel>
//                     <ng-template pTemplate="header">
//                         <i></i>&nbsp;&nbsp;
//                         <span>Address EN</span>
//                     </ng-template>
//                     <p-menubar [model]="menu_comaddresseen"></p-menubar>
//                     <p-table #dtAddress [value]="comaddressList" styleClass="p-datatable-sm"
//                         [tableStyle]="{'min-width': '80rem'}" [scrollable]="true"
//                         scrollHeight="200px" [virtualScroll]="true" selectionMode="single"
//                         [(selection)]="selectedComaddress"
//                         (onRowSelect)="onRowSelectComaddress($event)" [rows]="10"
//                         [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
//                         [paginator]="true"
//                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
//                         <ng-template pTemplate="header">
//                             <tr>
//                                 <!-- <th>type</th> -->
//                                 <th>no</th>
//                                 <th>moo</th>
//                                 <th>soi</th>
//                                 <th>road</th>
//                                 <th>tambon</th>
//                                 <th>amphur</th>
//                                 <th>province</th>

//                                 <!-- <th>zipcode</th> -->
//                                 <!-- <th>tel</th> -->
//                                 <th>email</th>
//                                 <th>line</th>
//                                 <th>facebook</th>
//                                 <th>modified_by</th>
//                                 <th>modified_date</th>
//                             </tr>
//                         </ng-template>
//                         <ng-template pTemplate="body" let-data>
//                             <tr [pSelectableRow]="data">
//                                 <!-- <td>{{data.comaddress_type}}</td> -->
//                                 <td>{{data.comaddressen_no}}</td>
//                                 <td>{{data.comaddressen_moo}}</td>
//                                 <td>{{data.comaddressen_soi}}</td>
//                                 <td>{{data.comaddressen_road}}</td>
//                                 <td>{{data.comaddressen_tambon}}</td>
//                                 <td>{{data.comaddressen_amphur}}</td>
//                                 <td>{{data.provinceen_code}}</td>

//                                 <!-- <td>{{data.comaddress_zipcode}}</td> -->
//                                 <!-- <td>{{data.comaddress_tel}}</td> -->
//                                 <td>{{data.comaddress_email}}</td>
//                                 <td>{{data.comaddress_line}}</td>
//                                 <td>{{data.comaddress_facebook}}</td>
//                                 <td>{{data.modified_by}}</td>
//                                 <td>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
//                             </tr>
//                         </ng-template>
//                     </p-table>
//                 </p-tabPanel>
//             </p-tabView>

//         </p-accordionTab>
//     </p-accordion>
// </div>


// <!-- Address -->
// <div class="formatt" *ngIf="edit_comaddress==true || new_comaddress==true">
//     <label>ประเภท</label>


//     <p-dropdown placeholder="--" [options]="addressList" optionValue="addresstype_code"
//         [showClear]="true" [(ngModel)]="selectedComaddress.comaddress_type"
//         [style]="{ width: '100%', overflow: 'visible' }">
//         <ng-template let-item pTemplate="selectedItem">
//             {{initial_current.Language=="TH"? item.addresstype_name_th :
//             item.addresstype_name_th}}
//         </ng-template>
//         <ng-template let-item pTemplate="item">
//             {{initial_current.Language=="TH"? item.addresstype_name_th :
//             item.addresstype_name_th}}
//         </ng-template>
//     </p-dropdown>

//     <label>เลขที่</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddressth_no">

//     <label>หมู่ที่</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddressth_moo">

//     <label>ซอย</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddressth_soi">

//     <label>ถนน</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddressth_road">

//     <label>ตำบล</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddressth_tambon">

//     <label>อำเภอ</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddressth_amphur">

//     <label>จังหวัด</label>
//     <p-dropdown placeholder="--" [options]="provinceList" optionLabel="province_code"
//         [showClear]="true" [(ngModel)]="selectedComaddress.provinceth_code"
//         [style]="{ width: '100%', overflow: 'visible' }">
//         <ng-template let-item pTemplate="selectedItem">
//             {{initial_current.Language=="TH"? item.province_name_th :
//             item.province_name_th}}
//         </ng-template>
//         <ng-template let-item pTemplate="item">
//             {{initial_current.Language=="TH"? item.province_name_th :
//             item.province_name_th}}
//         </ng-template>
//     </p-dropdown>

//     <label>รหัสไปรษณีย์</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddress_zipcode">

//     <!-- <label>เบอร์โทรศัพท์</label>
//     <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.comaddress_tel"> -->

//     <!-- <label>อีเมล์</label>
//     <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.comaddress_email">

//     <label>Line</label>
//     <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedComaddress.comaddress_line">

//     <label>Facebook</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddress_facebook"> -->


//     <br>
//     <button pButton type="button" label="{{title_summit}}" icon="pi pi-check"
//         (click)="comaddress_summit()"></button>
//     <button pButton type="button" label="{{title_cancel}}" icon="pi pi-times"
//         class="p-button-danger" (click)="comaddress_cancel()"></button>

// </div>

// <div class="formatt" *ngIf="edit_comaddresseen==true || new_comaddresseen==true">


//     <!-- <label>ประเภท</label>


//     <p-dropdown placeholder="--" [options]="addressList" optionValue="addresstype_code"
//         [showClear]="true" [(ngModel)]="selectedComaddress.comaddress_type"
//         [style]="{ width: '100%', overflow: 'visible' }">
//         <ng-template let-item pTemplate="selectedItem">
//             {{initial_current.Language=="TH"? item.addresstype_name_en : item.addresstype_name_en}}
//         </ng-template>
//         <ng-template let-item pTemplate="item">
//             {{initial_current.Language=="TH"? item.addresstype_name_en : item.addresstype_name_en}}
//         </ng-template>
//     </p-dropdown> -->

//     <label>no</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddressen_no">

//     <label>moo</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddressen_moo">

//     <label>soi</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddressen_soi">

//     <label>road</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddressen_road">

//     <label>tambon</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddressen_tambon">

//     <label>amphur</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddressen_amphur">

//     <label>province</label>
//     <p-dropdown placeholder="--" [options]="provinceList" optionLabel="province_code"
//         [showClear]="true" [(ngModel)]="selectedComaddress.provinceen_code"
//         [style]="{ width: '100%', overflow: 'visible' }">
//         <ng-template let-item pTemplate="selectedItem">
//             {{initial_current.Language=="TH"? item.province_name_en :
//             item.province_name_en}}
//         </ng-template>
//         <ng-template let-item pTemplate="item">
//             {{initial_current.Language=="TH"? item.province_name_en :
//             item.province_name_en}}
//         </ng-template>
//     </p-dropdown>

//     <label>tel</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddress_tel">

//     <label>email</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddress_email">

//     <label>line</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddress_line">

//     <label>facebook</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddress_facebook">

//     <!-- <label>province</label>
//     <input pInputText type="text" id="ppos_code"
//         [(ngModel)]="selectedComaddress.comaddress_facebook"> -->

//     <br>
//     <button pButton type="button" label="{{title_summit}}" icon="pi pi-check"
//         (click)="comaddress_summit()"></button>
//     <button pButton type="button" label="{{title_cancel}}" icon="pi pi-times"
//         class="p-button-danger" (click)="comaddress_cancel()"></button>

// </div>
