<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<p-menubar [model]="toolbar_menu"></p-menubar>
<p-card header="{{title_branch}}" [style]="{'margin-top': '0px','margin-bottom': '2em' }">
    <div class="grid">
        <div class="col-12 md:col-12">
            <p-tabView (onChange)="tabChange($event)">

                <!-- Tab Genaral -->

                <div class="empinfo">
                    <div class="formgrid grid">
                         
                        <div class="  field col-12 md:col-6 custom-height">
                            <label>{{ title_codes}}  </label>
                            <input pInputText type="text" [(ngModel)]="selectedCombranch.combranch_code" maxlength="5"
                                [readonly]="combranch_code" name="code" #code="ngModel" required
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                <p>{{selectedCombranch.combranch_code.length}}/5</p>

                        </div>

                        <!-- <div class="  field col-12 md:col-6 custom-height">
                            <label >{{ title_codes}}<span style="color: red;"> *</span></label>
                            <input pInputText type="text" [(ngModel)]="selectedCombranch.combranch_code" maxlength="13"
                                 name="combranch_code" #combranch_code="ngModel" required
                            class="text-base text-color  surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            <p>{{selectedCombranch.combranch_code.length}}/5</p>

                        </div> -->

                            <!-- <div class="field col-12 md:col-6 custom-height">
                                <label>{{ title_codes}}<span style="color: red;"> *</span></label>
                                <input pInputText type="text" [(ngModel)]="selectedCombranch.combranch_code" [readonly]="combranch_code"
                                    maxlength="13" name="combranch_code" #combranch_code="ngModel" required
                                    class="text-base text-color  surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                <p>{{selectedCombranch.combranch_code.length}}/5</p>

                            </div> -->
                            <!-- 
                            <textarea [rows]="2" id="ppos_detailen" [(ngModel)]="selectedCombranch.combranch_code"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                maxlength="5" [readonly]="combranch_code" [cols]="30" pInputTextarea
                                [autoResize]="true"></textarea>
                            <p>{{selectedCombranch.combranch_code.length}}/5</p> -->

                         

                        <div class="field col-12 md:col-6 custom-height">
                            <label>{{ title_social_security_branch}} </label>
                            <input pInputText type="text" [(ngModel)]="selectedCombranch.sso_combranch_no"
                                maxlength="6" name="sso_combranch_no" #sso_combranch_no="ngModel" required
                                class="text-base text-color  surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            <!-- <p>{{selectedCombranch.sso_combranch_no.length}}/6</p> -->

                        </div>

                        <!-- <div class="field col-12 md:col-6">
                            <label for="firstname2">{{title_social_security_branch}}</label><br>

                            <textarea [rows]="2" id="ppos_detailen" [(ngModel)]="selectedCombranch.sso_combranch_no"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                maxlength="13" [cols]="30" pInputTextarea [autoResize]="true"></textarea>

                            <p>{{selectedCombranch.sso_combranch_no.length}}/13</p>
                        </div> -->

                        <div class="field col-12 md:col-6 custom-height">
                            <label>{{ title_thai_name}} </label>
                            <input pInputText type="text" [(ngModel)]="selectedCombranch.combranch_name_th"
                                  name="combranch_name_th" #combranch_name_th="ngModel" required
                                class="text-base text-color  surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>
                        <!-- 
                        <div class="field col-12 md:col-6">
                            <label for="firstname2">{{title_thai_name}} </label><br>

                            <textarea [rows]="2" id="ppos_detailen" [(ngModel)]="selectedCombranch.combranch_name_th"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                maxlength="50" [cols]="30" pInputTextarea [autoResize]="true"></textarea>
                        </div> -->

                        <div class="field col-12 md:col-6 custom-height">
                            <label>{{ title_english_name}} </label>
                            <input pInputText type="text" [(ngModel)]="selectedCombranch.combranch_name_en"
                                 name="combranch_name_en" #combranch_name_en="ngModel" required
                                class="text-base text-color  surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>

                        <!-- <div class="field col-12 md:col-6">
                            <label for="firstname2">{{title_english_name}}</label><br>

                            <textarea [rows]="2" id="ppos_detailen" [(ngModel)]="selectedCombranch.combranch_name_en"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                maxlength="50" [cols]="30" pInputTextarea [autoResize]="true"></textarea>
                        </div> -->

                        <!-- Address -->
                        <div class="field col-12 ">
                            <p-accordion>
                                <p-accordionTab header="{{title_address}}">
                                    <p-tabView (onChange)="tabChange($event)">
                                        <p-tabPanel>
                                            <ng-template pTemplate="header">
                                                <i></i>&nbsp;&nbsp;
                                                <span>{{Address_th}}</span>
                                            </ng-template>
                                            <div class="formgrid grid">
                                                <!-- <div class=" field col-6 ">
                                                    <label for="address_type">{{ title_address_type }}</label>
                                                    <p-dropdown placeholder="--" [options]="addressList"
                                                        optionValue="addresstype_code" [showClear]="true"
                                                        [(ngModel)]="selectedComaddress.comaddres_type"
                                                        [style]="{ width: '100%', overflow: 'visible' }">
                                                        <ng-template let-item pTemplate="selectedItem">
                                                            {{ initial_current.Language == 'TH' ?
                                                            item.addresstype_name_th :
                                                            item.addresstype_name_en }}
                                                        </ng-template>
                                                        <ng-template let-item pTemplate="item">
                                                            {{ initial_current.Language == 'TH' ?
                                                            item.addresstype_name_th :
                                                            item.addresstype_name_en }}
                                                        </ng-template>
                                                    </p-dropdown>
                                                </div> -->
                                                <div class="field col-6 height">
                                                    <label for="address_no ">{{ title_address_no }}</label>
                                                    <input id="address_no" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_noth"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>
                                                <div class="field col-6 height">
                                                    <label for="address_moo">{{ title_address_moo }}</label>
                                                    <input id="address_moo" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_mooth"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>
                                                <div class="field col-6 height">
                                                    <label for="address_road">{{ title_address_road }}</label>
                                                    <input id="address_road" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_roadth"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>
                                                <div class="field col-6 height">
                                                    <label for="address_soi">{{ title_address_soi }}</label>
                                                    <input id="address_soi" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_soith"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>
                                                <div class="field col-6 height">
                                                    <label for="address_tambon">{{ title_address_tambon }}</label>
                                                    <input id="address_tambon" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_tambonth"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>
                                                <div class="field col-6 height">
                                                    <label for="address_amphur">{{ title_address_amphur }}</label>
                                                    <input id="address_amphur" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_amphurth"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>
                                                <div class="field col-6">
                                                    <label for="address_province">{{ title_address_province
                                                        }}</label><br>

                                                    <p-dropdown placeholder="--" [options]="provinceList"
                                                        optionValue="province_code" [showClear]="true"
                                                        [(ngModel)]="selectedComaddress.province_code"
                                                        [style]="{ width: '100%', overflow: 'visible' }">
                                                        <ng-template let-item pTemplate="selectedItem">
                                                            {{ initial_current.Language == 'TH' ? item.province_name_th
                                                            :
                                                            item.province_name_th }}
                                                        </ng-template>
                                                        <ng-template let-item pTemplate="item">
                                                            {{ initial_current.Language == 'TH' ? item.province_name_th
                                                            :
                                                            item.province_name_th }}
                                                        </ng-template>
                                                    </p-dropdown>
                                                </div>
                                                <div class="field col-6 height">
                                                    <label for="address_zipcode ">{{ title_address_zipcode }}</label>
                                                    <input id="address_zipcode" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_zipcode"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>

                                                <!-- <div class="field col-6 height">
                                                    <label for="address_amphur ">{{ title_address_tel }}</label>
                                                    <input id="address_amphur" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_tel"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>

                                                <div class="field col-6 height">
                                                    <label for="address_amphur">{{ title_address_email}}</label>
                                                    <input id="address_amphur" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_email"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>

                                                <div class="field col-6 height">
                                                    <label for="address_amphur">{{ title_address_line }}</label>
                                                    <input id="address_amphur" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_line"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>

                                                <div class="field col-6 height">
                                                    <label for="address_amphur">{{ title_address_facebook}}</label>
                                                    <input id="address_amphur" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_facebook"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div> -->




                                            </div>
                                        </p-tabPanel>
                                        <p-tabPanel>
                                            <ng-template pTemplate="header">
                                                <i></i>&nbsp;&nbsp;
                                                <span>{{Address_en}}</span>
                                            </ng-template>

                                            <div class="formgrid grid">
                                                <!-- <div class="field col-6">
                                                    <label for="address_type">Type</label>
                                                    <p-dropdown placeholder="--" [options]="addressList"
                                                        optionValue="addresstype_code" [showClear]="true"
                                                        [(ngModel)]="selectedComaddress.comaddres_type"
                                                        [style]="{ width: '100%', overflow: 'visible' }">
                                                        <ng-template let-item pTemplate="selectedItem">
                                                            {{ initial_current.Language == 'EN' ?
                                                            item.addresstype_name_en :
                                                            item.addresstype_name_en }}
                                                        </ng-template>
                                                        <ng-template let-item pTemplate="item">
                                                            {{ initial_current.Language == 'EN' ?
                                                            item.addresstype_name_en :
                                                            item.addresstype_name_en }}
                                                        </ng-template>
                                                    </p-dropdown>
                                                </div> -->
                                                <div class="field col-6 height">
                                                    <label for="address_no">No</label>
                                                    <input id="address_no" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_noen"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>
                                                <div class="field col-6 height">
                                                    <label for="address_moo">Moo</label>
                                                    <input id="address_moo" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_mooen"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>
                                                <div class="field col-6 height">
                                                    <label for="address_road">Road</label>
                                                    <input id="address_road" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_roaden"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>
                                                <div class="field col-6 height">
                                                    <label for="address_soi">Soi</label>
                                                    <input id="address_soi" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_soien"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>
                                                <div class="field col-6 height">
                                                    <label for="address_tambon">Tambon</label>
                                                    <input id="address_tambon" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_tambonen"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>
                                                <div class="field col-6 height">
                                                    <label for="address_amphur">Amphur</label>
                                                    <input id="address_amphur" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_amphuren"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>
                                                <div class="field col-6">
                                                    <label for="address_province">Province</label><br>

                                                    <p-dropdown placeholder="--" [options]="provinceList"
                                                        optionValue="province_code" [showClear]="true"
                                                        [(ngModel)]="selectedComaddress.province_code"
                                                        [style]="{ width: '100%', overflow: 'visible' }">
                                                        <ng-template let-item pTemplate="selectedItem">
                                                            {{ initial_current.Language == 'EN' ? item.province_name_en
                                                            :
                                                            item.province_name_en }}
                                                        </ng-template>
                                                        <ng-template let-item pTemplate="item">
                                                            {{ initial_current.Language == 'EN' ? item.province_name_en
                                                            :
                                                            item.province_name_en }}
                                                        </ng-template>
                                                    </p-dropdown>
                                                </div>

                                                <div class="field col-6 height">
                                                    <label for="address_zipcode">Zipcode</label>
                                                    <input id="address_zipcode" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_zipcode"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>

                                                <!-- <div class="field col-6 height">
                                                    <label for="address_amphur">Tel</label>
                                                    <input id="address_amphur" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_tel"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>

                                                <div class="field col-6 height">
                                                    <label for="address_amphur">Email</label>
                                                    <input id="address_amphur" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_email"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>

                                                <div class="field col-6 height">
                                                    <label for="address_amphur">Line</label>
                                                    <input id="address_amphur" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_line"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div>

                                                <div class="field col-6 height">
                                                    <label for="address_amphur">Facebook</label>
                                                    <input id="address_amphur" type="text"
                                                        [(ngModel)]="selectedComaddress.comaddres_facebook"
                                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                </div> -->




                                            </div>
                                        </p-tabPanel>
                                    </p-tabView>




                                </p-accordionTab>

                                
                            </p-accordion>
                            
                        </div>

                        <div class="field col-12">
                            <p-accordion>
                                <p-accordionTab header="{{title_contack}}">
                                    <p-tabView (onChange)="tabChange($event)">
                                        <div class="formgrid grid">
    
    
    
    
                                            <div class="field col-6 height">
                                                <label for="address_amphur ">{{ title_address_tel }}</label>
                                                <input id="address_amphur" type="text"
                                                    [(ngModel)]="selectedComaddress.comaddres_tel"
                                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                            </div>
    
    
                                            <div class="field col-6 height">
                                                <label for="address_amphur">{{ title_address_email}}</label>
                                                <input id="address_amphur" type="text"
                                                    [(ngModel)]="selectedComaddress.comaddres_email"
                                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                            </div>
    
                                            <div class="field col-6 height">
                                                <label for="comaddres_fax">{{title_fax}}</label>
                                                <input id="comaddres_fax" type="text"
                                                    [(ngModel)]="selectedComaddress.comaddres_fax"
                                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                            </div>
    
                                            <div class="field col-6 height">
                                                <label for="comaddres_url">URL</label>
                                                <input id="comaddres_url" type="text"
                                                    [(ngModel)]="selectedComaddress.comaddres_url"
                                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                            </div>
    
                                            <div class="field col-6 height">
                                                <label for="address_amphur">{{ title_address_line }}</label>
                                                <input id="address_amphur" type="text"
                                                    [(ngModel)]="selectedComaddress.comaddres_line"
                                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                            </div>
    
                                            <div class="field col-6 height">
                                                <label for="address_amphur">{{ title_address_facebook}}</label>
                                                <input id="address_amphur" type="text"
                                                    [(ngModel)]="selectedComaddress.comaddres_facebook"
                                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                            </div>
                                        </div>
                                    </p-tabView>
                                </p-accordionTab>
                            </p-accordion>
                        </div>



                        <!-- card -->
                        <!-- <div class="field col-12">
                            <p-accordion>
                                <p-accordionTab header="{{title_card}}">
                                    <p-menubar [model]="menu_comcard"></p-menubar>
                                    <p-table #dtempcard [value]="comcardList" styleClass="p-datatable-sm"
                                        [tableStyle]="{'min-width': '60rem'}" [scrollable]="true" scrollHeight="200px"
                                        [virtualScroll]="true" selectionMode="single" [(selection)]="selectedComcard"
                                        (onRowSelect)="onRowSelectComcard($event)" [rows]="10"
                                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                        [paginator]="true"
                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>{{title_card_type}}</th>
                                                <th>{{title_card_code}}</th>
                                                <th>{{title_card_opening_date}}</th>
                                                <th>{{title_expiration_date}}</th>
                                                <th>{{title_modified_by}}</th>
                                                <th>{{title_modified_date}}</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-data>
                                            <tr [pSelectableRow]="data">
                                                <th>{{data.card_type }}</th>
                                                <th>{{data.comcard_code}}</th>
                                                <th>{{data.comcard_issue| date:'dd/MM/yyyy'}}</th>
                                                <th>{{data.comcard_expire | date:'dd/MM/yyyy'}}</th>
                                                <th>{{data.modified_by}}</th>
                                                <th>{{data.modified_date| date: "dd/MM/yyyy HH:mm"}}</th>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </p-accordionTab>
                            </p-accordion>
                        </div> -->





                        <!-- <p-dialog header="{{manage_title}}" [(visible)]="displayManage" [position]="position">


                            <div class="formatt" *ngIf="edit_comcard==true || new_card==true">
                                 <label>{{title_card_type}}</label>
                                <p-dropdown placeholder="--" [options]="cardList" optionValue="cardtype_code"
                                    [showClear]="true" [(ngModel)]="selectedComcard.card_type"
                                    [style]="{ width: '100%', overflow: 'visible' }">
                                    <ng-template let-item pTemplate="selectedItem">
                                        {{initial_current.Language=="TH"? item.cardtype_name_th :
                                        item.cardtype_name_en}}
                                    </ng-template>
                                    <ng-template let-item pTemplate="item">
                                        {{initial_current.Language=="TH"? item.cardtype_name_th :
                                        item.cardtype_name_en}}
                                    </ng-template>
                                </p-dropdown>

                                <label>{{title_card_code}}</label>
                                <input pInputText type="text" id="card_no" [(ngModel)]="selectedComcard.comcard_code">

                                <label>{{title_card_opening_date}}</label>
                                <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="false"
                                    [(ngModel)]="selectedComcard.comcard_issue"><input type="text"></p-calendar>

                                <label>{{title_expiration_date}}</label>
                                <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="false"
                                    [(ngModel)]="selectedComcard.comcard_expire">
                                    <input type="text"></p-calendar>

                                <br>
                                <button pButton type="button" label="{{title_summit}}" icon="pi pi-check"
                                    (click)="comcard_summit()"></button>
                                <button pButton type="button" label="{{title_cancel}}" icon="pi pi-times"
                                    class="p-button-danger" (click)="comcard_cancel()"></button>
                            </div>
                        </p-dialog> -->
                    </div>
                </div>

                <!-- ConfirmDialog and toast Noti -->
                <p-toast position="top-right"></p-toast>
                <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"
                    key="myDialog"></p-confirmDialog>
                <!-- ----------------------END Confirm and Toast------------------------ -->