<!-- <p>recruitment-approve works!</p> -->
<!-- <span style="font-size: 20px;">Recruitment</span>&nbsp; <i class="pi pi-angle-right"></i>&nbsp; <small>Approve</small>
<hr> -->
<div class="path">
    <span>{{title_page[initial_current.Language]}}</span>
</div>

<hr>

<table class="table_summary_">
    <tr>
        <td>
            <div class="main_div">
                <span class="spn_value">{{total_apply}}</span>
                <div class="sub_div">
                    <span class="spn_title">{{title_total_apply[initial_current.Language]}}</span>
                </div>
            </div>
        </td>
    </tr>
</table>

<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"
    key="myDialog"></p-confirmDialog>

<p-dialog header="{{title_manage[initial_current.Language]}}" [(visible)]="displayManage" styleClass="dialog-overflow"
    [style]="{width: '800vw'}" [position]="position">
    <p-scrollPanel [style]="{width: '25vw', height: '500px'}">
        <div class="formgrid grid">

            <div class="field col-12 ">

            </div>

        </div>
    </p-scrollPanel>
</p-dialog>
<p-dialog header="{{title_notapprove[initial_current.Language]}}" [(visible)]="displayApproveNote"
    styleClass="dialog-overflow" [style]="{width: '27vw'}" [position]="position">
    <p-scrollPanel [style]="{width: '25vw', height: '150px'}">
        <div class="formgrid grid">

            <div class="field col-12 ">
                <textarea [rows]="3" id="approve_note" [(ngModel)]="approveNote" [cols]="60" pInputTextarea
                    [autoResize]="true"></textarea>
            </div>
            <div class="field col-12 ">
                <p-button label="{{title_save[initial_current.Language]}}" icon="pi pi-save"
                    styleClass="p-button-raised p-button-secondary" (click)="confirm_notapprove()"></p-button>
            </div>

        </div>
    </p-scrollPanel>
</p-dialog>

<p-dialog header="{{title_popup_approve[initial_current.Language]}}" [(visible)]="displayApprove"
    styleClass="dialog-overflow" [style]="{width: '40vw'}" [position]="position">

    <div class="formgrid grid">
        <div class="field col-12 ">
            <p-table #dtApprove [value]="approve_list" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '35vw'}"
                [scrollable]="true" scrollHeight="250px" [virtualScroll]="true" selectionMode="single"
                [(selection)]="selectedApprove" dataKey="approve_by">
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{title_username[initial_current.Language]}}</th>
                        <th>{{title_status[initial_current.Language]}}</th>
                        <th>{{title_approve_date[initial_current.Language]}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-approve>
                    <tr [pSelectableRow]="approve">
                        <td>{{approve.approve_by}}</td>
                        <td class="text-left">{{approve.approve_status}}</td>
                        <td>
                            <div *ngIf="approve.approve_status != '-'">{{approve.approve_date | date:'dd/MM/yyyyHH:mm'}}
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</p-dialog>
<br>

<p-menubar [model]="menu_apply">
    <!-- <td>

        <p-button *ngIf="selectAllChecked || checked && buttonVisible" (click)="convertToEmptest(selectedReqworker)"
            label="{{title_convert[initial_current.Language]}}"
             ></p-button>
    </td> -->
</p-menubar>

<p-table #dt2 [value]="apply_list" styleClass="p-datatable-sm" scrollHeight="400px" [scrollable]="true"
    selectionMode="single" [(selection)]="selectedApply" [rows]="12" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    currentPageReportTemplate="{{title_page_from[initial_current.Language]}} {first} {{title_page_to[initial_current.Language]}} {last} {{title_page_total[initial_current.Language]}} {totalRecords} {{title_page_record[initial_current.Language]}}"
    [globalFilterFields]="['worker_code_code','worker_fname_th','worker_lname_th','worker_fname_en','worker_lname_en','project_end']"
    responsiveLayout="stack" [breakpoint]="'744px'">
    <ng-template pTemplate="caption">

        <!-- <p-table #dt2 [value]="apply_list" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="400px"
    [virtualScroll]="true" selectionMode="single" [(selection)]="selectedApply" dataKey="worker_code" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    currentPageReportTemplate="{{title_page_from[initial_current.Language]}} {first} {{title_page_to[initial_current.Language]}} {last} {{title_page_total[initial_current.Language]}} {totalRecords} {{title_page_record[initial_current.Language]}}"
    [globalFilterFields]="['worker_code_code','worker_fname_th','worker_lname_th','worker_fname_en','worker_lname_en','project_end']">
    <ng-template pTemplate="caption"> -->
        <div class="flex">
            <div class="col-6 md:col-3">
                <!--  สถานะอนุมัติ (Default All)  -->
                <div>
                    <p-dropdown class="searchinput" [options]="status_list" [(ngModel)]="status_select"
                        [style]="{ width: '100vw', overflow: 'visible' }" (onChange)="Search()">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.name_th : item.name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.name_th : item.name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>

            </div>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                    placeholder="{{title_search[initial_current.Language]}}" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <!-- <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <th></th>
            <th style="width:9%">{{title_code[initial_current.Language]}}</th>
            <th style="width:12%">{{title_name[initial_current.Language]}}</th>

            <th>{{title_hiredate[initial_current.Language]}}</th>
            <th>{{title_status[initial_current.Language]}}</th>
            <th>{{title_requestmcer[initial_current.Language]}}</th>
            <th>{{title_blacklist[initial_current.Language]}}</th>
            <th>{{title_view_approve[initial_current.Language]}}</th>
            <th>{{title_modified_by[initial_current.Language]}}</th>
            <th>{{title_modified_date[initial_current.Language]}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>

            <td>
                <p-tableCheckbox [value]="data"></p-tableCheckbox>
            </td>


            <td>{{data.worker_code}}</td>
            <td class="text-left">
                <div *ngIf="this.initial_current.Language == 'TH'">
                    {{data.initial_name_th+" "+data.worker_fname_th+" "+data.worker_lname_th}}
                </div>
                <div *ngIf="this.initial_current.Language != 'TH'">
                    {{data.initial_name_en+" "+data.worker_fname_en+" "+data.worker_lname_en}}
                </div>
            </td>

            <td>{{data.worker_hiredate | date:'dd/MM/yyyy'}}</td>
            <td>{{getFullStatus(data.status)}}</td>
            <td>{{data.certificate || "-"}}</td>
            <td>{{data.blacklist_reason || "-"}}</td>
            <td>
                <p-button icon="pi pi-user" (click)="doLoadApprove(data.worker_code, 'REQ_APY')" label=""
                    styleClass="p-button-text"></p-button>
            </td>
            <td>{{data.modified_by}}</td>
            <td>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
        </tr>
    </ng-template>
</p-table>