<table class="table_head" style="width: 100%;">
    <tr>
        <td align="left">
            <h4>Employee management</h4>
            <br>
            <a>Manage</a>
            |
            <a>Link</a>
        </td>
        <td align="right">
            
            <div class="flex">
                <p style="width: 80px; text-align: left;">
                    <b>2</b>
                    <br>
                    <small>จำนวนพนักงาน</small>
                </p>
                <p-divider layout="vertical" ></p-divider>        
                <p style="width: 80px; text-align: left;">
                    <b>1</b>
                    <br>
                    <small>พนักงานใหม่</small>
                </p>
                <p-divider layout="vertical" ></p-divider>        
                <p style="width: 80px; text-align: left;">
                    <b style="color: orange;">0</b>
                    <br>
                    <small>พนักงานลาออก</small>
                </p>
                
            </div>
            

        </td>
    </tr>
</table>
<p-menubar [model]="items"></p-menubar >
    <div class="grid">
        <div class="col-12 md:col-9">
            <p-table #dt2  [value]="employee_list"  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '110rem'}" [scrollable]="true" scrollHeight="500px" [virtualScroll]="true" selectionMode="single" [(selection)]="selectedEmployee" (onRowSelect)="onRowSelectEmployee($event)" dataKey="employee_code"
            
            [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['employee_code','employee_initial','employee_fnamename_th','employee_lnamename_th','employee_type','employee_position','employee_startdate']"
            >
            <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>

                <ng-template pTemplate="header">
                    <tr>		                        
                        <th style="width:10%">รหัสพนักงาน</th>
                        <th style="width:9%">คำนำหน้า</th>                       
                        <th style="width:10%">ชื่อ</th>
                        <th style="width:10%">นามสกุล</th>
                        <th>ประเภทพนักงาน</th>
                        <th>ตำแหน่ง</th>
                        <th>วันที่เริ่มงาน</th>                    
                        <th>สถานะ</th>
                        <th>วันที่อนุมัติ</th>
                        <th>ผู้ทำรายการ</th>
                        <th>วันที่ทำรายการ</th>                                                
                    </tr>	
                    <tr>
                        <th>
                            <p-columnFilter type="text" field="employee_code"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="employee_initial"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="employee_fnamename_th"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="employee_lnamename_th"></p-columnFilter>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-project>
                    <tr [pSelectableRow]="project">        
                        <td>{{project.employee_code}}</td>                                
                        <td>{{project.employee_initial}}</td>                       
                        <td>{{project.employee_fnamename_th}}</td>
                        <td>{{project.employee_lnamename_th}}</td>
                        <td>{{project.employee_type}}</td>
                        <td>{{project.employee_position}}</td>                        
                        <td>{{project.employee_startdate | date:'dd/MM/yyyy '}}</td>                                                        
                        <td>{{project.employee_status}}</td>      
                        <td>{{project.approve_date | date:'dd/MM/yyyy HH:mm'}}</td>  
                        <td>{{project.modified_by}}</td>      
                        <td>{{project.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                </ng-template>      
              

            </p-table>
        </div>
        <div class="col-12 md:col-3">
            <div class="formgrid grid" *ngIf="edit_employee">
                <span class="spn_title_edit">Project</span>
                <div class="field col-12 ">
                    <label for="ppos_code">รหัสพนักงาน</label>    
                    <input type="text" id="ppos_code" [(ngModel)]="selectedEmployee.employee_code" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
                </div>	

                <div class="field col-12">
                    <label for="lastname2">คำนำหน้า :</label><br>
                    <p-dropdown placeholder="--" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                </div>
               
                <div class="field col-12 ">
                    <label for="ppos_name_th">ชื่อ</label>                        
                    <textarea [rows]="2" id="ppos_name_th" [(ngModel)]="selectedEmployee.employee_fnamename_th" [cols]="30" pInputTextarea [autoResize]="true"></textarea>
                </div>
                <div class="field col-12 ">
                    <label for="ppos_name_en">นามสกุล</label>                        
                    <textarea [rows]="2" id="ppos_name_en" [(ngModel)]="selectedEmployee.employee_lnamename_th" [cols]="30" pInputTextarea [autoResize]="true"></textarea>
                </div>
                
                <div class="field col-12">
                    <label for="lastname2">ประเภทพนักงาน :</label><br>
                    <p-dropdown placeholder="--" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                </div>

                <div class="field col-12">
                    <label for="lastname2">ตำแหน่ง :</label><br>
                    <p-dropdown placeholder="--" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                </div>

                <div class="field col-12">
                    <label for="lastname2">วันที่เริ่มงาน :</label><br>
                    <p-dropdown placeholder="22/12/2022" optionLabel="name" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                </div>

                <div class="field col-12">
                    <p-button label="บันทึก" icon="pi pi-save" ></p-button>
                    &nbsp;
                    <button pButton pRipple type="button" label="เพิ่มเติม" (click)="selectEmployee()" class="p-button-secondary"></button>
                </div>
                

            </div>
        </div>
    </div>