<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<table class="table_head">
    <tr>
        <td align="left">
            <h4>{{this.title_page}}</h4>
            <br>
            <a>Manage</a>
            |
            <a>Link</a>
        </td>
        <td align="right">

            <div class="flex">
                <p style="width: 80px; text-align: left;">
                    <b>{{workerCurrent}}</b>
                    <br>
                    <small>{{this.title_num_emp}}</small>
                </p>
                <p-divider layout="vertical"></p-divider>
                <p style="width: 80px; text-align: left;">
                    <b>0</b>
                    <br>
                    <small>{{this.title_new_emp}}</small>
                </p>
                <p-divider layout="vertical"></p-divider>
                <p style="width: 80px; text-align: left;">
                    <b style="color: orange;">0</b>
                    <br>
                    <small>{{this.title_resign_emp}}</small>
                </p>

            </div>


        </td>
    </tr>
</table>
<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items">
    </p-menubar>
</div>
<!-- ----------------END MENU----------------- -->
<div class="tabledata">
    <!-- Table Show Data -->
    <div #TABLE>
        <p-table #dt2 [value]="employee_list" selectionMode="single" [(selection)]="selectedemployee"
            (onRowSelect)="onRowSelectEmployee($event)" dataKey="worker_code" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            currentPageReportTemplate="{{title_page_from}} {first} {{title_page_to}} {last} {{title_page_total}} {totalRecords} {{title_page_record}}"
            [globalFilterFields]="['worker_code','worker_initial','worker_fnamename_th','worker_lnamename_th','worker_type','worker_position','worker_hiredate']"
            responsiveLayout="stack" [breakpoint]="'744px'">
            <ng-template pTemplate="caption">
                <!-- Fliter -->
                <div class="checkselect">
                    <div class="select">
                        <!-- emptype -->
                        <div>
                            <p-checkbox [(ngModel)]="fillterEmptype" name="type" [binary]="true"
                                (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                            <label for="lastname2">{{title_emptype}} :</label>
                        </div>
                        <p-dropdown placeholder="--" [options]="emptypeList" optionValue="type_code" [showClear]="true"
                            [(ngModel)]="selectedEmptype" (onChange)="doChangeSelectEmptype()"
                            [disabled]="!fillterEmptype" [style]="{ width: '100%', overflow: 'visible' }">
                            <ng-template let-item pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.type_name_th : item.type_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.type_name_th : item.type_name_en}}
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="select">
                        <!-- position -->
                        <div>
                            <p-checkbox [(ngModel)]="fillterPosition" name="position" [binary]="true"
                                (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                            <label for="lastname2">{{title_position}} :</label>
                        </div>
                        <p-dropdown placeholder="--" [options]="positionList" optionValue="position_code"
                            [showClear]="true" [(ngModel)]="selectedPosition" (onChange)="doChangeSelectPosition()"
                            [disabled]="!fillterPosition" [style]="{ width: '100%', overflow: 'visible' }">
                            <ng-template let-item pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.position_name_th : item.position_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.position_name_th : item.position_name_en}}
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <!-- dep -->
                    <!-- <div class="select">
                        <div>
                            <p-checkbox [(ngModel)]="fillterLevel" name="dep" [binary]="true"
                                (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                            <label for="lastname2">{{title_level[initial_current.Language]}} :</label>
                        </div>
                        <p-dropdown placeholder="--" [options]="levelList" optionValue="level_code" [showClear]="true"
                            [(ngModel)]="selectedLevel" (onChange)="doChangeSelectLevel()" [disabled]="!fillterLevel"
                            [style]="{ width: '100%', overflow: 'visible' }">
                            <ng-template let-item pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.level_name_th : item.level_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.level_name_th : item.level_name_en}}
                            </ng-template>
                        </p-dropdown>
                        <div></div>
        
                        <p-dropdown placeholder="--" [options]="deplevelList" optionValue="dep_code" [showClear]="true"
                            [(ngModel)]="selectedDep" (onChange)="doChangeSelectDep()" [disabled]="!fillterLevel"
                            [style]="{ width: '100%', overflow: 'visible' }">
                            <ng-template let-item pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.dep_name_th : item.dep_name_en}}
                            </ng-template>
                        </p-dropdown>
                    </div> -->
                    <div class="select">
                        <!-- project -->
                        <div>
                            <p-checkbox [(ngModel)]="fillterProject" name="project" [binary]="true"
                                (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                            <label for="lastname2">{{title_project[initial_current.Language]}} :</label>
                        </div>
                        <p-dropdown placeholder="--" [options]="projectList" optionValue="project_code"
                            [showClear]="true" [(ngModel)]="selectedProject" (onChange)="doChangeSelectProject()"
                            [disabled]="!fillterProject" [style]="{ width: '100%', overflow: 'visible' }">
                            <ng-template let-item pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.project_name_th : item.project_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.project_name_th : item.project_name_en}}
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="select">
                        <!-- empstatus -->
                        <div>
                            <p-checkbox [(ngModel)]="fillterEmpstatus" name="type" [binary]="true"
                                (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                            <label for="lastname2">{{title_status}} :</label>
                        </div>
                        <p-dropdown placeholder="--" [options]="statusList" optionValue="status_code" [showClear]="true"
                            [(ngModel)]="selectedEmpstatus" (onChange)="doChangeSelectEmpstatus()"
                            [disabled]="!fillterEmpstatus" [style]="{ width: '100%', overflow: 'visible' }">
                            <ng-template let-item pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.status_name_th : item.status_name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.status_name_th : item.status_name_en}}
                            </ng-template>
                        </p-dropdown>
                    </div>

                    



                    <div style="grid-column: 1;">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="selectedSearchemp"
                                (input)="doChangeSearchemp($event)" placeholder="{{title_search}}" />
                        </span>
                    </div>

                    <div class="resign">
                        <!-- resign -->
                        <div >
                            <p-checkbox name="resign" [binary]="true" [(ngModel)]="fillterIncludeResign"
                                (onChange)="doGetDataFillter()"></p-checkbox>&nbsp;
                            <label>{{title_resign[initial_current.Language]}}</label>
                        </div>
                        &nbsp;&nbsp;
                        <!-- blacklist -->
                        <!-- <div>
                            <p-checkbox [(ngModel)]="fillterBlacklist" name="type" [binary]="true"
                                (onChange)="doGetDataFillter()"></p-checkbox> &nbsp;
                            <label for="lastname2">{{title_blacklist[initial_current.Language]}} </label>
                        </div> -->
                    </div>
                </div>
                <!-- END Fliter -->
                <!-- <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{title_search}}" />
                    </span>
                </div> -->
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>{{title_code}}</th>
                    <!-- <th>{{title_initial}}</th> -->
                    <th>{{title_Fname}}</th>
                    <th>{{title_Lname}}</th>
                    <th>{{title_cardno[initial_current.Language]}}</th>
                    <th>{{title_startdate}}</th>
                    <th>{{title_position}}</th>
                    <!-- <th>{{title_status}}</th> -->
                    <!-- <th>{{title_apprdate}}</th> -->
                    <th>{{title_modified_by}}</th>
                    <th>{{title_modified_date}}</th>
                </tr>
                <!-- <tr>
                    <th>
                        <p-columnFilter type="text" field="employee_code"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="employee_initial"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="employee_fnamename_th"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="employee_lnamename_th"></p-columnFilter>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr> -->

            </ng-template>
            <ng-template pTemplate="body" let-data let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td data-title="title_code">{{data.worker_code}}</td>
                    <!-- <td>{{initial_current.Language == "TH"? data.initial_name_th:data.initial_name_en}}</td> -->
                    <td><span>{{title_Fname}}</span>{{initial_current.Language == "TH"? data.initial_name_th+"
                        "+data.worker_fname_th:data.initial_name_en+" "+data.worker_fname_en}}
                    </td>
                    <td><span>{{title_Lname}}</span>{{initial_current.Language == "TH"? data.worker_lname_th:data.worker_lname_en}}</td>
                    <td><span>{{title_cardno[initial_current.Language]}}</span>{{data.worker_cardno}}</td>
                    <td><span>{{title_startdate}}</span>{{data.worker_hiredate | date:'dd/MM/yyyy '}}</td>
                    <td><span>{{title_position}}</span>{{initial_current.Language == "TH"? data.position_name_th :
                        data.position_name_en}}</td>
                    <!-- <td><span>{{title_status}}</span>{{data.worker_status}}</td> -->
                    <!-- <td>{{data.approve_date | date:'dd/MM/yyyy HH:mm'}}</td> -->
                    <td><span>{{title_modified_by}}</span>{{data.modified_by}}</td>
                    <td><span>{{title_modified_date}}</span>{{data.modified_date | date:'dd/MM/yyyy'}}</td>
                </tr>
            </ng-template>


        </p-table>
    </div>
    <!-- -----------------------END Table-------------------------- -->

    <!-- Form input or Edit Data -->

    <form #Form="ngForm">
        <p-dialog [(visible)]="displayManage" [style]="{ height:'100vh',width:'30vw', 'overflow-y': 'hidden' }"
            [position]="position">
            <div class="formatt" *ngIf="new_employee==true">
                <!-- <i (click)="close()"></i> -->

                <label>{{title_code}}</label>
                <input pInputText type="text" id="ppos_code" [(ngModel)]="selectedemployee.worker_code" name="code"
                    #code="ngModel" [readonly]="true">

                <label>{{title_initial}} :</label>
                <p-dropdown placeholder="--" [options]="initialList" optionValue="initial_code" [showClear]="true"
                    [(ngModel)]="selectedemployee.worker_initial" [style]="{ width: '100%', overflow: 'visible' }"
                    name="initial" #initial="ngModel" [readonly]="true">
                    <ng-template let-item pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.initial_name_th : item.initial_name_en}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.initial_name_th : item.initial_name_en}}
                    </ng-template>
                </p-dropdown>
                <!-- <p-dropdown placeholder="--" optionLabel="name" [showClear]="true" value="03"
            [style]="{ width: '100%', overflow: 'visible' }" [(ngModel)]="selectedemployee.worker_initial"></p-dropdown> -->

                <label for="ppos_name_th">{{title_Fname}}</label>
                <textarea [rows]="2" id="ppos_name_th" [(ngModel)]="selectedemployee.worker_fname_th" [cols]="30"
                    pInputTextarea [autoResize]="true" name="fname" #fname="ngModel" [readonly]="true"></textarea>

                <label for="ppos_name_en">{{title_Lname}}</label>
                <textarea [rows]="2" id="ppos_name_en" [(ngModel)]="selectedemployee.worker_lname_th" [cols]="30"
                    pInputTextarea [autoResize]="true" name="lname" #lname="ngModel" [readonly]="true"></textarea>

                <label for="lastname2">{{title_emptype}} :</label>
                <p-dropdown placeholder="--" [options]="emptypeList" optionValue="type_code" [showClear]="true"
                    [(ngModel)]="selectedemployee.worker_type" [style]="{ width: '100%', overflow: 'visible' }"
                    name="emptype" #emptype="ngModel" [readonly]="true">
                    <ng-template let-item pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.type_name_th : item.type_name_en}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.type_name_th : item.type_name_en}}
                    </ng-template>
                </p-dropdown>
                <!-- <p-dropdown placeholder="--" optionLabel="name" [showClear]="true"
            [style]="{ width: '100%', overflow: 'visible' }" value="M"
            [(ngModel)]="selectedemployee.worker_type"></p-dropdown> -->

                <label for="lastname2">{{title_position}} :</label>
                <input pInputText type="text" id="ppos_code" [readonly]="true"
                    [(ngModel)]="initial_current.Language== 'TH'? selectedemployee.position_name_th : selectedemployee.position_name_en"
                    name="emp_position" #emp_position="ngModel">
                <!-- <p-dropdown placeholder="--" optionLabel="name" [showClear]="true"
            [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown> -->

                <label for="lastname2">{{title_startdate}} :</label>
                <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true"
                    [(ngModel)]="selectedemployee.worker_hiredate" name="startdate" #startdate="ngModel"
                    [disabled]="true"></p-calendar>
                <!-- <p-dropdown placeholder="22/12/2022" optionLabel="name" [showClear]="true"
            [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown> -->
                <br>
                <div class="field col-12">
                    <!-- <p-button label="{{title_saves[initial_current.Language]}}" icon="pi pi-save" (onClick)="confirmRecord()"></p-button>
            &nbsp; -->
                    <button pButton pRipple type="button" label="{{title_more[initial_current.Language]}}"
                        (click)="selectEmpManage()"></button>
                    &nbsp;
                    <button *ngIf="edit_employee" pButton pRipple type="button"
                        label="{{title_deletes[initial_current.Language]}}" class="p-button-secondary"
                        [disabled]="!this.accessData.accessdata_delete" (click)="confirmDelete()"></button>
                </div>
                <!-- <button pButton pRipple type="button" label="เพิ่มเติม" (click)="selectEmpManage()"
            class="p-button-secondary"></button>
        <button pButton type="button" label="บันทึก" icon="pi pi-check" (click)="confirmRecord()"></button>
        <button *ngIf="edit_employee" pButton type="button" label="ลบ" icon="pi pi-trash" class="btndel"
            (click)="confirmDelete()"></button> -->

            </div>
        </p-dialog>
        <div *ngIf="displayManage" style="z-index: 1084;"
            class="p-component-overlay p-sidebar-mask p-component-overlay-enter"></div>
    </form>
</div>

<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="{{title_upload}}" [(visible)]="displayUpload">
    <div>
        <p-dropdown [options]="ImportList" optionValue="code" [showClear]="true"
            [(ngModel)]="selectedemployee.selected_Import" [style]="{ width: '100%', overflow: 'visible' }"
            appendTo="body">
            <ng-template let-item pTemplate="selectedItem">
                {{initial_current.Language=="TH"? item.name_th : item.name_en}}
            </ng-template>
            <ng-template let-item pTemplate="item">
                {{initial_current.Language=="TH"? item.name_th : item.name_en}}
            </ng-template>
        </p-dropdown>
        <br>
    </div>
    <label class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            required (change)="handleFileInput($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="doUploadAll()" label="{{title_upload}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- -----------------End Dialog Choose File-------------------- -->

<!-- <p-dialog class="uploadfile" header="{{title_export}}" [(visible)]="displayExport">
    <div>
        <p-dropdown [options]="ImportList" optionValue="code" [showClear]="true"
            [(ngModel)]="selectedemployee.selected_Import" [style]="{ width: '100%', overflow: 'visible' }"
            appendTo="body">
            <ng-template let-item pTemplate="selectedItem">
                {{initial_current.Language=="TH"? item.name_th : item.name_en}}
            </ng-template>
            <ng-template let-item pTemplate="item">
                {{initial_current.Language=="TH"? item.name_th : item.name_en}}
            </ng-template>
        </p-dropdown>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="exportEmpExcel()" label="{{title_export}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog> -->

<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"
    key="myDialog"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->