<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<table class="table_head" style="width: 100%;">
    <tr>
        <td align="left">
            <h4>{{this.title_page}}</h4>
            <br>
            <a>{{title_req[initial_current.Language]}}</a>
            |
            <a>{{title_link[initial_current.Language]}}</a>
        </td>
        <td align="right">

            <div class="flex">
                <p style="width: 80px; text-align: left;">
                    <b>0</b>
                    <br>
                    <small>จำนวนร้องขอ</small>
                </p>
                <p-divider layout="vertical"></p-divider>
                <p style="width: 80px; text-align: left;">
                    <b>0</b>
                    <br>
                    <small>สมัครงาน</small>
                </p>
                <p-divider layout="vertical"></p-divider>
                <p style="width: 80px; text-align: left;">
                    <b style="color: orange;">0</b>
                    <br>
                    <small>ว่าจ้าง</small>
                </p>

            </div>


        </td>
    </tr>
</table>

<!-- /// -->
<!-- /// -->
<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items"></p-menubar>
</div>
<p-menu #menu [popup]="true" [model]="itemsOptions"></p-menu>
<!-- ----------------END MENU----------------- -->
<div class="tabledata">

    <div #TABLE>

        <p-table #dt2 [value]="request_list" selectionMode="single" [(selection)]="selectedRequest"
            (onRowSelect)="onRowSelectRequest($event)" dataKey="request_code" [rows]="12" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[12,25,50]" [paginator]="true"
            currentPageReportTemplate="{{title_page_from}} {first} {{title_page_to}} {last} {{title_page_total}} {totalRecords} {{title_page_record}}"
            [globalFilterFields]="['request_id','request_code','request_date','request_position','request_project','request_employee_type','request_quantity','request_urgency','request_accepted','request_status']"
            responsiveLayout="stack" [breakpoint]="'744px'">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <div style="display:flex;flex-wrap: wrap;gap: 10px; align-items: center;">
                        {{title_status[initial_current.Language]}} :
                        <p-dropdown class="searchinput" [options]="status_list" [(ngModel)]="status_select">
                            <ng-template let-item pTemplate="selectedItem">
                                {{initial_current.Language=="TH"? item.name_th : item.name_en}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{initial_current.Language=="TH"? item.name_th : item.name_en}}
                            </ng-template></p-dropdown>
                        <p-button icon="pi pi-search" (click)="Search()"></p-button>
                    </div>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{title_search}}" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>{{title_code}}</th>
                    <th>{{title_date[initial_current.Language]}}</th>
                    <th>{{title_startdate[initial_current.Language]}}</th>
                    <th>{{title_enddate[initial_current.Language]}}</th>
                    <th>{{title_position[initial_current.Language]}}</th>
                    <th>{{title_project[initial_current.Language]}}</th>
                    <th>{{title_employee_type}}</th>
                    <th>{{title_quantity}}</th>
                    <th>{{title_urgency}}</th>
                    <th>{{title_accepted[initial_current.Language]}}</th>
                    <th>{{title_status[initial_current.Language]}}</th>
                    <th></th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-data let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td><span>{{title_code}}</span>{{data.request_code}}</td>
                    <td><span>{{title_date[initial_current.Language]}}</span>{{data.request_date| date:'dd/MM/yyyy'}}
                    </td>
                    <td><span>{{title_startdate[initial_current.Language]}}</span>{{data.request_startdate|
                        date:'dd/MM/yyyy'}}</td>
                    <td><span>{{title_enddate[initial_current.Language]}}</span>{{data.request_enddate|
                        date:'dd/MM/yyyy'}}</td>
                    <td><span>{{title_position[initial_current.Language]}}</span>{{doGetPositionDetail(data.request_position)}}
                    </td>
                    <td><span>{{title_project[initial_current.Language]}}</span>{{doGetProjectDetail(data.request_project)}}
                    </td>
                    <td><span>{{title_employee_type}}</span>{{doGetTypeDetail(data.request_employee_type)}}</td>
                    <td><span>{{title_quantity}}</span>{{data.request_quantity}}</td>
                    <td><span>{{title_urgency}}</span>{{data.request_urgency}}</td>
                    <td><span>{{title_accepted[initial_current.Language]}}</span>{{data.request_accepted}}</td>
                    <td><span>{{title_status[initial_current.Language]}}</span>{{getFullStatus(data.request_status)}}
                    </td>
                    <td>
                        <button pButton type="button" class="pi pi-bars gray-button"
                            (click)="menu.toggle($event); selectRow(data)"></button>
                    </td>

                    <!-- <td>{{data.modified_by}}</td>
                    <td>{{data.modified_date | date:'dd/MM/yyyy'}}</td> -->
                </tr>
            </ng-template>


        </p-table>


    </div>

    <!-- Form input or Edit Data -->
    <form #Form="ngForm">
        <p-dialog [(visible)]="displayManage" [style]="{ height:'100vh',width:'30vw', 'overflow-y': 'scroll' }"
            [position]="position" (onHide)="doLoadRequest()">
            <div class="formgrid grid align-items-end" *ngIf="new_data">
                <!-- <i (click)="close()"></i> -->
                <div class="field col-12" style="display:flex;flex-direction: column;">
                    <label>{{ title_code }}<span style="color: red;"> *</span></label>
                    <input pInputText type="text" [(ngModel)]="selectedRequest.request_code" maxlength="10"
                        [disabled]="edit_data" name="code" #code="ngModel" required />
                </div>

                <div class="field col-12">
                    <label>{{ title_date[initial_current.Language] }}<span style="color: red;"> *</span></label>
                    <p-calendar appendTo="body" [(ngModel)]="selectedRequest.request_date" [showIcon]="true"
                        inputId="icon" name="request_date" #request_date="ngModel" [required]="true">
                    </p-calendar>
                </div>

                <div class="field col-12">
                    <label>{{ title_startdate[initial_current.Language] }}<span style="color: red;"> *</span></label>
                    <p-calendar appendTo="body" [(ngModel)]="selectedRequest.request_startdate" [showIcon]="true"
                        inputId="icon" name="request_startdate" #request_startdate="ngModel" [required]="true">
                    </p-calendar>
                </div>

                <div class="field col-12">
                    <label>{{ title_enddate[initial_current.Language] }}<span style="color: red;"> *</span></label>
                    <p-calendar appendTo="body" [(ngModel)]="selectedRequest.request_enddate" [showIcon]="true"
                        inputId="icon" name="request_enddate" #request_enddate="ngModel" [required]="true">
                    </p-calendar>
                </div>

                <div class="field col-12">
                    <label>{{ title_position[initial_current.Language] }}<span style="color: red;"> *</span></label>
                    <p-dropdown placeholder="--" [options]="positionList" optionValue="position_code" [showClear]="true"
                        [(ngModel)]="selectedRequest.request_position" [style]="{ width: '100%', overflow: 'visible' }"
                        appendTo="body" name="request_position" #request_position="ngModel" [required]="true">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.position_name_th : item.position_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.position_name_th : item.position_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field col-12">
                    <label>{{ title_project[initial_current.Language] }}</label>
                    <p-dropdown placeholder="--" [options]="projectList" optionValue="project_code" [showClear]="true"
                        [(ngModel)]="selectedRequest.request_project" [style]="{ width: '100%', overflow: 'visible' }"
                        appendTo="body" name="request_project" #request_project="ngModel">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.project_name_th : item.project_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.project_name_th : item.project_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field col-12">
                    <label>{{ title_employee_type }}<span style="color: red;"> *</span></label>
                    <p-dropdown placeholder="--" [options]="emptypeList" optionValue="type_code" [showClear]="true"
                        [(ngModel)]="selectedRequest.request_employee_type"
                        [style]="{ width: '100%', overflow: 'visible' }" appendTo="body" name="employee_type"
                        #employee_type="ngModel" [required]="true">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.type_name_th : item.type_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.type_name_th : item.type_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field col-12">
                    <label>{{ title_quantity }}<span style="color: red;"> *</span></label>
                    <p-inputNumber mode="decimal" inputId="minmax-buttons" [min]="0" [max]="120"
                        [(ngModel)]="selectedRequest.request_quantity" name="request_quantity"
                        #request_quantity="ngModel" [required]="true">
                    </p-inputNumber>
                </div>

                <div class="field col-12">
                    <label>{{ title_urgency }}<span style="color: red;"> *</span></label>
                    <p-dropdown [options]="urgen_List" optionValue="code" [showClear]="true"
                        [(ngModel)]="selectedRequest.request_urgency" [style]="{ width: '100%', overflow: 'visible' }"
                        name="request_urgency" #request_urgency="ngModel" [required]="true">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.name_th : item.name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.name_th : item.name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field col-12" style="display:flex;flex-direction: column;">
                    <label>{{ title_note[initial_current.Language] }}</label>
                    <textarea [(ngModel)]="selectedRequest.request_note" pInputTextarea [autoResize]="true"
                        name="request_note" #request_note="ngModel"></textarea>
                </div>

                <br>
                <div class="field col-12" style=" text-align: right;">
                    <button pButton type="button" class="button-size" label="{{ title_save }}" icon="pi pi-save"
                        (click)="confirmRecord()" [disabled]="!Form.form.valid"></button>
                    &nbsp;

                    <!-- <button *ngIf="edit_data" pButton type="button" label="{{ title_delete }}" icon="pi pi-trash"
                        class="btndel button-size" (click)="confirmDelete()"></button> -->
                    <!-- <button *ngIf="edit_data" pButton pRipple type="button" label="{{title_delete}}"
                        class="p-button-secondary" (click)="confirmDelete()"></button> -->
                </div>
            </div>
        </p-dialog>
        <div *ngIf="displayManage" style="z-index: 1084;"
            class="p-component-overlay p-sidebar-mask p-component-overlay-enter"></div>
    </form>

</div>


<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="{{title_upload}}" [(visible)]="displayUpload">
    <label class="drop-container">
        <span class="drop-title">{{title_dropfile[initial_current.Language]}}</span>
        {{title_or[initial_current.Language]}}
        <!-- <input type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            required (change)="handleFileInput($any($event).target.files)"> -->
        <div class="attach">
            <input id="file" type="file" #fileUploader
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                required (change)="handleFileInput($any($event).target.files)" style="display: none;">
            <label for="file" class="btnattach">{{title_choose[initial_current.Language]}}</label>
            <span class="chosen-attach" *ngIf="!selectedFileName">{{title_nofile[this.initial_current.Language]}}</span>
            <span class="chosen-attach" *ngIf="selectedFileName">{{selectedFileName}}</span>
        </div>
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="doUploadRequest()" label="{{title_upload}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<div *ngIf="displayUpload" style="z-index: 1084;" class="p-component-overlay p-sidebar-mask p-component-overlay-enter">
</div>
<!-- -----------------End Dialog Choose File-------------------- -->

<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"
    key="myDialog"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->