.spn_title_edit{
    margin: 10px 0px 10px 15px;    
    font-weight: bold;
    font-size: 15px;    
}

small{
    font-size: 15px;
}

.table_summary_{
    border-collapse: collapse;
}

.table_summary_ td{
    padding: 5px;
    border: 0px solid #ccc;
}


.main_div {
    text-align:left;
    position: relative;
    padding: 5px;
    height: 100px;
    width: 100px;
    background-color: #152047;
}
.sub_div {
    position: absolute;
    bottom: 5px;
}

.spn_value{
    color: #FFFFFF;
    font-size: 16px;
}

.spn_title{
    color: #FFFFFF;
    font-size: 12px;    
}

small{
    font-size: 15px;
}

.search-input {
    display: flex;
    align-items: center;
 
    border-radius: 14px;
    padding: 14px;
 
}

.search-input i {
    margin-right: 8px;
    color: #ccc;
}
