<!-- <p>system-foretype works!</p> -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>
<!-- ---------END Link Page----------- -->
<hr>
<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items">
    </p-menubar>
</div>

<div class="tabledata">
    <!-- Table Show Data -->
    <div #TABLE>
        <p-table #dt2 [value]="foretype_list" selectionMode="single" [(selection)]="selectedForetype"
            (onRowSelect)="onRowSelectForetype($event)" [rows]="12" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[12,25,50]" [paginator]="true"
            currentPageReportTemplate="{{title_page_from[initial_current.Language]}} {first} {{title_page_to[initial_current.Language]}} {last} {{title_page_total[initial_current.Language]}} {totalRecords} {{title_page_record[initial_current.Language]}}"
            [globalFilterFields]="['foretype_code','foretype_name_en','foretype_name_th','modied_by','modied_date']"
            responsiveLayout="stack" [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{title_search[initial_current.Language]}}" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>{{title_code[initial_current.Language]}}</th>
                    <th>{{title_name_th[initial_current.Language]}}</th>
                    <th>{{title_name_en[initial_current.Language]}}</th>
                    <th>{{title_modified_by[initial_current.Language]}}</th>
                    <th>{{title_modified_date[initial_current.Language]}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td><span>{{title_code[initial_current.Language]}}</span>{{data.foretype_code}}</td>
                    <td><span>{{title_name_th[initial_current.Language]}}</span>{{data.foretype_name_th}}</td>
                    <td><span>{{title_name_en[initial_current.Language]}}</span>{{data.foretype_name_en}}</td>
                    <td><span>{{title_modified_by[initial_current.Language]}}</span>{{data.modified_by}}</td>
                    <td><span>{{title_modified_date[initial_current.Language]}}</span>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- -----------------------END Table-------------------------- -->

    <!-- Form input or Edit Data -->
    <form #Form="ngForm">
        <p-dialog [(visible)]="displayManage" [style]="{ height: '600px', 'overflow-y': 'hidden' }"
            [position]="position" (onHide)="reloadPage()">
        <div class="formatt p-dialog-content" *ngIf="new_data==true">

            <label>{{title_code[initial_current.Language]}}</label>
            <input pInputText type="text" [(ngModel)]="selectedForetype.foretype_code" maxlength="5"name="code"
            #code="ngModel" required [readOnly]="edit_data" />
            <p>{{selectedForetype.foretype_code.length}}/5</p>

            <label>{{title_name_th[initial_current.Language]}}</label>
            <textarea [(ngModel)]="selectedForetype.foretype_name_th" pInputTextarea [autoResize]="true" name="name_th"
            #name_th="ngModel"></textarea>

            <label>{{title_name_en[initial_current.Language]}}</label>
            <textarea [(ngModel)]="selectedForetype.foretype_name_en" pInputTextarea [autoResize]="true" name="name_en"
            #name_en="ngModel"></textarea>

            
            <div class="field col-12" style=" text-align: right;">
                <button *ngIf="!edit_data" pRipple pButton type="submit" label="{{ title_save[initial_current.Language] }}" icon="pi pi-save"
                    (click)="confirmRecord()" [disabled]="!Form.form.valid" class="button-size"></button>
                
                <button *ngIf="edit_data" pRipple pButton type="submit" (click)="confirmRecord()" label="{{ title_save[initial_current.Language] }}"
                    icon="pi pi-save"
                    [disabled]="(!Form.form.valid == this.accessData.accessdata_edit)|| !this.accessData.accessdata_edit"
                    class="button-size "></button>
                <!-- <p-button label="{{title_save}}" icon="pi pi-save" (onClick)="confirmRecord()" [disabled]="!Form.form.valid"></p-button> -->
                &nbsp;
                <button *ngIf="edit_data" pButton pRipple type="button" label="{{title_delete[initial_current.Language]}}"
                    class="p-button-secondary button-size btndel" [disabled]="!this.accessData.accessdata_delete"
                    (click)="confirmDelete()"></button>
            </div>
        </div>
        </p-dialog>
        <div *ngIf="displayManage" style="z-index: 1084;"
            class="p-component-overlay p-sidebar-mask p-component-overlay-enter"></div>
    </form>
</div>

<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="{{title_upload[initial_current.Language]}}" [(visible)]="displayUpload">
    <label class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            required (change)="handleFileInput($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="doUploadInitial()" label="{{title_upload[initial_current.Language]}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- -----------------End Dialog Choose File-------------------- -->

<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"
    key="myDialog"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->
