<!-- Link Page -->
<div class="path">
    <span>{{langs.get('title')[selectlang]}}</span>
    <div>
        <i></i>
        <a routerLink="/attendance/policy">{{langs.get('policy')[selectlang]}}</a>
        <i></i>
        <small>{{langs.get('planleave')[selectlang]}}</small>
    </div>
</div>
<!-- ---------END Link Page----------- -->
<hr>
<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items"></p-menubar>
</div>
<!-- ----------------END MENU----------------- -->
<div class="tabledata">
    <!-- Table Show Data Year Period -->
    <div #TABLE>
        <p-table #dt2 [value]="leaveplan_list" selectionMode="single" [(selection)]="leaveplans"
            (onRowSelect)="onRowSelect($event)" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            currentPageReportTemplate="{{langs.get('showing')[selectlang]}} {first} {{langs.get('to')[selectlang]}} {last} {{langs.get('of')[selectlang]}}  {totalRecords} {{langs.get('entries')[selectlang]}}"
            [globalFilterFields]="['planleave_code','planleave_name_en','planleave_name_th','modified_date']"
            responsiveLayout="stack" [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable">
                    <div>

                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{langs.get('search')[selectlang]}}" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header">
                <tr>
                    <th>{{langs.get('no')[selectlang]}}</th>
                    <th>{{langs.get('code')[selectlang]}}</th>
                    <th>{{langs.get('description')[selectlang]}}</th>
                    <th>{{langs.get('modified_by')[selectlang]}}</th>
                    <th>{{langs.get('modified_date')[selectlang]}}</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex">
                <tr [pSelectableRow]="data">

                    <td><span>{{langs.get('no')[selectlang]}}</span>{{i+1}}</td>
                    <td><span>{{langs.get('code')[selectlang]}}</span>{{data.planleave_code}}</td>
                    <td><span>{{langs.get('description')[selectlang]}}</span>{{selectlang=="EN"?data.planleave_name_en:data.planleave_name_th}}
                    </td>
                    <td><span>{{langs.get('modified_by')[selectlang]}}</span>{{data.modified_by}}</td>
                    <td><span>{{langs.get('modified_date')[selectlang]}}</span>{{data.modified_date |
                        date:'dd/MM/yyyy'}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- -----------------------END Table-------------------------- -->

    <!-- Form input or Edit Data Year Period -->
    <div class="formatt" *ngIf="new_data==true">
        <i (click)="close()"></i>

        <label>{{langs.get('code')[selectlang]}}</label>
        <input pInputText type="text" [(ngModel)]="leaveplans.planleave_code" maxlength="10" disabled="{{edit_data}}" />
        <p>{{leaveplans.planleave_code.length}}/10</p>

        <label>{{langs.get('description')[selectlang]}} (Eng.)</label>
        <textarea [(ngModel)]="leaveplans.planleave_name_en" pInputTextarea [autoResize]="true"></textarea>

        <label>{{langs.get('description')[selectlang]}} (Thai)</label>
        <textarea [(ngModel)]="leaveplans.planleave_name_th" pInputTextarea [autoResize]="true"></textarea>
        <p-pickList class="picklistvertical" [metaKeySelection]="false" [responsive]="true" [source]="leaves_listselect"
            [target]="leaveplans.leavelists" sourceHeader="{{langs.get('leavelist')[selectlang]}}" targetHeader="{{langs.get('planleave')[selectlang]}}"
            [sourceStyle]="{'height':'15rem'}" [targetStyle]="{'height':'15rem'}" sourceFilterPlaceholder="{{langs.get('search')[selectlang]}}"
            targetFilterPlaceholder="{{langs.get('search')[selectlang]}}" filterBy="leave_code,leave_name_en,leave_name_th">
            <ng-template let-data pTemplate="item">
                <div>
                    <div style="font-size:14px;float:left;">{{data.leave_code}} - {{selectlang
                        =='EN'?data.leave_name_en:data.leave_name_th}}</div>
                </div>
            </ng-template>
        </p-pickList>
        <button pButton type="button" label="{{langs.get('save')[selectlang]}}" icon="pi pi-check" (click)="Save()"></button>
        <button *ngIf="edit_data" pButton type="button" label="{{langs.get('delete')[selectlang]}}" icon="pi pi-trash" class="p-button-danger"
            (click)="Delete()"></button>
    </div>
    <!-- --------------End form Input Data ------------------ -->
</div>

<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="Upload" [(visible)]="displayUpload">
    <label class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file" accept="xlxs/*" required (change)="handleFileInput($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="Uploadfile()" label="Upload"></p-button>
    </ng-template>
</p-dialog>

<!-- -----------------End Dialog Choose File-------------------- -->


<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->