<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>
<hr>
<p-toast position="top-right"></p-toast>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"
    key="myDialog"></p-confirmDialog>


<p-dialog header="{{title_lostwages[initial_current.Language]}}" [(visible)]="displayManage" [style]="{width: '50vw'}"
    [position]="position">
    <p-scrollPanel [style]="{width: '100%', height: '750px'}">
        <div class="formgrid grid">
            <div class="field col-12 ">
                <label for="selectedProject_fillter">{{title_project[initial_current.Language]}}</label><br>
                <p-dropdown placeholder="--" [options]="project_list" optionValue="project_code"
                    [(ngModel)]="selectedProject_fillter.project_code" [showClear]="true"
                    [style]="{ width: '100%', overflow: 'visible' }" (onChange)="doFillter()">
                    <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.project_name_th : item.project_name_en }}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.project_name_th : item.project_name_en }}
                    </ng-template>
                </p-dropdown>
            </div>


            <div class="field col-12">
                <label for="selectedJobmain">{{title_jobname[initial_current.Language]}}</label><br>
                <p-dropdown placeholder="--" [options]="jobmain_list" optionValue="projobmain_code"
                    [(ngModel)]="selectedlostwages.projob_code" [showClear]="true"
                    [style]="{ width: '100%', overflow: 'visible' }">
                    <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.projobmain_name_th : item.projobmain_name_en }}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.projobmain_name_th : item.projobmain_name_en }}
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="field col-12">
                <div class="input_radio">
                    <div class="input_radio">
                        <input type="radio" name="fav_job" value="0" [(ngModel)]="selectedlostwages.lostwages_type"
                            (change)="selectJobmainType()">
                        <label>{{internal_person[initial_current.Language]}}</label>
                        &nbsp;

                        <input type="radio" name="fav_job" value="1" [(ngModel)]="selectedlostwages.lostwages_type"
                            (change)="selectJobType()">
                        <label>{{external_person[initial_current.Language]}}<span style="color: red;"> *</span></label>
                    </div>

                    <div></div>
                </div>
            </div>
            <!--  -->


            <div class="grid field col-12" *ngIf="external_employees === '1' && jobSubListLoaded ">
                <div class="center field col-3 md:col-6 custom-height">
                    <label for="lastname2">{{title_cardno[initial_current.Language]}}</label>
                    <input type="text" [(ngModel)]="selectedlostwages.lostwages_cardno"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        maxlength="13">
                </div>
                <div class="center field col-3 md:col-6 custom-height">
                    <div>
                        <label for="Gender">{{title_gender[initial_current.Language]}} : </label>
                        <div class="radio">
                            <input type="radio" id="maleGender" name="Gender" value="M"
                                [(ngModel)]="selectedlostwages.lostwages_gender">
                            <label for="maleGender">{{male_gender[initial_current.Language]}}</label>
                            &nbsp;&nbsp;
                            <input type="radio" id="femaleGender" name="Gender" value="F"
                                [(ngModel)]="selectedlostwages.lostwages_gender">
                            <label for="femaleGender">{{female_gender[initial_current.Language]}}</label>
                        </div>
                    </div>
                </div>
                <!-- <div class=" center field col-3 md:col-12 custom-height"></div> -->
                <div class="center field col-2 md:col-2 custom-height">
                    <label>{{title_initial[initial_current.Language]}}</label><br>
                    <p-dropdown placeholder="--" [options]="employee_list" optionValue="worker_initial"
                        [(ngModel)]="selectedlostwages.lostwages_initial" [showClear]="true"
                        [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.initial_name_th : item.initial_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.initial_name_th : item.initial_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="center field col-3 md:col-5 custom-height">
                    <label for="worker_code">{{title_name_th[initial_current.Language]}}</label>
                    <input type="text" id="lostwages_fname_th" [(ngModel)]="selectedlostwages.lostwages_fname_th"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="center field col-3 md:col-5 custom-height">
                    <label for="worker_code">{{title_lname_en[initial_current.Language]}}</label>
                    <input type="text" id="lostwages_laname_th" [(ngModel)]="selectedlostwages.lostwages_laname_th"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class=" center field col-3 md:col-12 custom-height"></div>
            </div>

            <div class="grid field col-12" *ngIf="internal_staff === '0' && jobListLoaded ">

                <div class="center field col-2 " style="display: flex; align-items: center; justify-content: center;">
                    <p-button icon="pi pi-search" (click)="open_searchemp()"></p-button>
                </div>

                <!-- <div class="center field col-3 md:col-4 custom-height">
                    <label for="worker_cardno">{{title_cardno[initial_current.Language]}}</label>
                    <input type="text" id="worker_cardno" [(ngModel)]="selectedlostwages.worker_cardno"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div> -->


                <div class="center field col-3 md:col-3 custom-height">
                    <label for="worker_code">{{title_empcode[initial_current.Language]}}</label>
                    <input type="text" id="worker_code" [(ngModel)]="selectedlostwages.worker_code"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        readonly>
                </div>
                <div class="center field col-3 md:col-6 custom-height">
                    <label for="emp_name">{{title_empname[initial_current.Language]}}</label>
                    <input id="emp_name" type="text" [(ngModel)]="emp_name"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        readonly>
                </div>
            </div>


            <div class="field col-12">
                <label for="selectedShift">{{title_shift[initial_current.Language]}}</label><br>
                <p-dropdown placeholder="--" [options]="shift_list" optionValue="shift_code"
                    [(ngModel)]="selectedlostwages.shift_code" [showClear]="true"
                    [style]="{ width: '100%', overflow: 'visible' }">
                    <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.shift_name_th : item.shift_name_en }}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.shift_name_th : item.shift_name_en }}
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="field col-12">
                <label for="selectedShift">{{title_daytype[initial_current.Language]}}</label><br>
                <p-dropdown placeholder="--" [options]="daytype_list" optionValue="daytype_code"
                    [(ngModel)]="selectedlostwages.lostwages_daytype" [showClear]="true"
                    [style]="{ width: '100%', overflow: 'visible' }">
                    <ng-template let-item pTemplate="item" pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.daytype_name_th : item.daytype_name_en }}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.daytype_name_th : item.daytype_name_en }}
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="field col-6 ">
                <label for="ppos_code">{{title_timein[initial_current.Language]}}</label>
                <br>
                <p-inputMask mask="99:99" [(ngModel)]="timein" placeholder="HH:mm"
                    [style]="{'width':'80px','text-align':'center','background-color':'black','color':'#FFFFFF'}"></p-inputMask>
            </div>
            <div class="field col-6 ">
                <label for="ppos_code">{{title_timeout[initial_current.Language]}}</label>
                <br>
                <p-inputMask mask="99:99" [(ngModel)]="timeout" placeholder="HH:mm"
                    [style]="{'width':'80px','text-align':'center','background-color':'black','color':'#FFFFFF'}"></p-inputMask>
            </div>

            <div class=" grid   field col-12">
                <div class=" center field col-3 md:col-3 custom-height">
                    <label for="lastname2">{{title_wage[initial_current.Language]}}</label>
                    <input type="number" step="0.5" [(ngModel)]="selectedlostwages.lostwages_salary"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>

                <div class=" center field col-3 md:col-3 custom-height">
                    <label for="lastname2">{{title_OT[initial_current.Language]}} </label>
                    <input type="number" step="0.5" [(ngModel)]="selectedlostwages.lostwages_diligence"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class=" center field col-3 md:col-3 custom-height">
                    <label for="lastname2">{{title_travel_expenses[initial_current.Language]}} </label>
                    <input type="number" step="0.5" [(ngModel)]="selectedlostwages.lostwages_travelexpenses"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>


                <div class=" center field col-3 md:col-3 custom-height">
                    <label for="lastname2"> {{title_others[initial_current.Language]}}</label>
                    <input type="number" step="0.5" [(ngModel)]="selectedlostwages.lostwages_other"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
            </div>
            <div class="field col-12">
                &nbsp;
            </div>

            <div class="field col-12">
                <p-button label={{title_btn_save[initial_current.Language]}} icon="pi pi-save"
                    (click)="Lostwages_summit()"></p-button>
                &nbsp;
                <button pButton pRipple type="button" label="{{title_btn_close[initial_current.Language]}}"
                    class="p-button-secondary" (click)="close_manage()"></button>
            </div>

        </div>

    </p-scrollPanel>

</p-dialog>
<div *ngIf="displayManage" style="z-index: 1084;" class="p-component-overlay p-sidebar-mask p-component-overlay-enter">
</div>
<p-dialog [(visible)]="searchEmp" [style]="{width: '30vw'}" [position]="position">
    <div class="grid">
        <div class="col-12">
            <app-search-emp></app-search-emp>
        </div>
        <div class="col-12">
            <p-button label="{{title_btn_save[initial_current.Language]}}" icon="pi pi-save"
                (click)="select_emp()"></p-button>
            &nbsp;
            <button pButton pRipple type="button" label="{{title_btn_close[initial_current.Language]}}"
                class="p-button-secondary" (click)="close_searchemp()"></button>
        </div>
    </div>
</p-dialog>

<div class="grid">
    <div class="col-12">

        <div class="formgrid grid align-items-end">
            <div class="field col-12 md:col-2 ">
                <label for="ppos_shift_code">{{title_date[initial_current.Language]}}</label>

                <p-calendar appendTo="body" [showIcon]="true" [(ngModel)]="selectedDate_fillter" dateFormat="dd/mm/yy"
                    [showTime]="false" (onSelect)="doFillter()" inputId="selectedDate_fillter"></p-calendar>

            </div>

            <div class="field col-12 md:col-2 ">
                <label for="ppos_shift_code">{{title_todate[initial_current.Language]}}</label>
                <p-calendar appendTo="body" [showIcon]="true" [(ngModel)]="selectedToDate_fillter" dateFormat="dd/mm/yy"
                    [showTime]="false" (onSelect)="doFillter()" inputId="selectedToDate_fillter"></p-calendar>
            </div>
            <div class="field col-12 md:col-2 ">
                <button pButton type="button" class="p-button-secondary button-size-small btndel"
                    (click)="reloadPage()">
                    <i class="pi pi-refresh icon-small"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-12">
        <p-menubar [model]="menu_lostwages"></p-menubar>
        <div #TABLE>

            <p-table #dt2 [value]="lostwages_list" selectionMode="single" [(selection)]="selectedlostwages"
                (onRowSelect)="onRowSelectLostwages($event)" [rows]="12" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[12,25,50]" [paginator]="true"
                currentPageReportTemplate="{{title_page_from[initial_current.Language]}} {first} {{title_page_to[initial_current.Language]}} {last} {{title_page_total[initial_current.Language]}} {totalRecords} {{title_page_record[initial_current.Language]}}"
                [globalFilterFields]="['shift_code','lostwages_daytype', 'modified_by']" responsiveLayout="stack"
                [breakpoint]="'744px'">
                <!-- <p-table #dtTime [value]="lostwages_list" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '90rem'}"
            [scrollable]="true" scrollHeight="500px" [virtualScroll]="true" selectionMode="single"
            [(selection)]="selectedlostwages" (onRowSelect)="onRowSelectLostwages($event)" dataKey="worker_code"
            [rows]="20" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            currentPageReportTemplate="{{title_page_from[initial_current.Language]}} {first} {{title_page_to[initial_current.Language]}} {last} {{title_page_total[initial_current.Language]}} {totalRecords} {{title_page_record[initial_current.Language]}}"
            [globalFilterFields]="['shift_code','lostwages_daytype', 'modified_by']"> -->
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>{{title_date[initial_current.Language]}}</th>
                        <th>{{title_status[initial_current.Language]}}</th>

                        <th>{{title_jobcode[initial_current.Language]}}</th>
                        <th>{{title_jobname[initial_current.Language]}}</th>

                        <th>{{internal_person[initial_current.Language]}}</th>
                        <th>{{external_person[initial_current.Language]}}</th>
                        <!-- <th>{{title_empcode[initial_current.Language]}}</th> -->
                        <th>{{title_empname[initial_current.Language]}}</th>
                        <!--  -->
                        <!--  -->
                        <th>{{title_shift[initial_current.Language]}}</th>
                        <th>{{title_daytype[initial_current.Language]}}</th>
                        <th>{{title_timein[initial_current.Language]}}</th>
                        <th>{{title_timeout[initial_current.Language]}}</th>
                        <th>{{title_working_before[initial_current.Language]}}</th>
                        <th>{{title_working[initial_current.Language]}}</th>
                        <th>{{title_working_after[initial_current.Language]}}</th>
                        <th>{{title_working_late[initial_current.Language]}}</th>
                        <!-- <th>{{title_working_leave[initial_current.Language]}}</th> -->
                        <!-- <th>{{title_modified_by[initial_current.Language]}}</th> -->
                        <th>{{title_modified_date[initial_current.Language]}}</th>

                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-lostwages let-i="rowIndex">
                    <tr>


                        <td [pSelectableRow]="lostwages">
                            <p-checkbox [(ngModel)]="lostwages.checked" [binary]="true" inputId="checked"
                                [ngModelOptions]="{standalone: true}" (click)="toggleSelect(lostwages)"></p-checkbox>
                        </td>
                        <td>{{lostwages.lostwages_workdate | date:'dd/MM/yyyy'}} </td>

                        <td><p-tag [value]="doGetStatusDetail(lostwages.lostwages_status)"
                                [severity]="getSeverity(lostwages.lostwages_status)"></p-tag></td>


                        <td>{{lostwages.projob_code}}</td>
                        <td>{{doGetPolJobmainDetail2(lostwages.projob_code)}}</td>
                        <!--  -->
                        <td>{{ lostwages.worker_code || '-' }}</td><!--รหัสพนักงาน  -->
                        <td>{{ lostwages.lostwages_cardno || '-' }}</td><!--รหัสพนักงาน  -->
                        <!--  -->
                        <td>
                            {{ initial_current.Language == "TH" ? (lostwages.lostwages_fname_th + ' ' +
                            lostwages.lostwages_laname_th) : lostwages.lostwages_laname_th }}
                            {{ initial_current.Language == "TH" ? lostwages.worker_name_th : lostwages.worker_name_en }}
                        </td>

                        <td>{{lostwages.shift_code}}</td>
                        <td>{{lostwages.lostwages_daytype}}</td>
                        <td>{{lostwages.lostwages_in}}</td>
                        <td>{{lostwages.lostwages_out}}</td>
                        <td>{{doConvertHHMM(lostwages.lostwages_before_min_app)}}</td>
                        <td>{{doConvertHHMM(lostwages.lostwages_work1_min_app)}}</td>
                        <td>{{doConvertHHMM(lostwages.lostwages_after_min_app)}}</td>
                        <td>{{doConvertHHMM(lostwages.lostwages_late_min_app)}}</td>
                        <!-- <td></td> -->
                        <!-- <td>{{lostwages.modified_by}}</td> -->
                        <td>{{lostwages.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>






</div>