.table_head{
    border-collapse: collapse;
}

.table_head td{
    padding: 5px;
    border: 0px solid #ccc;
    height: 100px;
    width: 100%;
    background-color: #152047;
    color: #FFFFFF;
}

.table_head td h4, a{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400;
    color: #FFFFFF;
}


.table_head b{
    font-size: 20px;
    font-weight: 400;
}

.table_head small{
    font-size: 12px;
}


.main_div {
    text-align:left;
    position: relative;
    padding: 5px;
    height: 100px;
    width: 100px;
    background-color: #152047;
}

.spn_value{
    color: #FFFFFF;
    font-size: 16px;
}

.spn_title{
    color: #FFFFFF;
    font-size: 12px;    
}

.spn_title_edit{
    margin: 10px 0px 10px 15px;    
    font-weight: bold;
    font-size: 15px;    
}

.td_amount{
    text-align: right;
    padding-right: 10px;
}

::ng-deep .input-styling input {
    width: 40px !important;
  }

  textarea{
    width: 100%;
  }

  .p-dialog-contents::ng-deep {
    overflow-y: hidden;
    padding: 1px 0.5rem 4rem 0.5rem;
    
  }
  .hovered {
    background-color: #f34646 !important;
  }
  .gray-button {
    background-color: #73737333;
     border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  

  
.checkselect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    gap: 10px;
    padding: 10px;

    .select {
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: column;
        display: grid;
        grid-template-columns: 145px 1fr;
        gap: 5px;
        
        // align-self: center;s
    }

    .resign {
        align-self: center;
        display: flex;
    }
}
::ng-deep .summary {
    span {
        input {
            font-weight: 700;
        }
    }

}



// <ng-template pTemplate="body" let-lostwages let-i="rowIndex">
// <tr [pSelectableRow]="lostwages">
//     <td>
//         <p-checkbox [(ngModel)]="lostwages.checked" [binary]="true" inputId="checked"
//             [ngModelOptions]="{standalone: true}" (click)="toggleSelect(lostwages)"></p-checkbox>
//     </td>
//     <td>{{lostwages.lostwages_workdate | date:'dd/MM/yyyy'}} </td>


//     <td class="card flex justify-content-center gap-2">
//         <p-tag [value]="doGetStatusDetail(lostwages?.lostwages_status)"
//             [rounded]="getSeverity(lostwages?.lostwages_status)">
//         </p-tag>
//     </td>


//     <!-- <div class="card flex justify-content-center gap-2">
//         <p-tag value="Primary" [rounded]="true"></p-tag>
//         <p-tag severity="success" value="Success" [rounded]="true"></p-tag>
//         <p-tag severity="info" value="Info" [rounded]="true"></p-tag>
//         <p-tag severity="warning" value="Warning" [rounded]="true"></p-tag>
//         <p-tag severity="danger" value="Danger" [rounded]="true"></p-tag>
//     </div>
//     <td>
//         <p>{{ doGetStatusDetail(lostwages?.lostwages_status) }}</p>

//         <p-tag [value]="doGetStatusDetail(lostwages?.lostwages_status)"
//             [severity]="getSeverity(lostwages?.lostwages_status)">
//         </p-tag>
//     </td> -->

//     <!-- <td>{{lostwages.lostwages_status}}</td> -->

//     <td>{{lostwages.projob_code}}</td>
//     <td>{{doGetPolJobmainDetail2(lostwages.projob_code)}}</td>
//     <!--  -->
//     <td>{{ lostwages.worker_code || '-' }}</td><!--รหัสพนักงาน  -->
//     <td>{{ lostwages.lostwages_cardno || '-' }}</td><!--รหัสพนักงาน  -->
//     <!--  -->
//     <td>
//         {{ initial_current.Language == "TH" ? (lostwages.lostwages_fname_th + ' ' +
//         lostwages.lostwages_laname_th) : lostwages.lostwages_laname_th }}
//         {{ initial_current.Language == "TH" ? lostwages.worker_name_th : lostwages.worker_name_en }}
//     </td>

//     <td>{{lostwages.shift_code}}</td>
//     <td>{{lostwages.lostwages_daytype}}</td>
//     <td>{{lostwages.lostwages_in}}</td>
//     <td>{{lostwages.lostwages_out}}</td>
//     <td>{{doConvertHHMM(lostwages.lostwages_before_min_app)}}</td>
//     <td>{{doConvertHHMM(lostwages.lostwages_work1_min_app)}}</td>
//     <td>{{doConvertHHMM(lostwages.lostwages_after_min_app)}}</td>
//     <td>{{doConvertHHMM(lostwages.lostwages_late_min_app)}}</td>
//     <!-- <td></td> -->
//     <!-- <td>{{lostwages.modified_by}}</td> -->
//     <td>{{lostwages.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
// </tr>
// </ng-template>
