<!-- eslint-disable @angular-eslint/template/eqeqeq -->

<!-- Link Page -->
<!-- <div class="path">
    <span>Pay Roll</span>
    <div>
        <i></i>
        <a routerLink="/payroll/transfer">Transfer</a>
        <i></i>
        <small>{{this.title_transferbank[this.initial_current.Language]}}</small>
    </div>
</div> -->
<!-- ---------END Link Page----------- -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>
<hr>
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-tabView [(activeIndex)]="index" (onChange)="function($event)">
    <p-tabPanel [selected]="true">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>&nbsp;&nbsp;
            <span>{{this.title_process[this.initial_current.Language]}}</span>
        </ng-template>
        <div class="formgrid grid align-items-end">

            <div class="field col-12">
                <app-select-emp></app-select-emp>
            </div>
            <!-- <div>
                <label>BANK</label>
                <p-dropdown placeholder="--" [options]="bank_list" optionValue="bank_code"
                    [showClear]="true" [(ngModel)]="selectedBank"
                    [style]="{ width: '100%', overflow: 'visible' }">
                    <ng-template let-item pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.bank_name_th : item.bank_name_en}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.bank_name_th : item.bank_name_en}}
                    </ng-template>
                </p-dropdown>
            </div> -->

            <div class="field col-12 md:col-6">
                <div>
                    <label>{{this.title_bank[this.initial_current.Language]}} :</label>

                    <p-dropdown placeholder="--" [options]="combankList" optionLabel="name_detail"
                        [(ngModel)]="selectedBank" [showClear]="true" [style]="{ width: '100%', overflow: 'visible' }"
                        (onChange)="doLoadCombankList( )"></p-dropdown>


                </div>
            </div>
            <div class="field col-12 md:col-6">
                <label>{{this.title_date[this.initial_current.Language]}} :</label>

                <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="effdate" name="effdate"
                    (ngModelChange)="updateEffdate($event)"></p-calendar>
            </div>
            <!-- <div class="field col-12 md:col-6">
              

                <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="effdate"
                name="effdate" (ngModelChange)="updateEffdate($event)"><input type="text"></p-calendar>
              
            </div> -->
            <div class="field col-12 md:col-6">
                <p-button label="{{this.title_btnprocess[this.initial_current.Language]}}" (click)="process()"
                    key="myDialog"></p-button>
            </div>

        </div>
    </p-tabPanel>

    <!-- <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-file-import"></i>&nbsp;&nbsp;
            <span>{{this.title_result[this.initial_current.Language]}}</span>
        </ng-template>

        <div class="formgrid grid align-items-end">

            <div class="field col-12">
                <app-task></app-task>
            </div>

        </div>

    </p-tabPanel> -->

</p-tabView>

<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"
    key="myDialog"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->