<!-- <p-editor [(ngModel)]="text" [style]="{ height: '70vh' }" (onTextChange)=test($event)></p-editor>
<button (click)="submit()"></button> -->
<p-dialog header="PDPA" [(visible)]="displayManage" [style]="{width: '70vw'}">
    <div style="display: flex;flex-direction: column;justify-content: center;gap: 20px;">
        <pdf-viewer [src]="src" [rotation]="0" [original-size]="true" [show-all]="true" [fit-to-page]="true" [zoom]="0"
            [stick-to-page]="true" [render-text]="true" [autoresize]="true" [zoom-scale]="'page-fit'"
            [show-borders]="false" style="height: 70vh;"></pdf-viewer>
        <!-- <button>คลิกเพื่อแจ้งหนังสือยินยอมฯ</button> -->
        <div style="gap: 10px; display: flex; justify-content:center;">
            <button pButton type="button" label="ยินยอม"></button>
            <button pButton type="button" label="ไม่ยินยอม" class="p-button-danger"></button>
        </div>
    </div>
</p-dialog>