<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<!-- Link Page -->
<!-- <div class="path">
    <span>{{title_payroll}}</span>
    <div>
        <i></i>
        <a routerLink="/payroll/policy">{{title_policy}}</a>
        <i></i>
        <small>{{title_page}}</small>

    </div>
</div> -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>

<hr>


<p-tabView [(activeIndex)]="index" (onChange)="function($event)">
    <p-tabPanel [selected]="true">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>&nbsp;&nbsp;
            <span>{{title_Process}}</span>
        </ng-template>

        <div class="formgrid grid align-items-end">

            <div class="field col-12">
                <app-select-emp></app-select-emp>
            </div>
            <div class="field col-12 md:col-6">
                <div>
                    <label>{{title_system_Policy}}</label>
                    <p-dropdown placeholder="--" [options]="Items_List" optionValue="item_code" [showClear]="true"
                        [(ngModel)]="selectedTRItem.paypolitem_code"
                        [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.item_name_th : item.item_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.item_name_th : item.item_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div *ngIf="!loading" class="field col-12 md:col-6">
                <p-button label="Process" (click)="process()"></p-button>
            </div>
        </div>
        <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-file-import"></i>&nbsp;&nbsp;
            <span>{{title_Process}}</span>
        </ng-template>
        <div>
            <p-table *ngIf="new_data==true" #dt2 [value]="SetItems_List" styleClass="p-datatable-sm"
                [tableStyle]="{'min-width': '60rem'}" [scrollable]="true" scrollHeight="500px" [virtualScroll]="true"
                selectionMode="single" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                [globalFilterFields]="['worker_detail','company_code','worker_code','paypolitem_code','modified_by','modified_date']"

                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{title_no}}</th>
                        <th>{{title_code}}</th>
                        <th>{{title_worker_code}}</th>
                        <th>{{title_name_policy}}</th>
                        <th>{{title_modified_by}}</th>
                        <th>{{title_modified_date}}</th>
                        <th>{{title_delete}}</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-data let-i="rowIndex">
                    <tr [pSelectableRow]="data">
                        <td>{{i+1}}</td>
                        <td>{{data.worker_code}}</td>
                        <td>{{data.worker_detail}}</td>
                        <td>{{data.paypolitem_code}}</td>
                        <td>{{data.modified_by}}</td>
                        <td>{{data.modified_date | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <button *ngIf="new_data==true" pButton type="button" class="pi pi-trash p-button-danger" (click)="Delete(data)"></button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>


    </p-tabPanel>

</p-tabView>


<!-- -----------------End Dialog Choose File-------------------- -->

<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->
