<!-- Link Page -->
<div class="path">
    <span>{{langs.get('title')[selectlang]}}</span>
    <div>
        <i></i>
        <a routerLink="/self/approve">{{langs.get('approve')[selectlang]}}</a>
        <i></i>
        <small>{{langs.get('title_onsite')[selectlang]}}</small>
    </div>
</div>
<!-- ---------END Link Page----------- -->
<hr>

<p-dialog header="{{manage_title}}" [(visible)]="displayManage" [style]="{width: '50vw'}" [position]="position"
    (onHide)="closeManage()">
    <div class="formgrid grid align-items-end">


        <div class="field col-12" style="margin-top: 2%;">
            <p-calendar [(ngModel)]="selectedtrtimeonsite.timeonsite_workdate" dateFormat="dd/mm/yy" inputId="date_from"
                [disabled]="edit_data"></p-calendar>
        </div>

        <div class="field col-12 md:col-3">
            <p>{{langs.get('time_in')[selectlang]}}</p>
            <p-inputMask mask="99:99" [(ngModel)]="selectedtrtimeonsite.timeonsite_in" placeholder="HH:mm"
                [disabled]="edit_data"></p-inputMask>
        </div>
        <div class="field col-12 md:col-3">
            <p>{{langs.get('time_out')[selectlang]}}</p>
            <p-inputMask mask="99:99" [(ngModel)]="selectedtrtimeonsite.timeonsite_out" placeholder="HH:mm"
                [disabled]="edit_data"></p-inputMask>
        </div>
        <div class="field col-12 md:col-6">

        </div>

        <div class="field col-12 md:col-6">
            <label for="ppos_shift_code">{{langs.get('location')[selectlang]}}</label>
            <p-dropdown class="selectyaer" [options]="location_list" [(ngModel)]="locationselected"
                (onChange)="selectotlocation()" optionLabel={{locatiodis}} [disabled]="edit_data"></p-dropdown>
        </div>

        <div class="field col-12 md:col-6">
            <label for="ppos_shift_code">{{langs.get('reason')[selectlang]}}</label>
            <p-dropdown class="selectyaer" [options]="reason_list" [(ngModel)]="reasonselected"
                (onChange)="selectotreason()" optionLabel={{reasonedis}} [disabled]="edit_data"></p-dropdown>
        </div>

        <div class="field col-12" style="display:flex;flex-direction: column;">
            <label for="project_name_th">{{langs.get('note')[selectlang]}}</label>
            <textarea [(ngModel)]="selectedtrtimeonsite.timeonsite_note" pInputTextarea [autoResize]="true"
                [disabled]="edit_data"></textarea>
        </div>

        <div class="field col-12">
            <!-- <p-menubar [model]="items_attfile"></p-menubar> -->
            <p-table #dt3 [value]="selectedtrtimeonsite.reqdoc_data" selectionMode="single"
                [(selection)]="selectedreqdoc" (onRowSelect)="onRowSelectfile($event)" [rows]="10"
                [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                currentPageReportTemplate="{{langs.get('showing')[selectlang]}} {first} {{langs.get('to')[selectlang]}} {last} {{langs.get('of')[selectlang]}}  {totalRecords} {{langs.get('entries')[selectlang]}}"
                [globalFilterFields]="['document_name','created_by','created_date']" responsiveLayout="stack"
                [breakpoint]="'744px'">
                <!-- Form Search Table -->
                <ng-template pTemplate="caption">
                    <div class="searchtable">
                        <div>

                        </div>
                    </div>
                </ng-template>
                <!-- --------------END Form Search Table------------------ -->
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>{{langs.get('no')[selectlang]}}</th>
                        <th>{{langs.get('file_name')[selectlang]}}</th>
                        <th>{{langs.get('modified_by')[selectlang]}}</th>
                        <th>{{langs.get('modified_date')[selectlang]}}</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                    <tr [pSelectableRow]="data">
                        <td><span>{{langs.get('no')[selectlang]}}</span>{{i+1}}</td>
                        <td><span>{{langs.get('file_name')[selectlang]}}</span>{{data.document_name}}</td>
                        <td><span>{{langs.get('modified_by')[selectlang]}}</span>{{data.created_by}}</td>
                        <td><span>{{langs.get('modified_date')[selectlang]}}</span>{{data.created_date |
                            date:'dd/MM/yyyy'}}</td>

                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="field col-12">
            <p-button label="{{langs.get('approve')[selectlang]}}" icon="pi pi-check"
                (click)="Save(selectedtrtimeonsite)"></p-button>
            &nbsp;
            <button *ngIf="edit_data" pButton pRipple type="button" label="{{langs.get('notapprove')[selectlang]}}"
                class="p-button-danger" icon="pi pi-times" (click)="Delete(selectedtrtimeonsite)"></button>
        </div>

    </div>
</p-dialog>


<div class="grid">

    <div class="col-12">
        <!-- <p-menubar [model]="items"></p-menubar> -->
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <div style="display: flex;gap: 10px;">
                    <p-button label="{{langs.get('approve')[selectlang]}}" icon="pi pi-check"
                        styleClass="p-button-primary" (click)="Saveall()"
                        [disabled]="selectedtrtimeonsiteall.length==0"></p-button>
                    <p-button label="{{langs.get('notapprove')[selectlang]}}" icon="pi pi-times"
                        styleClass="p-button-danger" (click)="Deleteall()"
                        [disabled]="selectedtrtimeonsiteall.length==0"></p-button>
                </div>
            </ng-template>
        </p-toolbar>
        <p-table #dt1 [value]="trtimonsite_list" selectionMode="single" [(selection)]="selectedtrtimeonsiteall"
            (onRowSelect)="onRowSelect($event)" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            currentPageReportTemplate="{{langs.get('showing')[selectlang]}} {first} {{langs.get('to')[selectlang]}} {last} {{langs.get('of')[selectlang]}}  {totalRecords} {{langs.get('entries')[selectlang]}}"
            [globalFilterFields]="['timeonsite_doc','timeonsite_workdate','timeonsite_in','timeonsite_out','location_name_en','location_name_th','reason_name_th','reason_name_en','status_job','modified_by','modified_date']"
            responsiveLayout="stack" [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable">
                    <div>

                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{langs.get('search')[selectlang]}}" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>{{langs.get('name')[selectlang]}}</th>
                    <th>{{langs.get('date')[selectlang]}}</th>
                    <th>{{langs.get('time_in')[selectlang]}}</th>
                    <th>{{langs.get('time_out')[selectlang]}}</th>
                    <th>{{langs.get('location')[selectlang]}}</th>
                    <th>{{langs.get('reason')[selectlang]}}</th>
                    <th>{{langs.get('modified_by')[selectlang]}}</th>
                    <th>{{langs.get('modified_date')[selectlang]}}</th>
                    <th>{{langs.get('approve')[selectlang]}}</th>
                    <th>{{langs.get('notapprove')[selectlang]}}</th>
                    <th>{{langs.get('verify')[selectlang]}}</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <tr class="tablenotselect">
                    <td>
                        <p-tableCheckbox [value]="data"></p-tableCheckbox>
                    </td>
                    <td><span>{{langs.get('name')[selectlang]}}</span>{{selectlang
                        =="EN"?data.worker_detail_en:data.worker_detail_th}}</td>
                    <td><span>{{langs.get('date')[selectlang]}}</span>{{data.timeonsite_workdate| date:'dd/MM/yyyy'}}
                    </td>
                    <td><span>{{langs.get('time_in')[selectlang]}}</span>{{data.timeonsite_in}}</td>
                    <td><span>{{langs.get('time_out')[selectlang]}}</span>{{data.timeonsite_out}}</td>
                    <td><span>{{langs.get('location')[selectlang]}}</span>{{selectlang
                        =="EN"?data.location_name_en:data.location_name_th}}</td>
                    <td><span>{{langs.get('reason')[selectlang]}}</span>{{selectlang
                        =="EN"?data.reason_name_en:data.reason_name_th}}</td>
                    <td><span>{{langs.get('modified_by')[selectlang]}}</span>{{data.modified_by}}</td>
                    <td><span>{{langs.get('modified_date')[selectlang]}}</span>{{data.modified_date |
                        date:'dd/MM/yyyy'}}</td>
                    <td><span>{{langs.get('approve')[selectlang]}}</span><p-button icon="pi pi-check"
                            styleClass="p-button-primary" (click)="Save(data)"
                            [disabled]="selectedtrtimeonsiteall.length>0"></p-button>
                    </td>
                    <td><span>{{langs.get('notapprove')[selectlang]}}</span><p-button icon="pi pi-times"
                            styleClass="p-button-danger" (click)="Delete(data)"
                            [disabled]="selectedtrtimeonsiteall.length>0"></p-button>
                    </td>
                    <td><span>{{langs.get('verify')[selectlang]}}</span><p-button icon="pi pi-eye"
                            styleClass="p-button-success" (click)="viwe(data)"></p-button>
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>