<span style="font-size: 20px;">System</span>&nbsp; <i class="pi pi-angle-right"></i>&nbsp; <a routerLink="/system/security">Security</a>&nbsp;<i class="pi pi-angle-right"></i>&nbsp;<small>Account</small>
<hr>

<p-toast position="top-right"></p-toast> 
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p-dialog header="{{manage_title}}" [(visible)]="displayManage" [style]="{width: '50vw'}" [position]="position">
    <div class="formgrid grid align-items-end" *ngIf="account_manage">
        <span class="spn_title_edit"></span>
          
        <div class="field col-12 md:col-6">
            <label for="account_user">{{title_user}}</label>    
            <br>                
            <input type="text" id="account_user" [(ngModel)]="selectedAccount.account_user" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >

        </div>

        <div class="field col-12 md:col-6">
            <div class="field-checkbox">
                <p-checkbox [binary]="true" [(ngModel)]="selectedAccount.account_line_alert" inputId="account_line_alert"></p-checkbox>
                <label for="account_line_alert">ใช้งาน</label>
            </div>
        </div>

        <div class="field col-12 md:col-6">
            <label for="account_pass">{{title_pass}}</label>     
            <br>                      
            <input type="text" id="account_pass" [(ngModel)]="selectedAccount.account_pwd" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >

        </div>

        <div class="field col-12 md:col-6">
            <label for="account_pass">Re.{{title_pass}}</label>     
            <br>                      
            <input type="text" id="account_pass" [(ngModel)]="selectedAccount.account_pwd" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >

        </div>

        <div class="field col-12 md:col-6">
            <label for="workflow_name_en">{{title_type}}</label>     
            <br>     
            <p-dropdown placeholder="User" optionLabel="account_type" [showClear]="true"
            [(ngModel)]="selectedAccount.account_type"
            [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
        </div>
        <div class="field col-12 md:col-6">
            <label for="minmax-buttons">Level</label><br>
            <p-inputNumber [(ngModel)]="selectedAccount.account_level" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="5">
            </p-inputNumber>
        </div>

        <div class="field col-12 md:col-6">
            <label for="account_email">Email</label>     
            <br>                      
            <input type="text" id="account_email" [(ngModel)]="selectedAccount.account_email" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >

        </div>
        <div class="field col-12 md:col-6">
            <div class="field-checkbox">
                <p-checkbox [binary]="true" [(ngModel)]="selectedAccount.account_email_alert" inputId="account_email_alert"></p-checkbox>
                <label for="account_email_alert">แจ้งเตือน</label>
            </div>
        </div>

        <div class="field col-12 md:col-6">
            <label for="account_line">Line</label>     
            <br>                      
            <input type="text" id="account_line" [(ngModel)]="selectedAccount.account_line" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >

        </div>
        <div class="field col-12 md:col-6">
            <div class="field-checkbox">
                <p-checkbox [binary]="true" [(ngModel)]="selectedAccount.account_line_alert" inputId="account_line_alert"></p-checkbox>
                <label for="account_line_alert">แจ้งเตือน</label>
            </div>
        </div>

        <div class="field col-12 md:col-6">
            <label for="workflow_name_en">Menu Sec</label>     
            <br>     
            <p-dropdown placeholder="SEC001-Std" optionLabel="account_type" [showClear]="true"
            [(ngModel)]="selectedAccount.account_type"
            [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
        </div>
        <div class="field col-12 md:col-6">
            &nbsp;
        </div>

        <div class="field col-12">
            <p-pickList [source]="project_list" [target]="project_list_dest" sourceHeader="Project List" targetHeader="Selected" [sourceStyle]="{'height':'8rem'}" [targetStyle]="{'height':'8rem'}">
                <ng-template let-model pTemplate="item">
                    <div>            
                        <div style="font-size:14px;float:left;">{{model.project_code}} - {{initial_current.Language=="TH"? model.project_name_th : model.project_name_en}}</div>
                    </div>
                </ng-template>
            </p-pickList>      
        </div>

        <div class="field col-12">
            <p-pickList [source]="company_list" [target]="company_list_dest" sourceHeader="Company List" targetHeader="Selected" [sourceStyle]="{'height':'8rem'}" [targetStyle]="{'height':'8rem'}">
                <ng-template let-model pTemplate="item">
                    <div>            
                        <div style="font-size:14px;float:left;">{{model.company_code}} - {{initial_current.Language=="TH"? model.company_name_th : model.company_name_en}}</div>
                    </div>
                </ng-template>
            </p-pickList>      
        </div>

        <div class="field col-12">
            <p-tabView >
                <p-tabPanel  [selected]="true">
                    <ng-template pTemplate = "header">                       
                        <span>Level 1</span>
                    </ng-template>
                    <p-pickList [source]="dep1_list" [target]="dep1_list_dest" sourceHeader="Department" targetHeader="Selected" [sourceStyle]="{'height':'8rem'}" [targetStyle]="{'height':'8rem'}" (onMoveToTarget)="doGetLevel2()" (onMoveToSource)="doGetLevel2()" (onMoveAllToTarget)="doGetLevel2()" (onMoveAllToSource)="doGetLevel2()">
                        <ng-template let-model pTemplate="item">
                            <div>            
                                <div style="font-size:14px;float:left;">{{model.dep_code}} - {{initial_current.Language=="TH"? model.dep_name_th : model.dep_name_en}}</div>
                            </div>
                        </ng-template>
                    </p-pickList>     
                </p-tabPanel>
                <p-tabPanel >
                    <ng-template pTemplate = "header">                       
                        <span>Level 2</span>
                    </ng-template>
                    <p-pickList [source]="dep2_list" [target]="dep2_list_dest" sourceHeader="Department" targetHeader="Selected" [sourceStyle]="{'height':'8rem'}" [targetStyle]="{'height':'8rem'}">
                        <ng-template let-model pTemplate="item">
                            <div>            
                                <div style="font-size:14px;float:left;">{{model.dep_code}} - {{initial_current.Language=="TH"? model.dep_name_th : model.dep_name_en}}</div>
                            </div>
                        </ng-template>
                    </p-pickList>     
                </p-tabPanel>
                <p-tabPanel >
                    <ng-template pTemplate = "header">                       
                        <span>Level 3</span>
                    </ng-template>
                    <p-pickList [source]="dep3_list" [target]="dep3_list_dest" sourceHeader="Department" targetHeader="Selected" [sourceStyle]="{'height':'8rem'}" [targetStyle]="{'height':'8rem'}">
                        <ng-template let-model pTemplate="item">
                            <div>            
                                <div style="font-size:14px;float:left;">{{model.dep_code}} - {{initial_current.Language=="TH"? model.dep_name_th : model.dep_name_en}}</div>
                            </div>
                        </ng-template>
                    </p-pickList>     
                </p-tabPanel>
                <p-tabPanel >
                    <ng-template pTemplate = "header">                       
                        <span>Level 4</span>
                    </ng-template>
                    <p-pickList [source]="dep4_list" [target]="dep4_list_dest" sourceHeader="Department" targetHeader="Selected" [sourceStyle]="{'height':'8rem'}" [targetStyle]="{'height':'8rem'}">
                        <ng-template let-model pTemplate="item">
                            <div>            
                                <div style="font-size:14px;float:left;">{{model.dep_code}} - {{initial_current.Language=="TH"? model.dep_name_th : model.dep_name_en}}</div>
                            </div>
                        </ng-template>
                    </p-pickList>     
                </p-tabPanel>
                <p-tabPanel >
                    <ng-template pTemplate = "header">                       
                        <span>Level 5</span>
                    </ng-template>
                    <p-pickList [source]="dep5_list" [target]="dep5_list_dest" sourceHeader="Department" targetHeader="Selected" [sourceStyle]="{'height':'8rem'}" [targetStyle]="{'height':'8rem'}">
                        <ng-template let-model pTemplate="item">
                            <div>            
                                <div style="font-size:14px;float:left;">{{model.dep_code}} - {{initial_current.Language=="TH"? model.dep_name_th : model.dep_name_en}}</div>
                            </div>
                        </ng-template>
                    </p-pickList>     
                </p-tabPanel>

            </p-tabView>

        </div>        

        <div class="field col-12">
            <p-button label="{{title_save}}" icon="pi pi-save" ></p-button>
            &nbsp;
            <button *ngIf="edit_data" pButton pRipple type="button" label="{{title_delete}}" class="p-button-secondary" ></button>             
        </div>

    </div>

</p-dialog>


<p-menubar [model]="items_menu"></p-menubar >
<div class="grid">
    <div class="col-12 md:col-9" #TABLE>
        <p-table #dt2  [value]="account_list"  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '40rem'}" [scrollable]="true" scrollHeight="400px" [virtualScroll]="true" selectionMode="single" [(selection)]="selectedAccount" (onRowSelect)="onRowSelectAccount($event)" dataKey="account_user"
                
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                [paginator]="true" currentPageReportTemplate="{{title_page_from}} {first} {{title_page_to}} {last} {{title_page_total}} {totalRecords} {{title_page_record}}"
                [globalFilterFields]="['account_user','account_type']"
                >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')" placeholder="{{title_search}}" />
                        </span>
                    </div>
                </ng-template>

                    <ng-template pTemplate="header">
                        <tr>	
                            <th>{{title_user}}</th>     
                            <th>{{title_type}}</th>                       
                            <th>{{title_modified_by}}</th>
                            <th>{{title_modified_date}}</th>                                                
                        </tr>	                    
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr [pSelectableRow]="data">        
                            <td>{{data.account_user}}</td>                                
                            <td>{{data.account_type}}</td>      
                            <td>{{data.modified_by}}</td>      
                            <td>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
                        </tr>
                    </ng-template> 
            </p-table>

    </div>
    <div class="col-12 md:col-3">
        
    </div>

</div>