<!-- <p>employee-position works!</p> -->
<!-- Link Page -->
<!-- <div class="path">
    <span>{{title_emp[initial_current.Language]}}</span>
    <div>
        <i></i>
        <a routerLink="/employee/policy">{{title_policy[initial_current.Language]}}</a>
        <i></i>
        <small>{{title_position[initial_current.Language]}}</small>
    </div>
</div> -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>
<!-- ---------END Link Page----------- -->
<app-position></app-position>
