<!-- <p>empsetbenefits works!</p> -->
<!-- Link Page -->
<!-- <div class="path">
    <span>Employee</span>
    <div>
        <i></i>
        <a routerLink="/employee/policy">Policy</a>
        <i></i>
        <small>Benefits</small>
    </div>
</div> -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>

<!-- ---------END Link Page----------- -->
<hr>
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>


<p-tabView [(activeIndex)]="index" (onChange)="function($event)">
    <p-tabPanel [selected]="true">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>&nbsp;&nbsp;
            <span>{{title_process[initial_current.Language]}}</span>
        </ng-template>

        <div class="formgrid grid align-items-end">

            <div class="field col-12">
                <app-select-emp></app-select-emp>
            </div>
            <div class="benefits field col-12 md:col-7">
                <div>
                    <label>{{title_startdate[initial_current.Language]}}</label>
                    <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true"
                        [(ngModel)]="selectedEmpBenefits.empbenefit_startdate"><input type="text"></p-calendar>
                </div>
                <div>
                    <label>{{title_enddate[initial_current.Language]}}</label>
                    <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true"
                        [(ngModel)]="selectedEmpBenefits.empbenefit_enddate"><input type="text"></p-calendar>
                </div>
                <div class="item">
                    <label>{{title_incomededuct[initial_current.Language]}}</label>
                    <p-dropdown placeholder="--" [options]="itemList" optionValue="item_code" [showClear]="true"
                        [(ngModel)]="selectedEmpBenefits.item_code" [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.item_name_th : item.item_name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.item_name_th : item.item_name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>
                <div style="grid-column: 1;">
                    <label>{{title_capital[initial_current.Language]}}</label>
                    <p-inputNumber mode="decimal" [showButtons]="false" inputId="currency" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [(ngModel)]="selectedEmpBenefits.empbenefit_capitalamount"
                        (ngModelChange)="changebenefitamount()">
                    </p-inputNumber>
                </div>
                <div>
                    <label>{{title_capperiod[initial_current.Language]}}</label>
                    <p-inputNumber mode="decimal" [showButtons]="false"
                        [(ngModel)]="selectedEmpBenefits.empbenefit_period" (ngModelChange)="changebenefitamount()">
                    </p-inputNumber>
                </div>
                <div>
                    <label>{{title_amount[initial_current.Language]}}</label>
                    <p-inputNumber mode="decimal" [showButtons]="false" inputId="currency" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [(ngModel)]="selectedEmpBenefits.empbenefit_amount" [readonly]="true">
                    </p-inputNumber>
                </div>
                <div style="grid-column: 1/3;">
                    <label>{{title_type[initial_current.Language]}}</label>
                    <div class="radio">
                        <p-radioButton name="benefit_paytype" value="A"
                            [(ngModel)]="selectedEmpBenefits.empbenefit_paytype"></p-radioButton>&nbsp;
                        <label>{{title_fullamount[initial_current.Language]}}</label>
                        &nbsp;&nbsp;
                        <p-radioButton name="benefit_paytype" value="D"
                            [(ngModel)]="selectedEmpBenefits.empbenefit_paytype"></p-radioButton>&nbsp;
                        <label>{{title_byday[initial_current.Language]}}</label>
                    </div>
                </div>
                <div>
                    <label>{{title_conditionpay[initial_current.Language]}}</label>
                    <p-dropdown [options]="conPay" placeholder="--" optionValue="value" [showClear]="true"
                        [(ngModel)]="selectedEmpBenefits.empbenefit_conditionpay"
                        [style]="{ width: '100%', overflow: 'visible' }">
                        <ng-template let-item pTemplate="selectedItem">
                            {{initial_current.Language=="TH"? item.name_th : item.name_en}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{initial_current.Language=="TH"? item.name_th : item.name_en}}
                        </ng-template>
                    </p-dropdown>
                </div>
                <div>
                    <label>{{title_period[initial_current.Language]}}</label>
                    <div class="radio">
                        <p-radioButton name="benefit_payfirst" value="Y"
                            [(ngModel)]="selectedEmpBenefits.empbenefit_payfirst"></p-radioButton>&nbsp;
                        <label>{{title_odd[initial_current.Language]}}</label>
                        &nbsp;&nbsp;
                        <p-radioButton name="benefit_payfirst" value="N"
                            [(ngModel)]="selectedEmpBenefits.empbenefit_payfirst"></p-radioButton>&nbsp;
                        <label>{{title_even[initial_current.Language]}}</label>
                    </div>
                </div>
                <div>
                    <label>{{title_reason[initial_current.Language]}}</label>
                    <p-dropdown placeholder="--" optionLabel="name" [showClear]="true"
                        [(ngModel)]="selectedEmpBenefits.empbenefit_reason"
                        [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                </div>
                <div style="grid-column: 1/2;">
                    <label>{{title_note[initial_current.Language]}}</label>
                    <textarea [(ngModel)]="selectedEmpBenefits.empbenefit_note" pInputTextarea></textarea>
                </div>
            </div>
            <div *ngIf="!loading" class="field col-12 md:col-6">
                <p-button label="{{title_btnprocess[initial_current.Language]}}" (click)="process()"></p-button>
            </div>
            <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>

        </div>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-file-import"></i>&nbsp;&nbsp;
            <span>{{title_result[initial_current.Language]}}</span>
        </ng-template>

        <!-- <div class="formgrid grid align-items-end">

            <div class="field col-12">
                <app-task></app-task>
            </div>

        </div> -->

        <div>
            <p-table *ngIf="new_data==true" #dt2 [value]="setbenefitList" styleClass="p-datatable-sm"
                [tableStyle]="{'min-width': '60rem'}" [scrollable]="true" scrollHeight="500px" [virtualScroll]="true"
                selectionMode="single" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                [paginator]="true" currentPageReportTemplate="{{title_showing[initial_current.Language]}} {first} {{title_to[initial_current.Language]}} {last} {{title_of[initial_current.Language]}} {totalRecords} {{title_entries[initial_current.Language]}} "
                [globalFilterFields]="['worker_detail','company_code','worker_code','item_code','modified_by','modified_date']">

                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                                placeholder={{title_search[initial_current.Language]}} />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{title_no[initial_current.Language]}}</th>
                        <th>{{title_code[initial_current.Language]}}</th>
                        <th>{{title_worker[initial_current.Language]}}</th>
                        <th>{{title_incomededuct[initial_current.Language]}}</th>
                        <th>{{title_modified_by[initial_current.Language]}}</th>
                        <th>{{title_modified_date[initial_current.Language]}}</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-data let-i="rowIndex">
                    <tr [pSelectableRow]="data">
                        <td>{{i+1}}</td>
                        <td>{{data.worker_code}}</td>
                        <td>{{initial_current.Language == "TH"? data.worker_detail_th:data.worker_detail_en}}</td>
                        <!-- <td>{{data.worker_detail}}</td> -->
                        <td>{{data.item_code}}</td>
                        <td>{{data.modified_by}}</td>
                        <td>{{data.modified_date | date:'dd/MM/yyyy'}}</td>
                        <!-- <td>
                            <button *ngIf="new_data==true" pButton type="button" class="pi pi-trash p-button-danger" (click)="Delete(data)"></button>
                        </td> -->
                    </tr>
                </ng-template>

            </p-table>
        </div>

    </p-tabPanel>

</p-tabView>