<!-- <p>empsetbenefits works!</p> -->
<!-- Link Page -->
<div class="path">
    <span>Employee</span>
    <div>
        <i></i>
        <a routerLink="/employee/policy">Policy</a>
        <i></i>
        <small>Benefits</small>
    </div>
</div>
<!-- ---------END Link Page----------- -->
<hr>
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>


<p-tabView [(activeIndex)]="index" (onChange)="function($event)">
    <p-tabPanel [selected]="true">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>&nbsp;&nbsp;
            <span>Process</span>
        </ng-template>

        <div class="formgrid grid align-items-end">

            <div class="field col-12">
                <app-select-emp></app-select-emp>
            </div>
            <div class="benefits field col-12 md:col-7">
                <div>
                    <label>วันที่เริ่ม</label>
                    <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true"
                        [(ngModel)]="selectedEmpBenefits.empbenefit_startdate"><input type="text"></p-calendar>
                </div>
                <div>
                    <label>วันที่สิ้นสุด</label>
                    <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true"
                        [(ngModel)]="selectedEmpBenefits.empbenefit_enddate"><input type="text"></p-calendar>
                </div>
                <div class="item">
                    <label>เงินได้/เงินหัก</label>
                    <p-dropdown placeholder="--" optionLabel="name" [showClear]="true"
                        [(ngModel)]="selectedEmpBenefits.item_code"
                        [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                </div>
                <div>
                    <label>จำนวน</label>
                    <p-inputNumber mode="decimal" [showButtons]="false" inputId="currency" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [(ngModel)]="selectedEmpBenefits.empbenefit_amount">
                    </p-inputNumber>
                </div>
                <div style="grid-column: 1/3;">
                    <label>ประเภท</label>
                    <div class="radio">
                        <p-radioButton name="benefit_paytype" value="A"
                            [(ngModel)]="selectedEmpBenefits.empbenefit_paytype"></p-radioButton>&nbsp;
                        <label>เต็มจำนวน</label>
                        &nbsp;&nbsp;
                        <p-radioButton name="benefit_paytype" value="D"
                            [(ngModel)]="selectedEmpBenefits.empbenefit_paytype"></p-radioButton>&nbsp;
                        <label>ตามวันที่ทำงาน</label>
                    </div>
                </div>
                <div>
                    <label>เหตุผล</label>
                    <p-dropdown placeholder="--" optionLabel="name" [showClear]="true"
                        [(ngModel)]="selectedEmpBenefits.empbenefit_reason"
                        [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown>
                </div>
                <div style="grid-column: 1/2;">
                    <label>เพิ่มเติม</label>
                    <textarea [(ngModel)]="selectedEmpBenefits.empbenefit_note" pInputTextarea></textarea>
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <p-button label="Process" (click)="process()"></p-button>
            </div>

        </div>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-file-import"></i>&nbsp;&nbsp;
            <span>Result</span>
        </ng-template>

        <div class="formgrid grid align-items-end">

            <div class="field col-12">
                <app-task></app-task>
            </div>

        </div>

    </p-tabPanel>

</p-tabView>