<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<!-- Link Page -->
<!-- <div class="path">
    <span>{{title_payroll}}</span>
    <div>
        <i></i>
        <a routerLink="/payroll/policy">{{title_policy}}</a>
        <i></i>
        <small>{{title_page}}</small>

    </div>

</div> -->
<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>

<hr>
<!-- Menu New Import Export Data -->
<div>
    <p-menubar [model]="items"></p-menubar>
</div>
<!-- ----------------END MENU----------------- -->
<div class="tabledata">
    <!-- Table Show Data Year Period -->
    <div #TABLE>
        <p-table #dt2 [value]="bonus_list" selectionMode="single" [(selection)]="selectedBonus"
            (onRowSelect)="onRowSelect($event)" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            currentPageReportTemplate="{{title_page_from}} {first} {{title_page_to}} {last} {{title_page_total}}  {totalRecords} {{title_page_record}}"
            [globalFilterFields]="['bonus_code','bonus_name_th','bonus_name_en','modified_by','modified_date']"
            responsiveLayout="stack" [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable">
                    <div>

                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{title_search}}" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>{{title_no}}</th>
                    <th>{{title_code}}</th>
                    <th>{{title_detail_th}}</th>
                    <th>{{title_detail_en}}</th>
                    <th>{{title_modified_by}}</th>
                    <th>{{title_modified_date}}</th>
                    <th> </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td><span>{{title_no}}</span>{{i+1}}</td>
                    <td>{{data.bonus_code}}</td>
                    <td>{{data.bonus_name_th}}</td>
                    <td>{{data.bonus_name_en}}</td>
                    <td>{{data.modified_by}}</td>
                    <td>{{data.modified_date | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>
                        <button pButton type="button" class="pi pi-trash gray-button "
                            [disabled]="!this.accessData.accessdata_delete" (click)="confirmDelete(data)">
                        </button>

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- -----------------------END Table-------------------------- -->

    <!-- Form input or Edit Data Year Period -->
    <form (ngSubmit)="Save()" #Form="ngForm">

        <p-dialog [(visible)]="new_data" [style]="{ height: '600px', 'overflow-y': 'hidden' }"
            [position]="position" (onHide)="reloadPage()">
            <div class="formatt p-dialog-content" *ngIf="new_data">

                <label>{{title_code}}<span style="color: red;"> *</span></label>
                <input pInputText type="text" [(ngModel)]="selectedBonus.bonus_code" maxlength="10" required
                    name="bonus_code" #bonus_code="ngModel" disabled="{{edit_data}}" />
                <p>{{selectedBonus.bonus_code.length}}/10</p>


                <label>{{title_detail_th}}<span style="color: red;"> *</span></label>
                <textarea [(ngModel)]="selectedBonus.bonus_name_th" pInputTextarea [autoResize]="true" required
                    name="bonus_name_th" #bonus_name_th="ngModel"></textarea>

                <label>{{title_detail_en}}<span style="color: red;"> *</span></label>
                <textarea [(ngModel)]="selectedBonus.bonus_name_en" pInputTextarea [autoResize]="true" required
                    name="bonus_name_en" #bonus_name_en="ngModel"></textarea>



                <label>{{title_Item}}</label>
                <p-dropdown placeholder="--" [options]="ItemsList" optionValue="item_code" [showClear]="true"
                    [(ngModel)]="selectedBonus.item_code" [style]="{ width: '100%', overflow: 'visible' }"
                    name="item_code" #item_code="ngModel">
                    <ng-template let-item pTemplate="selectedItem">
                        {{initial_current.Language=="TH"? item.item_code :
                        item.item_code}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{initial_current.Language=="TH"? item.item_code :
                        item.item_code}}
                    </ng-template>
                </p-dropdown>
                <div #TABLELIST>
                    <p-accordion>
                        <p-accordionTab header="{{title_Workage}}">
                            <p-menubar [model]="itemslate"></p-menubar>
                            <p-table [value]="selectedBonus.bonus_data" styleClass="p-datatable-sm"
                                (onRowSelect)="onRowSelectList($event)" [scrollable]="true" scrollHeight="220px"
                                [virtualScroll]="true" selectionMode="single" [(selection)]="conditions">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>{{title_From}}</th>
                                        <th>{{title_page_to}}</th>
                                        <th>{{title_Rate}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data let-i="rowIndex">
                                    <tr [pSelectableRow]="data">
                                        <td>{{data.bonusrate_from}}</td>
                                        <td>{{data.bonusrate_to}}</td>
                                        <td>{{data.bonusrate_rate}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-accordionTab>
                    </p-accordion>
                </div>
                <br>
                <div style="text-align: right;">
                    <button *ngIf="!edit_data" pRipple pButton type="submit" label="{{ title_save }}" icon="pi pi-save"
                        [disabled]="!Form.form.valid" (click)="Save()" class="button-size"></button>

                    <button *ngIf="edit_data" pRipple pButton type="submit" (click)="Save()" label="{{ title_save }}"
                        icon="pi pi-save"
                        [disabled]="(!Form.form.valid == this.accessData.accessdata_edit)|| !this.accessData.accessdata_edit"
                        class="button-size"></button>


                    <!-- <button pButton type="button" class="button-size" label="{{title_save}}" icon="pi pi-save"
                       [disabled]="!Form.form.valid" (click)="Save()"></button> -->
                    &nbsp;
                    <button *ngIf="edit_data" pButton type="button" label="{{title_delete}}" icon="pi pi-trash"
                        class="p-button-secondary button-size btndel" (click)="Delete()"
                        [disabled]="!this.accessData.accessdata_delete"></button>
                </div>
            </div>
        </p-dialog>
        <div *ngIf="new_data" style="z-index: 1084;"
            class="p-component-overlay p-sidebar-mask p-component-overlay-enter"></div>
    </form>
    <!-- --------------End form Input Data ------------------ -->
</div>


<p-dialog header="{{title_Workage}}" [(visible)]="displayaddcondition" [maximizable]="true" (onHide)="closedispaly()">
    <div class="formatt">


        <label>{{title_From}}</label>
        <p-inputNumber mode="decimal" [showButtons]="false" inputId="currency"  
            [maxFractionDigits]="2"   [(ngModel)]="conditions.bonusrate_from">
        </p-inputNumber>

        <label>{{title_page_to}}</label>
        <p-inputNumber mode="decimal" [showButtons]="false" inputId="currency"  
            [maxFractionDigits]="2"   [(ngModel)]="conditions.bonusrate_to">
        </p-inputNumber>
         
        <label>{{title_Rate}}</label>
        <p-inputNumber mode="decimal" [showButtons]="false" inputId="currency"  
        [minFractionDigits]="2"    [maxFractionDigits]="2"   [(ngModel)]="conditions.bonusrate_rate">
        </p-inputNumber>


    </div>
    <ng-template pTemplate="footer">
        <button *ngIf="displayeditcondition" pButton type="button" label="{{title_delete}}" icon="pi pi-trash"
            class="p-button-danger" (click)="Deletelate()"></button>
        <button pButton type="button" label="{{title_save}}" icon="pi pi-check" (click)="Savelate()"></button>
    </ng-template>
</p-dialog>

<!-- Dialog Choose File Import -->
<p-dialog class="uploadfile" header="Upload" [(visible)]="displayUpload">
    <label class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            required (change)="handleFileInput($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="Uploadfile()" label="Upload"></p-button>
    </ng-template>
</p-dialog>
<div *ngIf="displayUpload" style="z-index: 1084;" class="p-component-overlay p-sidebar-mask p-component-overlay-enter">
</div>
<!-- -----------------End Dialog Choose File-------------------- -->


<!-- ConfirmDialog and toast Noti -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" key="myDialog"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<!-- ----------------------END Confirm and Toast------------------------ -->