<!-- <app-companys></app-companys> -->


<span style="font-size: 20px">System</span>&nbsp;
<i class="pi pi-angle-right"></i>&nbsp; <small>{{ title_page }}</small>
<!-- <a routerLink="../../system/CompanysComponent">test1</a> -->
<hr />


<table class="table_tools">
    <tr>
        <td align="left">
            <table class="table_item">
                <tr>
                    <td align="left">
                        <div *ngIf="dt2">
                            <span (click)="doLoadMenu()"><i class="ace-icon fa  fa-plus bigger-120">&nbsp;</i>&nbsp;</span>
                        </div>
                        <div *ngIf="dt2">
                            <!-- <button mat-icon-button color="default" (click)="doLoadMenu()">กลับ</button> -->
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>




<p-toast position="top-right"></p-toast>

<p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<p-toast position="top-right"></p-toast>

<p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<p-dialog
    header="{{ title_upload }}"
    [(visible)]="displayUpload"
    [style]="{ width: '40vw' }"
>
    <p class="custom-file-upload">
        <input
            type="file"
            id="file"
            style="width: 300px"
            (change)="handleFileInput($any($event).target.files)"
        />
    </p>
    <ng-template pTemplate="footer">
        <p-button
            icon="pi pi-upload"
            (click)="doUploadCompany()"
            label="{{ title_upload }}"
            styleClass="p-button-text"
        ></p-button>
    </ng-template>
</p-dialog>
<div class="field col-12 md:col-12">
    <p-menubar [model]="items"></p-menubar>
    <div class="grid">
        <div class="col-12 md:col-12" #TABLE>
            <p-table
                #dt2
                [value]="company_list"
                styleClass="p-datatable-sm"
                [tableStyle]="{ 'min-width': '70rem' }"
                [scrollable]="true"
                scrollHeight="500px"
                [virtualScroll]="true"
                selectionMode="single"
                [(selection)]="selectedCompany"
                dataKey="company_code"
                [rows]="30"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 20, 50]"
                [paginator]="false"
                currentPageReportTemplate="{{ title_page_from }} {first} {{
                    title_page_to
                }} {last} {{ title_page_total }} {totalRecords} {{
                    title_page_record
                }}"
                [globalFilterFields]="[
                    'company_code',
                    'company_initials',
                    'company_name_th',
                    'modified_by',
                    'modified_date'
                ]"
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="dt2.filterGlobal($any($event).target.value,'contains')"placeholder="{{ title_search }}"
                            />
                        </span>
                    </div>
                </ng-template>


                <ng-template pTemplate="header" >
                    <tr>
                        <th>รหัส</th>
                        <th>ชื่อย่อ</th>
                        <th>ชื่อบริษัท</th>
                        <th>Edit by</th>
                        <th>Edit date</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-data>
                    <tr [pSelectableRow]="data">
                        <th>{{data.company_code}}</th>
                        <th>{{data.company_initials}}</th>
                        <th>{{data.company_name_th}}</th>
                        <th>{{data.modified_by}}</th>
                        <th>
                            {{ data.modified_date | date : "dd/MM/yyyy HH:mm" }}
                        </th>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>




