<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>
<br>
<form (ngSubmit)="Save()" #Form="ngForm">
    <div style="display: flex; flex-direction: column; max-width: 420px; gap: 3px;">
        <label>{{language =='TH'?'เปลี่ยนรหัสผ่าน':'Current Password'}}<span style="color: red;"> *</span></label>
        <p-password [(ngModel)]="cur_password" [feedback]="false" [toggleMask]="true" name="cur" #cur="ngModel"
            required></p-password>
        <label class="pt-5">{{language =='TH'?'รหัสผ่านใหม่':'New Password'}}<span style="color: red;"> *</span></label>
        <label>{{language =='TH'?'รหัสผ่าน':'Password'}}<span style="color: red;"> *</span></label>
        <p-password [(ngModel)]="new_password" [feedback]="false" [toggleMask]="true" name="new" #new="ngModel"
            required></p-password>
        <label>{{language =='TH'?'ยืนยันรหัสผ่าน':'Confirm Password'}}<span style="color: red;"> *</span></label>
        <p-password [ngClass]="{'ng-dirty' : new_password != confirm_password}" [(ngModel)]="confirm_password"
            [feedback]="false" [toggleMask]="true" name="confirm" #confirm="ngModel" required></p-password>
        <button pRipple pButton type="submit" label="{{language=='TH'?'เปลี่ยนรหัสผ่าน':'Change Passowrd'}}"
            icon="pi pi-check" [disabled]="!Form.form.valid || new_password != confirm_password"
            class="p-button-primary mt-3"></button>
    </div>
</form>