
<h4>Self Services</h4>
<br>

<span>Links</span>
<p></p>
<div class="grid">

    
    <div class="col-12 md:col-3">
        <b>Request</b>
        <a >Leave</a>
        <a >Shift</a>
        <a >Overtime</a>
        <a >Daytype</a>
        <a >Punchcard</a>
        <a >Check IN/OUT</a> 
            
               
    </div>

    <div class="col-12 md:col-3">
        <b>Employee</b>
       
        <a >Uniform</a>        
               
    </div>

    <div class="col-12 md:col-3">
        <b>PDPA</b>
        <a >Privacy</a>
        <a >Consent</a>
        <a >Submit a request</a>       
    </div>



</div>