<p-dialog header="{{langs.get('login')[selectlang]}}" [(visible)]="displayManage" [style]="{width: '30vw'}"
    [draggable]="false" [closable]="false">
    <div class="loginform">
        <label for="ppos_shift_code">{{langs.get('company')[selectlang]}}</label>
        <p-dropdown class="selectyaer" [options]="company_list" [(ngModel)]="comselected" (onChange)="selectcom()"
            optionLabel={{comdis}} (keyup.enter)="doLogin()"></p-dropdown>
        <label>{{langs.get('username')[selectlang]}}</label>
        <input type="text" pInputText [(ngModel)]="user" [autofocus]="true" />
        <label>{{langs.get('password')[selectlang]}}</label>
        <p-password [(ngModel)]="pass" [feedback]="false" [toggleMask]="true" (keyup.enter)="doLogin()"></p-password>
        <button pButton type="button" label="{{langs.get('login')[selectlang]}}" icon="pi pi-lock"
            (click)="doLogin()"></button>
        <div class="lang">
            <p [ngClass]="(selectlang=='TH')?'color':''" (click)="changelang('TH')">TH</p>
            <p> | </p>
            <p [ngClass]="(selectlang=='EN')?'color':''" (click)="changelang('EN')">EN</p>
        </div>
    </div>
</p-dialog>

<p-dialog header="{{langs.get('login')[selectlang]}}" [(visible)]="displaygroupManage" [style]="{width: '30vw'}"
    [draggable]="false" [closable]="false">
    <div class="loginform">
        <label>{{langs.get('year')[selectlang]}}</label>
        <p-dropdown appendTo="body" class="selectyaer" [options]="yearperiods_list" [(ngModel)]="yearperiods_select"
            (onChange)="selectyear()" optionLabel="year_code"></p-dropdown>
        <div class="input_radio">
            <input type="radio" name="fav_year" value="M" [(ngModel)]="emp_type" (change)="selectEmptype()">
              <label>{{langs.get('monthly')[selectlang]}} </label>
            <input type="radio" name="fav_year" value="D" [(ngModel)]="emp_type" (change)="selectEmptype()">
              <label>{{langs.get('daily')[selectlang]}} </label>
            <!-- <input name="notification" type="radio" id="RadioGroup1_0" value="Course" checked="checked" />
                <label>TAX</label>
                <input routerLink="../../system/system-yearperiods" type="radio" name="individual" value="Time">
                <label>Leave</label> -->
        </div>
        <label>{{langs.get('period')[selectlang]}}</label>
        <p-dropdown appendTo="body" class="selectyaer" [options]="periods_list" [(ngModel)]="periods_select"
            (onChange)="selectperiod()" optionLabel={{perioddis}}></p-dropdown>
        <button pButton type="button" label="{{langs.get('confirm')[selectlang]}}" (click)="selectuser()"></button>
    </div>
</p-dialog>

<p-dialog [(visible)]="display" [style]="{ 'width': '400px' }" [draggable]="false" [closable]="false">
    <div style="
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
    ">
        <h2>Two-Factor Authentication</h2>
        <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false" [maxlength]="6"
            [(ngModel)]="twofactor" class="text2fa" pAutoFocus #input (keyup.enter)="submitForm()"> </p-inputNumber>
        <button style="padding-top: 10px;" type="button" pButton label="Submit" class="p-button-primary"
            (click)="submitForm()"></button>
    </div>
</p-dialog>

<app-spinner [loadding]="initail_current.loading"></app-spinner>