.spn_title_edit{
    margin: 70px 0px 10px 15px;
    font-weight: bold;
    font-size: 15px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.p-dialog-content::ng-deep {
    overflow-y: hidden;
    padding: 20px 0.5rem 4rem 0.5rem;
    
  }
  .hovered {
    background-color: #f34646 !important;
  }
  .gray-button {
    background-color: #73737333;
     border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
   
