// <!-- eslint-disable @angular-eslint/template/eqeqeq -->
// <!-- Link Page -->
// <div class="path">
//     <span>Payroll</span>
//     <div>
//         <i></i>
//         <a routerLink="/payroll/policy">policy</a>
//         <i></i>
//         <small>Calculation Period</small>

//     </div>
// </div>
// <hr>
// <!-- Menu New Import Export Data -->
// <div>
//     <p-menubar [model]="items"></p-menubar>
// </div>
// <!-- ----------------END MENU----------------- -->
// <div class="tabledata">
//     <!-- Table Show Data Time Period -->
//     <div #TABLE>
//         <p-table #dt2 [value]="timeperiods_list"
//             selectionMode="single" [(selection)]="timeperiods" (onRowSelect)="onRowSelect($event)" [rows]="12"
//             [showCurrentPageReport]="true" [rowsPerPageOptions]="[12,25,50]" [paginator]="true"
//             currentPageReportTemplate="{{langs.get('showing')[selectlang]}} {first} {{langs.get('to')[selectlang]}} {last} {{langs.get('of')[selectlang]}}  {totalRecords} {{langs.get('entries')[selectlang]}}"
//             [globalFilterFields]="['period_name_en','period_name_th','period_from','period_to','period_payment','modified_by','modified_date']"
//             responsiveLayout="stack" [breakpoint]="'744px'">
//             <!-- Form Search Table -->
//             <ng-template pTemplate="caption">
//                 <div class="searchtable">
//                     <div>
//                         <!-- Dropdown Select Year -->
//                         <p-dropdown class="selectyaer" [options]="yaerList" [(ngModel)]="selectedyear"
//                             (onChange)="selectYear()" optionLabel="name"></p-dropdown>
//                         <!-- ------------------END Dropdown Select Year------------------------- -->
//                         <!-- Radio Select Day and Month -->
//                         <div>
//                             <input type="radio" name="fav_language" value="M" [(ngModel)]="emptype"
//                                 (change)="selectYear()">
//                             <label>1 monthly</label>
//                             <input type="radio" name="fav_language" value="D" [(ngModel)]="emptype"
//                                 (change)="selectYear()">
//                             <label>2daily</label>
//                         </div>
//                         <!-- -----------END Radio Select------------ -->
//                     </div>

//                     <span class="p-input-icon-left">
//                         <i class="pi pi-search"></i>
//                         <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
//                             placeholder="{{langs.get('search')[selectlang]}}" />
//                     </span>
//                 </div>
//             </ng-template>
//             <!-- --------------END Form Search Table------------------ -->
//             <ng-template pTemplate="header">
//                 <tr>
//                     <th>{{langs.get('no')[selectlang]}}</th>
//                     <th>{{langs.get('description')[selectlang]}}</th>
//                     <th>{{langs.get('fromdate')[selectlang]}}</th>
//                     <th>{{langs.get('todate')[selectlang]}}</th>
//                     <th>{{langs.get('payment')[selectlang]}}</th>
//                     <th>{{langs.get('modified_by')[selectlang]}}</th>
//                     <th>{{langs.get('modified_date')[selectlang]}}</th>
//                 </tr>
//             </ng-template>
//             <ng-template pTemplate="body" let-data let-i="rowIndex">
//                 <tr [pSelectableRow]="data">
//                     <td><span>{{langs.get('no')[selectlang]}}</span>{{i+1}}</td>
//                     <td><span>{{langs.get('description')[selectlang]}}</span>{{selectlang=="EN"?data.period_name_en:data.period_name_th}}
//                     </td>
//                     <td><span>{{langs.get('fromdate')[selectlang]}}</span>{{data.period_from | date:'dd/MM/yyyy'}}</td>
//                     <td><span>{{langs.get('todate')[selectlang]}}</span>{{data.period_to | date:'dd/MM/yyyy'}}</td>
//                     <td><span>{{langs.get('payment')[selectlang]}}</span>{{data.period_payment | date:'dd/MM/yyyy'}}
//                     </td>
//                     <td><span>{{langs.get('modified_by')[selectlang]}}</span>{{data.modified_by}}</td>
//                     <td><span>{{langs.get('modified_date')[selectlang]}}</span>{{data.modified_date |
//                         date:'dd/MM/yyyy'}}</td>

//                 </tr>
//             </ng-template>
//         </p-table>
//     </div>
//     <!-- -----------------------END Table-------------------------- -->

//     <!-- Form input or Edit Data Year Period -->
//     <div class="formatt" *ngIf="new_data==true">
//         <i (click)="close()"></i>

//         <label>{{langs.get('code')[selectlang]}}</label>
//         <input pInputText type="text" [(ngModel)]="timeperiods.period_no" maxlength="2"  disabled="{{edit_data}}"/>
//         <p>{{timeperiods.period_no.length}}/2</p>

//         <label>{{langs.get('description')[selectlang]}} (Eng.)</label>
//         <textarea [(ngModel)]="timeperiods.period_name_en" pInputTextarea [autoResize]="true"></textarea>

//         <label>{{langs.get('description')[selectlang]}} (Thai)</label>
//         <textarea [(ngModel)]="timeperiods.period_name_th" pInputTextarea [autoResize]="true"></textarea>

//         <label>{{langs.get('fromdate')[selectlang]}}</label>
//         <p-calendar appendTo="body" [(ngModel)]="timeperiods.period_from" dateFormat="dd/mm/yy"><input
//                 type="text"></p-calendar>

//         <label>{{langs.get('todate')[selectlang]}}</label>
//         <p-calendar appendTo="body" [(ngModel)]="timeperiods.period_to" dateFormat="dd/mm/yy"><input
//                 type="text"></p-calendar>

//         <label>{{langs.get('payment')[selectlang]}}</label>
//         <p-calendar appendTo="body" [(ngModel)]="timeperiods.period_payment" dateFormat="dd/mm/yy"><input
//                 type="text"></p-calendar>
//         <div>
//             <input type="checkbox" value="1" [(ngModel)]="timeperiods.period_dayonperiod">
//               <label>{{langs.get('day_pay')[selectlang]}}</label>
//         </div>

//         <button pButton type="button" label="{{langs.get('save')[selectlang]}}" icon="pi pi-check"
//             (click)="Save()"></button>
//         <button *ngIf="edit_data" pButton type="button" label="{{langs.get('delete')[selectlang]}}" (click)="Delete()"
//             icon="pi pi-trash" class="p-button-danger"></button>
//     </div>
//     <!-- --------------End form Input Data ------------------ -->
// </div>

// <!-- Dialog Choose File Import -->
// <p-dialog class="uploadfile" header="{{langs.get('upload')[selectlang]}}" [(visible)]="displayUpload">
//     <label class="drop-container">
//         <span class="drop-title">{{langs.get('dropfile')[selectlang]}}</span>
//         <input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required (change)="handleFileInput($any($event).target.files)">
//     </label>
//     <ng-template pTemplate="footer">
//         <p-button icon="pi pi-upload" (click)="Uploadfile()" label="{{langs.get('upload')[selectlang]}}"></p-button>
//     </ng-template>
// </p-dialog>


// <!-- -----------------End Dialog Choose File-------------------- -->


// <!-- ConfirmDialog and toast Noti -->
// <p-toast position="top-right"></p-toast>
// <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
//     rejectButtonStyleClass="p-button-text"></p-confirmDialog>
// <!-- ----------------------END Confirm and Toast------------------------ -->



////
// <!-- eslint-disable @angular-eslint/template/eqeqeq -->
// <!-- Link Page -->
// <div class="path">
//     <span>Payroll</span>
//     <div>
//         <i></i>
//         <a routerLink="/payroll/policy">policy</a>
//         <i></i>
//         <small>Calculation Period</small>

//     </div>
// </div>
// <hr>
// <!-- Menu New Import Export Data -->
// <div>
//     <p-menubar [model]="items"></p-menubar>
// </div>
// <!-- ----------------END MENU----------------- -->


// <div class="tabledata">
//     <!-- Table Show Data -->
//     <div #TABLE>
//         <p-table #dt2 [value]="timeperiods_list" [scrollable]="true" scrollHeight="60vh" [virtualScroll]="true"
//         selectionMode="single" [(selection)]="timeperiods" (onRowSelect)="onRowSelect($event)" [rows]="12"
//         [showCurrentPageReport]="true" [rowsPerPageOptions]="[12,25,50]" [paginator]="true"
//         currentPageReportTemplate="title_page_from {first} title_page_to {last} title_page_total {totalRecords} title_page_record"
//         [globalFilterFields]="['from','to','tax','modified_by','modified_date']">
//         <!-- Form Search Table -->
//             <ng-template pTemplate="caption">
//                 <div class="searchtable">

//                     <div>
//                         <!-- Dropdown Select Year -->
//                         <p-dropdown class="selectyaer" [options]="yaerList" [(ngModel)]="selectedyear"
//                             (onChange)="selectYear()" optionLabel="name"></p-dropdown>
//                         <!-- ------------------END Dropdown Select Year------------------------- -->
//                         <!-- Radio Select Day and Month -->
//                         <div>
//                             <input type="radio" name="fav_language" value="M" [(ngModel)]="emptype"
//                                 (change)="selectYear()">
//                             <label>1 monthly</label>
//                             <input type="radio" name="fav_language" value="D" [(ngModel)]="emptype"
//                                 (change)="selectYear()">
//                             <label>2daily</label>
//                         </div>
//                         <!-- -----------END Radio Select------------ -->
//                     </div>

                    
//                     <span class="p-input-icon-left ml-auto">
//                         <i class="pi pi-search"></i>
//                         <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
//                             placeholder="title_search" />
//                     </span>
//                 </div>
//             </ng-template>
//         <!-- --------------END Form Search Table------------------ -->
//         <ng-template pTemplate="header">
//             <tr>
//                 <th>{{langs.get('no')[selectlang]}}</th>
//                 <th>{{langs.get('description')[selectlang]}}</th>
//                 <th>{{langs.get('fromdate')[selectlang]}}</th>
//                 <th>{{langs.get('todate')[selectlang]}}</th>
//                 <th>{{langs.get('payment')[selectlang]}}</th>
//                 <th>{{langs.get('modified_by')[selectlang]}}</th>
//                 <th>{{langs.get('modified_date')[selectlang]}}</th>
//             </tr>
//         </ng-template>
//         <ng-template pTemplate="body" let-data let-i="rowIndex">
//             <tr [pSelectableRow]="data">
//                 <td><span>{{langs.get('no')[selectlang]}}</span>{{i+1}}</td>
//                 <td><span>{{langs.get('description')[selectlang]}}</span>{{selectlang=="EN"?data.period_name_en:data.period_name_th}}
//                 </td>
//                 <td><span>{{langs.get('fromdate')[selectlang]}}</span>{{data.period_from | date:'dd/MM/yyyy'}}</td>
//                 <td><span>{{langs.get('todate')[selectlang]}}</span>{{data.period_to | date:'dd/MM/yyyy'}}</td>
//                 <td><span>{{langs.get('payment')[selectlang]}}</span>{{data.period_payment | date:'dd/MM/yyyy'}}
//                 </td>
//                 <td><span>{{langs.get('modified_by')[selectlang]}}</span>{{data.modified_by}}</td>
//                 <td><span>{{langs.get('modified_date')[selectlang]}}</span>{{data.modified_date |
//                     date:'dd/MM/yyyy'}}</td>

//             </tr>
//         </ng-template>
//     </p-table>
// </div>
// <!-- -----------------------END Table-------------------------- -->

//     <!-- Form input or Edit Data Year Period -->
//     <div class="formatt" *ngIf="new_data==true">
//         <i (click)="close()"></i>

//         <label>{{langs.get('code')[selectlang]}}</label>
//         <input pInputText type="text" [(ngModel)]="timeperiods.period_no" maxlength="2"  disabled="{{edit_data}}"/>
//         <p>{{timeperiods.period_no.length}}/2</p>

//         <label>{{langs.get('description')[selectlang]}} (Eng.)</label>
//         <textarea [(ngModel)]="timeperiods.period_name_en" pInputTextarea [autoResize]="true"></textarea>

//         <label>{{langs.get('description')[selectlang]}} (Thai)</label>
//         <textarea [(ngModel)]="timeperiods.period_name_th" pInputTextarea [autoResize]="true"></textarea>

//         <label>{{langs.get('fromdate')[selectlang]}}</label>
//         <p-calendar appendTo="body" [(ngModel)]="timeperiods.period_from" dateFormat="dd/mm/yy"><input
//                 type="text"></p-calendar>

//         <label>{{langs.get('todate')[selectlang]}}</label>
//         <p-calendar appendTo="body" [(ngModel)]="timeperiods.period_to" dateFormat="dd/mm/yy"><input
//                 type="text"></p-calendar>

//         <label>{{langs.get('payment')[selectlang]}}</label>
//         <p-calendar appendTo="body" [(ngModel)]="timeperiods.period_payment" dateFormat="dd/mm/yy"><input
//                 type="text"></p-calendar>
//         <div>
//             <input type="checkbox" value="1" [(ngModel)]="timeperiods.period_dayonperiod">
//               <label>{{langs.get('day_pay')[selectlang]}}</label>
//         </div>

//         <button pButton type="button" label="{{langs.get('save')[selectlang]}}" icon="pi pi-check"
//             (click)="Save()"></button>
//         <button *ngIf="edit_data" pButton type="button" label="{{langs.get('delete')[selectlang]}}" (click)="Delete()"
//             icon="pi pi-trash" class="p-button-danger"></button>
//     </div>
//     <!-- --------------End form Input Data ------------------ -->
// </div>

// <!-- Dialog Choose File Import -->
// <p-dialog class="uploadfile" header="{{langs.get('upload')[selectlang]}}" [(visible)]="displayUpload">
//     <label class="drop-container">
//         <span class="drop-title">{{langs.get('dropfile')[selectlang]}}</span>
//         <input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required (change)="handleFileInput($any($event).target.files)">
//     </label>
//     <ng-template pTemplate="footer">
//         <p-button icon="pi pi-upload" (click)="Uploadfile()" label="{{langs.get('upload')[selectlang]}}"></p-button>
//     </ng-template>
// </p-dialog>


// <!-- -----------------End Dialog Choose File-------------------- -->


// <!-- ConfirmDialog and toast Noti -->
// <p-toast position="top-right"></p-toast>
// <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
//     rejectButtonStyleClass="p-button-text"></p-confirmDialog>
// <!-- ----------------------END Confirm and Toast------------------------ -->