<p-breadcrumb class="max-w-full" [model]="itemslike" [home]="home"></p-breadcrumb>
<br> 
<div class="card" style="min-width: 600px; min-height: 500px">

    <div class="grid">
        <div class="col-12 md:col-2">
            <h5>{{this.title_newemployee[this.initial_current.Language]}}</h5>
            <p-inputSwitch></p-inputSwitch>
        </div>
        <div class="col-12 md:col-2">
            <h5>{{this.title_resign[this.initial_current.Language]}}</h5>
            <p-inputSwitch></p-inputSwitch>
        </div>
        <div class="col-12 md:col-2">
            <h5>{{this.title_aplication[this.initial_current.Language]}}</h5>
            <p-inputSwitch></p-inputSwitch>
        </div>
        <div class="col-12 md:col-2">
            <h5>{{this.title_hire[this.initial_current.Language]}}</h5>
            <p-inputSwitch></p-inputSwitch>
        </div>

        <div class="col-12 md:col-4"></div>

        <div class="col-12 md:col-2">
            <h5>{{this.title_birthday[this.initial_current.Language]}}</h5>
            <p-inputSwitch></p-inputSwitch>
        </div>
        <div class="col-12 md:col-2">
            <h5>{{this.title_expired[this.initial_current.Language]}}</h5>
            <p-inputSwitch></p-inputSwitch>
        </div>
        <div class="col-12 md:col-2">
            <h5>{{this.title_end[this.initial_current.Language]}}</h5>
            <p-inputSwitch></p-inputSwitch>
        </div>
        <div class="col-12 md:col-2">
            <h5>{{this.title_over[this.initial_current.Language]}}</h5>
            <p-inputSwitch></p-inputSwitch>
        </div>
        <div class="col-12 md:col-4"></div>

        <div class="col-12 ">
            <hr>
        </div>
        <div class="col-12 md:col-2">
            <h5>{{this.title_newUnitproject[this.initial_current.Language]}}</h5>
            <p-inputSwitch></p-inputSwitch>
        </div>
        <div class="col-12 md:col-2">
            <h5>{{this.title_adjust[this.initial_current.Language]}}</h5>
            <p-inputSwitch></p-inputSwitch>
        </div>
        <div class="col-12 md:col-2">
            <h5>{{this.title_transfer[this.initial_current.Language]}}</h5>
            <p-inputSwitch></p-inputSwitch>
        </div>
        <div class="col-12 md:col-2">
            <h5>{{this.title_wage[this.initial_current.Language]}}</h5>
            <p-inputSwitch></p-inputSwitch>
        </div>
        <div class="col-12 md:col-4"></div>

    </div>
</div>