
<h4>Notification system</h4>
<br>

<div class="grid">
    <div class="col-12 md:col-2">
        <h5>พนักงานเข้าใหม่</h5>
        <p-inputSwitch ></p-inputSwitch>
    </div>
    <div class="col-12 md:col-2">
        <h5>พนักงานลาออก</h5>
        <p-inputSwitch ></p-inputSwitch>
    </div>
    <div class="col-12 md:col-2">
        <h5>สมัครงาน</h5>
        <p-inputSwitch ></p-inputSwitch>
    </div>
    <div class="col-12 md:col-2">
        <h5>ว่าจ้าง</h5>
        <p-inputSwitch ></p-inputSwitch>
    </div>

    <div class="col-12 md:col-4"></div>

    <div class="col-12 md:col-2">
        <h5>วันเกิด</h5>
        <p-inputSwitch ></p-inputSwitch>
    </div>
    <div class="col-12 md:col-2">
        <h5>บัตรหมดอายุ</h5>
        <p-inputSwitch ></p-inputSwitch>
    </div>
    <div class="col-12 md:col-2">
        <h5>พนักงานพ้นทดลองงาน</h5>
        <p-inputSwitch ></p-inputSwitch>
    </div>
    <div class="col-12 md:col-2">
        <h5>อายุพนักงานเกิน</h5>
        <p-inputSwitch ></p-inputSwitch>
    </div>
    <div class="col-12 md:col-4"></div>

    <div class="col-12 "><hr></div>
    <div class="col-12 md:col-2">
        <h5>หน่วยงานใหม่</h5>
        <p-inputSwitch ></p-inputSwitch>
    </div>
    <div class="col-12 md:col-2">
        <h5>ปรับเปลี่ยนต้นทุน</h5>
        <p-inputSwitch ></p-inputSwitch>
    </div>
    <div class="col-12 md:col-2">
        <h5>โอนย้ายพนักงาน</h5>
        <p-inputSwitch ></p-inputSwitch>
    </div>
    <div class="col-12 md:col-2">
        <h5>ค่าจ้างเกินต้นทุน</h5>
        <p-inputSwitch ></p-inputSwitch>
    </div>
    <div class="col-12 md:col-4"></div>

</div>

