<!-- Link Page -->
<!-- <div class="path">
    <span>{{langs.get('title')[selectlang]}}</span>
    <div>
        <i></i>
        <a routerLink="/self/employee">{{langs.get('employee')[selectlang]}}</a>
        <i></i>
        <small>{{langs.get('title_leave')[selectlang]}}</small>
    </div>
</div> -->
<p-breadcrumb class="max-w-full" [model]="mainMenuItems" [home]="homeIcon"></p-breadcrumb>
<!-- ---------END Link Page----------- -->
<hr>
<p-dialog header="{{langs.get('manage')[selectlang]}}" [(visible)]="displayManage" [style]="{width: '40vw'}"
    [position]="position" (onHide)="closeManage()">
    <div class="formgrid grid align-items-end">

        <div class="field col-12">
            <div class="formgroup-inline">
                <div class="field-radiobutton">
                    <p-radioButton name="leavetype" value="F" [(ngModel)]="leavetype" inputId="leavetype"
                        (ngModelChange)="ChangeType()" [disabled]="edit_data"></p-radioButton>
                    <label for="leavetype">{{langs.get('full_day')[selectlang]}}</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="leavetype" value="H" [(ngModel)]="leavetype" inputId="leavetype"
                        (ngModelChange)="ChangeType()" [disabled]="edit_data"></p-radioButton>
                    <label for="leavetype">{{langs.get('half_day')[selectlang]}}</label>
                </div>
            </div>
        </div>

        <div class="field col-12">
            <div *ngIf="leavetype=='F'">
                <p-calendar [(ngModel)]="selectedtrtimeleave.timeleave_fromdate" dateFormat="dd/mm/yy"
                    inputId="date_from" [disabled]="edit_data"></p-calendar>
                -
                <p-calendar [(ngModel)]="selectedtrtimeleave.timeleave_todate" dateFormat="dd/mm/yy" inputId="date_to"
                    (onSelect)="doLoadLeaveactualday()" [disabled]="edit_data"></p-calendar>
                &nbsp;&nbsp;&nbsp;
                <span
                    [ngStyle]="{'color': (selectedtrtimeleave.timeleave_actualday <= day) ? 'green' : 'red'}">{{langs.get('actualday')[selectlang]}}
                    {{selectedtrtimeleave.timeleave_actualday}} {{langs.get('day')[selectlang]}}</span>
            </div>
            <div *ngIf="leavetype=='H'" class="half">
                <p-calendar [(ngModel)]="selectedtrtimeleave.timeleave_fromdate" dateFormat="dd/mm/yy"
                    inputId="date_from" [disabled]="edit_data"></p-calendar>
                &nbsp;&nbsp;&nbsp;
                <div class="field col-12">
                    <div class="formgroup-inline">
                        <div class="field-radiobutton">
                            <p-radioButton name="leavetype" value="H1" [(ngModel)]="selectedtrtimeleave.timeleave_type"
                                inputId="leavetype" [disabled]="edit_data"></p-radioButton>
                            <label for="leavetype">{{langs.get('morning')[selectlang]}}</label>
                        </div>
                        <div class="field-radiobutton">
                            <p-radioButton name="leavetype" value="H2" [(ngModel)]="selectedtrtimeleave.timeleave_type"
                                inputId="leavetype" [disabled]="edit_data"></p-radioButton>
                            <label for="leavetype">{{langs.get('afternoon')[selectlang]}}</label>
                        </div>
                    </div>
                </div>
                <p-inputMask mask="99:99" [(ngModel)]="time_half" placeholder="HH:mm"
                    [disabled]="edit_data"></p-inputMask>
            </div>
        </div>

        <div class="field col-12 md:col-6">
            <label for="ppos_shift_code">{{langs.get('leavetype')[selectlang]}}</label>
            <p-dropdown class="selectyaer" [options]="leaveacc_list" [(ngModel)]="selectedleave_type"
                (onChange)="selectLeaveType()" optionLabel='leave_detail' [disabled]="edit_data"></p-dropdown>
            <!-- <p-dropdown placeholder="LS001 : ลาป่วย" optionLabel="name" [showClear]="true"
                [style]="{ width: '100%', overflow: 'visible' }"></p-dropdown> -->
        </div>
        <div class="field col-12 md:col-6">
            <span style="color: green;">{{langs.get('remain')[selectlang]}} {{day}} {{langs.get('day')[selectlang]}}
                {{hour}} {{langs.get('hour')[selectlang]}}</span>
        </div>

        <div class="field col-12 md:col-6">
            <label for="ppos_shift_code">{{langs.get('reason')[selectlang]}}</label>
            <p-dropdown class="selectyaer" [options]="reason_list" [(ngModel)]="reasonselected"
                (onChange)="selectLeavereason()" optionLabel={{reasonedis}}></p-dropdown>
        </div>

        <div class="field col-12" style="display:flex;flex-direction: column;">
            <label for="project_name_th">{{langs.get('note')[selectlang]}}</label>
            <textarea [(ngModel)]="selectedtrtimeleave.timeleave_note" pInputTextarea [autoResize]="true"></textarea>
            <!-- <input id="project_name_th" type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"> -->
        </div>

        <div class="field col-12">
            <p-menubar [model]="items_attfile"></p-menubar>
            <p-table #dt3 [value]="selectedtrtimeleave.reqdoc_data" selectionMode="single"
                [(selection)]="selectedreqdoc" (onRowSelect)="onRowSelectfile($event)" [rows]="10"
                [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                currentPageReportTemplate="{{langs.get('showing')[selectlang]}} {first} {{langs.get('to')[selectlang]}} {last} {{langs.get('of')[selectlang]}}  {totalRecords} {{langs.get('entries')[selectlang]}}"
                [globalFilterFields]="['document_name','created_by','created_date']" responsiveLayout="stack"
                [breakpoint]="'744px'">
                <!-- Form Search Table -->
                <ng-template pTemplate="caption">
                    <div class="searchtable">
                        <div>

                        </div>
                        <!-- <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="dt3.filterGlobal($any($event).target.value, 'contains')"
                                placeholder="{{langs.get('search')[selectlang]}}" />
                        </span> -->
                    </div>
                </ng-template>
                <!-- --------------END Form Search Table------------------ -->
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>{{langs.get('no')[selectlang]}}</th>
                        <th>{{langs.get('file_name')[selectlang]}}</th>
                        <th>{{langs.get('modified_by')[selectlang]}}</th>
                        <th>{{langs.get('modified_date')[selectlang]}}</th>
                        <th>{{langs.get('delete')[this.selectlang]}}</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                    <tr [pSelectableRow]="data">
                        <td><span>{{langs.get('no')[selectlang]}}</span>{{i+1}}</td>
                        <td><span>{{langs.get('file_name')[selectlang]}}</span>{{data.document_name}}</td>
                        <td><span>{{langs.get('modified_by')[selectlang]}}</span>{{data.created_by}}</td>
                        <td><span>{{langs.get('modified_date')[selectlang]}}</span>{{data.created_date |
                            date:'dd/MM/yyyy'}}</td>
                        <td><span>{{langs.get('delete')[selectlang]}}</span><p-button icon="pi pi-trash"
                                styleClass="p-button-danger" (click)="DeleteFile(data)"></p-button></td>

                    </tr>
                </ng-template>
            </p-table>
            <!-- <p-table [tableStyle]="{'min-width': '30rem'}" [scrollable]="true" scrollHeight="100px"
                [virtualScroll]="true" selectionMode="single" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10,25,50]" [paginator]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ชื่อไฟล์</th>
                        <th>ผู้ทำรายการ</th>
                        <th>วันที่ทำรายการ</th>
                    </tr>
                </ng-template>
            </p-table> -->
        </div>
        <div class="field col-12">
            <p-button label="{{langs.get('save')[selectlang]}}" icon="pi pi-save" (click)="Save()"></p-button>
            &nbsp;
            <button *ngIf="edit_data" pButton pRipple type="button" label="{{langs.get('delete')[selectlang]}}"
                class="p-button-danger" (click)="Delete()"></button>
        </div>
        <!-- <div class="field col-12">
            <p-button label="บันทึก" icon="pi pi-save" (click)="Save()"></p-button>
            &nbsp;
            <button pButton pRipple type="button" label="ปิด" class="p-button-outlined p-button-secondary"
                (click)="closeManage()"></button>
        </div> -->

    </div>
</p-dialog>
<div *ngIf="displayManage" style="z-index: 1084;" class="p-component-overlay p-sidebar-mask p-component-overlay-enter"
    (click)="closeManage()"></div>

<div class="grid">

    <div class="col-12">
        <p-menubar [model]="items"></p-menubar>
        <p-table #dt1 [value]="trtimeleave_list" selectionMode="single" [(selection)]="selectedtrtimeleave"
            (onRowSelect)="onRowSelect($event)" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            currentPageReportTemplate="{{langs.get('showing')[selectlang]}} {first} {{langs.get('to')[selectlang]}} {last} {{langs.get('of')[selectlang]}}  {totalRecords} {{langs.get('entries')[selectlang]}}"
            [globalFilterFields]="['timeleave_doc','leave_detail_th','leave_detail_en','timeleave_fromdate','timeleave_todate','timeleave_type','reason_th','reason_en','status_job','modified_by','modified_date']"
            responsiveLayout="stack" [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable1">
                    <div style="display:flex;flex-wrap: wrap;gap: 10px; align-items: center;">
                        <div style="display:flex;flex-wrap: wrap;gap: 10px; align-items: center;"
                            *ngIf="initial_current.Usertype == 'GRP'">
                            {{langs.get('name')[selectlang]}} :
                            <p-dropdown class="searchinput" [options]="account_list" [(ngModel)]="selectedAccount"
                                (onChange)="Search()" optionLabel="{{namedis}}" [filter]="true"
                                filterBy="{{namedis}}"></p-dropdown>
                        </div>
                        {{langs.get('fromdate')[selectlang]}} :
                        <p-calendar class="searchinput" [(ngModel)]="start_date" dateFormat="dd/mm/yy"
                            inputId="date_from"></p-calendar>
                        {{langs.get('todate')[selectlang]}} :
                        <p-calendar class="searchinput" [(ngModel)]="end_date" dateFormat="dd/mm/yy"
                            inputId="date_from"></p-calendar>
                        {{langs.get('status')[selectlang]}} :
                        <p-dropdown class="searchinput" [options]="status_list" [(ngModel)]="status_select"
                            optionLabel="name"></p-dropdown>
                        <p-button icon="pi pi-search" (click)="Search()"></p-button>
                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="searchinput" pInputText type="text"
                            (input)="dt1.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{langs.get('search')[selectlang]}}" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>{{langs.get('no')[selectlang]}}</th>
                    <th>{{langs.get('leave_doc')[selectlang]}}</th>
                    <th>{{langs.get('leavetype')[selectlang]}}</th>
                    <th>{{langs.get('fromdate')[selectlang]}}</th>
                    <th>{{langs.get('todate')[selectlang]}}</th>
                    <th>{{langs.get('form_of_leave')[selectlang]}}</th>
                    <th>{{langs.get('reason')[selectlang]}}</th>
                    <th>{{langs.get('status')[selectlang]}}</th>
                    <th>{{langs.get('modified_by')[selectlang]}}</th>
                    <th>{{langs.get('modified_date')[selectlang]}}</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td><span>{{langs.get('no')[selectlang]}}</span>{{i+1}}</td>
                    <td><span>{{langs.get('leave_doc')[selectlang]}}</span>{{data.timeleave_doc}}</td>
                    <td><span>{{langs.get('leavetype')[selectlang]}}</span>{{selectlang
                        =="EN"?data.leave_detail_en:data.leave_detail_th}}</td>
                    <td><span>{{langs.get('fromdate')[selectlang]}}</span>{{data.timeleave_fromdate |
                        date:'dd/MM/yyyy'}}</td>
                    <td><span>{{langs.get('todate')[selectlang]}}</span>{{data.timeleave_todate | date:'dd/MM/yyyy'}}
                    </td>
                    <td><span>{{langs.get('form_of_leave')[selectlang]}}</span>{{getFulltyupeLeave(data.timeleave_type)}}
                    </td>
                    <td><span>{{langs.get('reason')[selectlang]}}</span>{{selectlang
                        =="EN"?data.reason_en:data.reason_th}}</td>
                    <td><span>{{langs.get('status')[selectlang]}}</span>{{getFullStatus(data.status_job)}}</td>
                    <td><span>{{langs.get('modified_by')[selectlang]}}</span>{{data.modified_by}}</td>
                    <td><span>{{langs.get('modified_date')[selectlang]}}</span>{{data.modified_date |
                        date:'dd/MM/yyyy'}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="col-12">
        <span style="font-size: 20px;">{{langs.get('cumulative_leave')[selectlang]}}</span>&nbsp; <i
            class="pi pi-angle-right"></i>&nbsp;
        <small>{{this.initial_current.PR_Year}}</small>
    </div>
    <div #TABLE class="col-12">
        <p-table #dt2 [value]="leaveacc_list" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            currentPageReportTemplate="{{langs.get('showing')[selectlang]}} {first} {{langs.get('to')[selectlang]}} {last} {{langs.get('of')[selectlang]}}  {totalRecords} {{langs.get('entries')[selectlang]}}"
            [globalFilterFields]="['empleaveacc_annual','leave_name_th','leave_name_en','empleaveacc_used','empleaveacc_remain']"
            responsiveLayout="stack" [breakpoint]="'744px'">
            <!-- Form Search Table -->
            <ng-template pTemplate="caption">
                <div class="searchtable">
                    <div>

                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                            placeholder="{{langs.get('search')[selectlang]}}" />
                    </span>
                </div>
            </ng-template>
            <!-- --------------END Form Search Table------------------ -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>{{langs.get('no')[selectlang]}}</th>
                    <th>{{langs.get('leavetype')[selectlang]}}</th>
                    <th>{{langs.get('leave_annual')[selectlang]}}</th>
                    <th>{{langs.get('leave_used')[selectlang]}}</th>
                    <th>{{langs.get('leave_remain')[selectlang]}}</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <tr class="tablenotselect">
                    <td><span>{{langs.get('no')[selectlang]}}</span>{{i+1}}</td>
                    <td><span>{{langs.get('leavetype')[selectlang]}}</span>{{selectlang=="EN"?data.leave_detail:data.leave_detail}}
                    </td>
                    <td><span>{{langs.get('leave_annual')[selectlang]}}</span>{{getDay(data.empleaveacc_annual)}}</td>
                    <td><span>{{langs.get('leave_used')[selectlang]}}</span>{{getDay(data.empleaveacc_used)}}</td>
                    <td><span>{{langs.get('leave_remain')[selectlang]}}</span>{{getDay(data.empleaveacc_remain)}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<p-dialog class="uploadfile" header="Upload" [(visible)]="Uploadfile">
    <label class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file" #fileUploader accept="" required
            (change)="handleFileInputholidaylist($any($event).target.files)">
    </label>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-upload" (click)="Uploadfiledoc()" label="Upload"></p-button>
    </ng-template>
</p-dialog>